<!-- 로고 -->
<table id="formlogo" cellpadding="0" cellspacing="0" width="100%">
    <colgroup>
		<col style="width: 15%;"/>
		<col style="width: 70%;"/>
		<col style="width: 15%;"/>
	</colgroup>
    <tr>
        <td align="center" style="width:100%;">
            <div class="draft_tit" style="padding-top:30px;">
                <h5><span id="headname" style="display:none;"></span></h5>
            </div>
        </td>
    </tr>
</table>
<table id="tbInitiatorInfo" class="tableStyle linePlus tCenter" cellpadding="0" cellspacing="0" width="100%" style="display:none;">
	<colgroup>
		<col style="width: 15%;"></col>
		<col style="width: 55%;"></col>
		<col style="width: 15%;"></col>
		<col style="width: 15%;"></col>
	</colgroup>
    <tr>
        <th>
            주소
        </th>
        <td>
            <select id="COM_ADDR" data-node-name="COM_ADDR" data-binding="post" data-type="mField" data-element-type="sel_d_t" style="letter-spacing:inherit;" onchange="javascript: fnPutFieldText(0, 'COM_ADDR_SEL', this)">
                <option value="1">(07794)서울시 강서구 마곡중앙8로7길 11 (D&C Campus)</option>
                <option value="2">(03909)서울시 마포구 매봉산로 37 (DMC 산학협력연구센터)</option>
            </select>
        </td>
        <th>
            보존
        </th>
        <td>
            <select data-type="dField" id="SaveTerm" data-element-type="sel_d_v" data-binding="post" onchange="javascript: fnPutFieldText(0, 'SAVE_TERM_SEL', this)"></select>
        </td>
    </tr>
    <tr style="display:none;">
        <td colspan="3">
            <!-- <input type="text" data-type="dField" id="DOC_NO" value="{{ doc.oFormData.DOC_NO }}" data-model="DOC_NO" data-binding="pre" style="width:100%; border:0px; display:none;" readonly="readonly" /> -->
            <input type="text" data-type="mField" id="INITIATOR_TEL" value="{{ doc.BODY_CONTEXT.INITIATOR_TEL }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="INITIATOR_FAX" value="{{ doc.BODY_CONTEXT.INITIATOR_FAX }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="INITIATOR_DEPT" value="{{ doc.BODY_CONTEXT.INITIATOR_DEPT }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_MGR" value="{{ doc.BODY_CONTEXT.INITIATOR_MGR }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_MGR_SIGN" value="{{ doc.BODY_CONTEXT.INITIATOR_MGR_SIGN }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_CHARGE" value="{{ doc.BODY_CONTEXT.INITIATOR_CHARGE }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_EMAIL" value="{{ doc.BODY_CONTEXT.INITIATOR_EMAIL }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="TEMP_DOC_NO" value="{{ doc.BODY_CONTEXT.TEMP_DOC_NO }}" data-binding="pre" style="width:100%;" />
            <input type="text" data-type="mField" id="INITIATOR_DATE_INFO2" value="{{ doc.BODY_CONTEXT.INITIATOR_DATE_INFO2 }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
            <input type="text" data-type="mField" id="SendCC_DP" value="{{ doc.BODY_CONTEXT.SendCC_DP }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
            <input type="text" data-type="mField" id="RecLine_DP" value="{{ doc.BODY_CONTEXT.RecLine_DP }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
            <input type="text" data-type="mField" id="HANDLING" value="{{ doc.BODY_CONTEXT.HANDLING }}" data-binding="pre" style="width:99%; text-align:center;" />
        </td>
    </tr>
</table>
