<!-- 문서분류 -->
<table class="tableStyle linePlus mt10" style="display:none;" cellpadding="0" cellspacing="0">
    <colgroup>
    	<col style="width:12%" />
    	<col style="width:23%">
    	<col style="width:12%" />
    	<col style="width:23%">
    	<col style="width:12%" />
    	<col style="width:*">
    </colgroup>
    <tbody>
	    <tr>
	        <th id="TIT_INITIATOR"><spring:message code='Cache.lbl_apv_initiator'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="mField" id="InitiatorDisplay" value="{{ doc.BodyContext.InitiatorDisplay }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	        <th id="TIT_INITIATOR_OU"><spring:message code='Cache.lbl_WriterDept'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="mField" id="InitiatorOUDisplay" value="{{ doc.BodyContext.InitiatorOUDisplay }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	        <th id="TIT_DOC_NO"><spring:message code='Cache.lbl_apv_DocNo'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="dField" id="DocNo" value="{{ doc.FormInstanceInfo.DocNo }}" data-model="FormInstanceInfo.DocNo" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	    </tr>
	    <tr>
	        <th id="TIT_DOC_CLASS"><spring:message code='Cache.lbl_DocCate'/></th>
	        <td>
	            <input type="text" data-type="dField" id="DocClassName" value="{{ doc.FormInstanceInfo.DocClassName }}" data-model="FormInstanceInfo.DocClassName" data-binding="pre" style="width:70%; border:0px;" readonly="readonly" />&nbsp;
	            <!-- <span data-mode="writeOnly">
	                <img src="/Images/Images/Approval/btn_organization.gif" name="btn_Process" id="btn_Process" align="absMiddle" border="0" onclick="OpenDocClass();" style="cursor:pointer;" />
	            </span> -->
	        </td>
	        <th id="TIT_DOC_LEVEL"><spring:message code='Cache.lbl_SecurityLevel'/></th>
	        <td style="text-align:left;">
	            <select data-type="dField" id="DocLevel" data-element-type="sel_d_v" data-binding="post"></select>
	        </td>
	        <th id="TIT_SAVE_TERM"><spring:message code='Cache.lbl_PreservedDate'/></th>
	        <td style="text-align:left;">
	            <select data-type="dField" id="SaveTerm" data-element-type="sel_d_v" data-binding="post"></select>
	        </td>
	    </tr>
    </tbody>
</table>

<!-- 수신처 -->
<table class="tableStyle linePlus mt10"  style="display: none" cellpadding="0" cellspacing="0" id="ReceiveLine">
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr>
        <th id="TIT_RECLINE"><spring:message code='Cache.lbl_DESTINATION'/></th>
        <td id="RecLine"></td>
    </tr>
</table>