<!-- 로고 -->
<table id="formlogo" cellpadding="0" cellspacing="0" width="100%">
    <colgroup>
		<col style="width: 15%;"/>
		<col style="width: 70%;"/>
		<col style="width: 15%;"/>
	</colgroup>
    <tr>
        <td align="center" style="width:100%;">
            <div class="draft_tit">
                <h5><span id="headname" style="display:none;"></span></h5>
            </div>
        </td>
    </tr>
</table>
<table id="tbInitiatorInfo" class="table_12" cellpadding="0" cellspacing="0" width="100%" style="margin-top:30px;margin-bottom:5px;">
    <tr style="display:none;">
        <td>
            <input type="text" data-type="dField" id="DOC_NO" value="{{ doc.oFormData.DOC_NO }}" data-model="DOC_NO" data-binding="pre" style="width:100%; border:0px; display:none;" readonly="readonly" />
            <input type="text" data-type="mField" id="COM_ADDR" value="{{ doc.BODY_CONTEXT.COM_ADDR }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="COM_ADDR_TEXT" value="{{ doc.BODY_CONTEXT.COM_ADDR_TEXT }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="SAVE_TERM" value="{{ doc.BODY_CONTEXT.SAVE_TERM }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="SAVE_TERM_TEXT" value="{{ doc.BODY_CONTEXT.SAVE_TERM_TEXT }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="INITIATOR_TEL" value="{{ doc.BODY_CONTEXT.INITIATOR_TEL }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="INITIATOR_FAX" value="{{ doc.BODY_CONTEXT.INITIATOR_FAX }}" data-binding="pre" style="width:100px;" />
            <input type="text" data-type="mField" id="INITIATOR_DEPT" value="{{ doc.BODY_CONTEXT.INITIATOR_DEPT }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_MGR" value="{{ doc.BODY_CONTEXT.INITIATOR_MGR }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_MGR_SIGN" value="{{ doc.BODY_CONTEXT.INITIATOR_MGR_SIGN }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_CHARGE" value="{{ doc.BODY_CONTEXT.INITIATOR_CHARGE }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="INITIATOR_EMAIL" value="{{ doc.BODY_CONTEXT.INITIATOR_EMAIL }}" data-binding="pre" style="width:100px;" readonly="readonly" />
            <input type="text" data-type="mField" id="TEMP_DOC_NO" value="{{ doc.BODY_CONTEXT.TEMP_DOC_NO }}" data-binding="pre" style="width:100%;" />
            <input type="text" data-type="mField" id="INITIATOR_DATE_INFO2" value="{{ doc.BODY_CONTEXT.INITIATOR_DATE_INFO2 }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
            <input type="text" data-type="mField" id="HANDLING" value="{{ doc.BODY_CONTEXT.HANDLING }}" data-binding="pre" style="width:99%; text-align:center;" />
        </td>
    </tr>
</table>
