<!-- 문서분류 -->
<table class="tableStyle linePlus mt10 fsbTop" cellpadding="0" cellspacing="0">
    <colgroup>
    	<col style="width:12%" />
    	<col style="width:23%">
    	<col style="width:12%" />
    	<col style="width:23%">
    	<col style="width:12%" />
    	<col style="width:*">
    </colgroup>
    <tbody>
	    <tr>
	        <th id="TIT_INITIATOR"><spring:message code='Cache.lbl_apv_initiator'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="mField" id="InitiatorDisplay" value="{{ doc.BodyContext.InitiatorDisplay }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	        <th id="TIT_INITIATOR_OU"><spring:message code='Cache.lbl_WriterDept'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="mField" id="InitiatorOUDisplay" value="{{ doc.BodyContext.InitiatorOUDisplay }}" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	        <th id="TIT_DOC_NO"><spring:message code='Cache.lbl_apv_DocNo'/></th>
	        <td style="text-align:left;">
	            <input type="text" data-type="dField" id="DocNo" value="{{ doc.FormInstanceInfo.DocNo }}" data-model="FormInstanceInfo.DocNo" data-binding="pre" style="width:100%; border:0px;" readonly="readonly" />
	        </td>
	    </tr>
	    <tr>
	        <th id="TIT_DOC_CLASS"><spring:message code='Cache.lbl_DocCate'/></th>
	        <td>
	            <input type="text" data-type="dField" id="DocClassName" value="{{ doc.FormInstanceInfo.DocClassName }}" data-model="FormInstanceInfo.DocClassName" data-binding="pre" style="width:70%; border:0px;" readonly="readonly" />&nbsp;
	            <span data-mode="writeOnly">
	                <img src="/HtmlSite/smarts4j_n/approval/resources/images/Approval/btn_organization.gif" name="btn_Process" id="btn_Process" align="absMiddle" border="0" onclick="OpenDocClass();" style="cursor:pointer;" />
	            </span>
	        </td>
	        <th id="TIT_DOC_LEVEL"><spring:message code='Cache.lbl_SecurityLevel'/></th>
	        <td style="text-align:left;">
	            <select data-type="dField" id="DocLevel" data-element-type="sel_d_v" data-binding="post"></select>
	        </td>
	        <th id="TIT_SAVE_TERM"><spring:message code='Cache.lbl_PreservedDate'/></th>
	        <td style="text-align:left;">
	            <select data-type="dField" id="SaveTerm" data-element-type="sel_d_v" data-binding="post"></select>
	        </td>
	    </tr>
    </tbody>
</table>

<!-- 수신처 -->
<table class="tableStyle linePlus mt10 fsbTop" style="display: none" cellpadding="0" cellspacing="0" id="ReceiveLine">
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr>
        <th id="TIT_RECLINE"><spring:message code='Cache.lbl_DESTINATION'/></th>
        <td id="RecLine"></td>
    </tr>
</table>

<!-- 참조 -->
<table class="tableStyle linePlus mt10"  style="display: none" cellpadding="0" cellspacing="0" id="CCLine">
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr>
        <th id="TIT_L_CCINFO"><spring:message code='Cache.lbl_apv_Lccinfo'/></th>
        <td>
            <span id="SendCC"></span>
        </td>
    </tr>
    <tr>
        <th id="TIT_R_CCINFO"><spring:message code='Cache.lbl_apv_rccinfo'/></th>
        <td>
            <span id="RecCC"></span>
        </td>
    </tr>
</table>
<!-- header end -->
<!-- bodycontext start -->

<!-- 다안기안 -->
<div id="tblMultiDraftInfo"style="display: none;">
	<table id="MainTable" class="table_3 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
	    <tbody>
			<tr>
	        	<th style="width: 16%"><spring:message code='Cache.lbl_apv_writer'/>&nbsp;<spring:message code='Cache.lbl_PersonNo'/></th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_ID" data-model="DRAFTER_ID" value="{{ doc.BodyData.MainTable.DRAFTER_ID }}" title="신청자 사번" maxlength="50" data-max-char="20" style="width: 98%;" data-binding="pre" disabled required />
	        	</td>
	        	<th style="width: 16%"><spring:message code='Cache.lbl_apv_writer'/>&nbsp;<spring:message code='Cache.lbl_apv_name3'/></th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_NAME" data-model="DRAFTER_NAME" value="{{ doc.BodyData.MainTable.DRAFTER_NAME }}" title="신청자 성명" maxlength="50" data-max-char="20" style="width: 98%;" data-binding="pre" disabled required />
	        	</td>
	    	</tr>
	   	 	<tr>
	        	<th style="width: 16%"><spring:message code='Cache.lbl_apv_writer'/>&nbsp;<spring:message code='Cache.lbl_apv_DeptCode'/></th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_DEPT" data-model="DRAFTER_DEPT" value="{{ doc.BodyData.MainTable.DRAFTER_DEPT }}" title="기안자 부서코드" maxlength="50" data-max-char="50" style="width: 98%;" data-binding="pre" disabled required />
	        	</td>
	        	<th style="width: 16%"><spring:message code='Cache.lbl_apv_writer'/>&nbsp;<spring:message code='Cache.lbl_apv_DeptName'/></th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_DEPTNM" data-model="DRAFTER_DEPTNM" value="{{ doc.BodyData.MainTable.DRAFTER_DEPTNM }}" title="기안자 부서명" maxlength="50" data-max-char="50" style="width: 98%;" data-binding="pre" disabled required />
	        	</td>
	    	</tr>
		</tbody>
	</table>
	<table id="SubTable1" class="table_3 multi-row-table tableStyle linePlus mt10" cellspacing="0" cellpadding="0">
		<tr class="multi-row-control" style="display:none;">
	    	<td colspan="5">
	    		<input type="button" id="btn_new_add" class="multi-row-add" />
	    		<input type="button" id="btn_new_del" class="multi-row-del-auto" />
	    	</td>
	    </tr>
	    <tr>
	        <th><spring:message code='Cache.lbl_apv_no'/></th>
	        <th><spring:message code='Cache.lbl_apv_docType'/></th>
	        <th><spring:message code='Cache.lbl_apv_contextHWP'/></th>
	        <th><spring:message code='Cache.lbl_apv_contextHTML'/></th>
	        <th><spring:message code='Cache.lbl_apv_receive'/><spring:message code='Cache.lbl_apv_type'/></th>
	        <th><spring:message code='Cache.lbl_apv_RecvDeptName'/></th>
	        <th><spring:message code='Cache.btn_apv_recvedept'/>&nbsp;<spring:message code='Cache.lbl_apv_Code'/></th>
	        <th><spring:message code='Cache.lbl_apv_subject'/></th>
	        <th><spring:message code='Cache.lbl_attach'/></th>
	        <th><spring:message code='Cache.lbl_apv_linkdoc'/></th>
	        <th><spring:message code='Cache.lbl_Address'/></th>
	        <th><spring:message code='Cache.lbl_recordFileTitle'/></th>
	        <th><spring:message code='Cache.lbl_apv_DivNo'/></th>
	        <th><spring:message code='Cache.lbl_recordRegistType'/></th>
	        <th><spring:message code='Cache.lbl_specialRecord'/></th>
	        <th><spring:message code='Cache.lbl_preservationPeriod'/></th>
	        <th><spring:message code='Cache.lbl_apv_SecurityLevel'/></th>
	        <th><spring:message code='Cache.lbl_apv_Publication'/></th>
	        <th><spring:message code='Cache.lbl_publicationPartDisplay'/></th>
	    </tr>
	    <tr class="multi-row-template">
	    	<td><span data-type="stField" class="multi-row-seq" name="ROWSEQ">1</span></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_DOC_TYPE" value="normal" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_BODY_CONTEXT_HWP" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_BODY_CONTEXT_HTML" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVER_TYPE" value="In" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVENAMES" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIPTLIST" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_TITLE" title="<spring:message code='Cache.lbl_subject'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ATTACH_FILE" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_LINK_DOC" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ADDRESS" disabled /></td>	    	
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_SUBJECT" disabled /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_CLASS_NUM" title="<spring:message code='Cache.lbl_recordFile'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_REGIST_CHECK" title="<spring:message code='Cache.lbl_recordRegistType'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SPECIAL_RECORD" title="<spring:message code='Cache.lbl_specialRecord'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_KEEP_PERIOD" title="<spring:message code='Cache.lbl_preservationPeriod'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SECURE_LEVEL" title="<spring:message code='Cache.lbl_SecurityLevel'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_CHECK" title="<spring:message code='Cache.lbl_apv_Publication'/>" disabled required /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_RESTRICTION" disabled /></td>
	    </tr>
	</table>
</div>

<!-- 탭 -->
<div>
	<div class="buttonLine" id="buttonOut" data-mode="writeOnly">
		<div style="float:right;">
			<input class="AXButton" id="btItemAdd" onclick="addTabClass();" type="button" value="<spring:message code='btn_add_draft'/>"><!-- [안]추가  -->
			<input class="AXButton" id="btItemDel" onclick="delTabClass();" type="button" value="<spring:message code='btn_remove_draft'/>"><!-- [안]삭제  -->
		</div>
	</div>
	<div class="buttonLine" id="buttonOpinion" data-mode="writeOnly" style="display: none;">
		<div style="float:right; margin-right: 5px;">
			<input class="AXButton" id="btItemDel" onclick="delOpinion();" type="button" value="<spring:message code='lbl_deleteOpinion'/>"><!-- 의견서삭제 -->
		</div>
	</div>
	<div class="tabLine" style="margin-top:20px; margin-bottom: -1px;">
		<ul class="writeTab" id="writeTab">
			<li class="on" idx="1" style="width: 60px;" doctype="normal"><a onclick="javascript:changeTab(1);" style="line-height:35px;">1<spring:message code="Cache.lbl_an"/></a></li>
		</ul>
	</div>
</div>

<!-- 제목 -->
<table class="tableStyle linePlus mb10" id="tblFormSubjectMulti" cellpadding="0" cellspacing="0"  style="display:none;">
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr id="SubjectInfoList_Multi">
        <th><spring:message code='Cache.lbl_Title'/></th>
        <td colspan="3" id="SubjectInfoItem_Multi">
          <input type="hidden" data-type="dField" id="Subject" value="{{ doc.FormInstanceInfo.Subject }}" title="<spring:message code='Cache.lbl_Title'/>" data-model="FormInstanceInfo.Subject" data-binding="pre" style="width:99%; height:25px;" required>
          <div id="Subject1">
          	<input type="text" style="height:25px;" class="input-required pattern-active pattern-required-active w100" name="TITLE" data-seq="1" onchange="syncGovInfo(this)">
          </div>
        </td>
    </tr>
</table>

<!-- 버튼 -->
<div class="buttonLine" id="buttonDist" style="height: 40px; display: none;">
	<div style="float: right;">
		<input class="AXButton" id="btDocInfoDist" onclick="OpenDocInfoPopup_Dist();" type="button" value="<spring:message code='Cache.lbl_apv_doc_infomation'/>">
	</div>
</div>
<div class="buttonLine" id="buttonIn" style="height: 40px;" data-mode="writeOnly">
	<div id="divHWPSender" style="float: left; font-size: 12px; display: none;">
		<select id="RecieveSelect" style="font-size:12px;" onChange="RecieveTypeChange()">
			<option value="In"><spring:message code='Cache.lbl_apv_internalDoc'/></option>
			<!-- <option value="Out"><spring:message code='Cache.btn_apv_bankReciever'/></option> -->
		</select>
		&nbsp;&nbsp;
		<span><spring:message code='lbl_apv_originatingName'/></span>
		<select id="SenderSelect" style="font-size:12px;" onChange="SetSender(this)">
			<option value=""><spring:message code='Cache.lbl_selection'/></option>
		</select>
		<input class="AXButton" id="btSetSender" onclick="SetSender(document.getElementById('SenderSelect'));" type="button" value="적용">
	</div>
	<div style="float: right;">
		<input class="AXButton" id="btDocInfo" onclick="OpenDocInfoPopup();" type="button" value="<spring:message code='Cache.lbl_apv_doc_infomation'/>">
		<input class="AXButton" id="btInputHWPContent" onclick="InputHWPContentMulti();" type="button" value="<spring:message code='Cache.btn_inputHWPContent'/>" style="display: none;">
		<input class="AXButton" id="btAttachAdd" onclick="AddFileMulti();" type="button" value="<spring:message code='Cache.btn_addfile'/>">
		<input class="AXButton" id="btDocLinkMulti" onclick="openDocLink();" type="button" value="<spring:message code='Cache.btn_apv_doclink'/>">
		<input class="AXButton" id="btRecieveIn" onclick="setReciever(this);" type="button" value="<spring:message code='Cache.btn_apv_recdept'/>">
		<input class="AXButton" id="btRecieveOut" onclick="setReciever(this);" type="button" value="<spring:message code='Cache.btn_apv_bankReciever'/>" style="display: none;">
		<input class="AXButton" id="btRecieveEtc" onclick="setReciever(this);" type="button" value="<spring:message code='Cache.btn_apv_etcReciever'/>" style="display: none;">
		<span id="spanEtcReceiver" style="display:none; margin-left:20px; font-size:13px;">
			<span><spring:message code='Cache.btn_apv_doclink'/>&nbsp;:&nbsp;</span>
			<input type="text" id="etcReceiver" onkeypress="if (event.keyCode==13){ SetEtcReceiver(this); return false;}"/>
			<input class="AXButton" id="btEtcReceiver" onclick="SetEtcReceiver(document.getElementById('etcReceiver'));" type="button" value="적용">
		</span>
	</div>
</div>
