<article class="portalApproval">
	<div class="mBoardTabCont">
		<div>
			<div class="mNotiTitle">
				<ul class="mSubTabMenu02 clearFloat">
					<li class="active">
						<a onclick="javascript: approvalBox.changeTab(this, 'Approval');" class="tabTitle"><span id="spnTteApprovalBox"> (<span id="divApprovalCnt"></span>)</span></a>
						<a id="btnApprovalMore" href="/approval/layout/approval_ApprovalList.do?CLSYS=approval&CLMD=user&CLBIZ=Approval&mode=Approval" class="btnMainMore">more +</a>
					</li>
					<li>
						<a onclick="javascript: approvalBox.changeTab(this, 'Process');" class="tabTitle"><span id="spnTteProcessBox"> (<span id="divProcessCnt"></span>)</span></a>
						<a id="btnApprovalMore" href="/approval/layout/approval_ApprovalList.do?CLSYS=approval&CLMD=user&CLBIZ=Approval&mode=Process" class="btnMainMore">more +</a>
					</li>
					<li>
						<a onclick="javascript: approvalBox.changeTab(this, 'PreApproval');" class="tabTitle"><span id="spnTtePreApprovalBox"> (<span id="divPreApprovalCnt"></span>)</span></a>
						<a id="btnApprovalMore" href="/approval/layout/approval_ApprovalList.do?CLSYS=approval&CLMD=user&CLBIZ=Approval&mode=PreApproval" class="btnMainMore">more +</a>
					</li>
					<li>
						<a onclick="javascript: approvalBox.changeTab(this, 'TCInfo');" class="tabTitle"><span id="spnTteTCInfoBox"> (<span id="divTCInfoCnt"></span>)</span></a>
						<a id="btnApprovalMore" href="/approval/layout/approval_ApprovalList.do?CLSYS=approval&CLMD=user&CLBIZ=Approval&mode=TCInfo" class="btnMainMore">more +</a>
					</li>
				</ul>
			</div>
			<div class="mApprovalTabView active">
				<ul id="ulApprovalList" class="mainApprovalList"></ul>
			</div>
		</div>
	</div>
</article>
