<div style="padding: 17px;">
	<b>미결함</b>
	<a href="/approval/approval_ApprovalList.do?mn_id=478" style="float:right; margin-right:10px;">more</a>
	<div>
		<table id="approvalBox_approvalList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="180px"/>
	            <col width="80px"/>
	            <col width="87px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>진행함</b>
	<a href="/approval/approval_ApprovalList.do?mn_id=479" style="float:right; margin-right:10px;">more</a>
	<div>
		<table id="approvalBox_processList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="180px"/>
	            <col width="80px"/>
	            <col width="87px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>