<div style="background-color: #f3ffc1; padding:5px; border-radius: 11px; height:190px;" align="center">
	<table>
		<tr><td colspan="2"><h3 style="margin: 3px;">기초설정 구하기(Client-Rendering)</h3></td></tr>	
		<tr>
			<td><input type="text" class="AXInput" id="baseConfigList_baseCodeID" /></td>
			<td><input type="text" class="AXInput" id="baseConfigList_baseCodeResult"/></td>
		</tr>
		<tr align="right"><td colspan="2"><input type="Button" class="AXButton" value="변경" onclick="baseConfigList.getBaseConfig()"/></td></tr>
	</table>
</div>
