<div class="PLinkCalendarwrap">
	<div class="PLinkCalendar">
		<div class="mNotiTitle">
			<h3 id="calendarSchedule_scheduleTitle"><spring:message code='Cache.lbl_webpart_schedule'/></h3> <!-- 일정  -->
			<a class="btnMainMore" id="calendarSchedule_scheduleURL">more +</a>
		</div>	
		<div class="PLinkCalendarcont">
			<div class="scheduleMenu">
				<div class="calContanier">
					<div class="calendarTop active">
						<a class="btnPervArrow" onclick="calendarSchedule.moveMonth('-');">이전</a>
						<span class="calTopdate"></span>
						<a class="btnNextArrow" onclick="calendarSchedule.moveMonth('+');">다음</a>
						<input type="hidden" id="calTopDateVal">
					</div>
					<div class="calCont">
						<div id="calendarSchedule_calendar" class="tablCalendar active">
						</div>
					</div>
				</div>
			</div>
			<div class="PLinkCalendartimelinewrap">
				<div class="PLinkCalendartimeline mScrollV scrollVType01 mCustomScrollbar">
					<ul id="calendarSchedule_ulScheduleList">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
