	<div class="ProjectCEOtBox" id="ceoMail">
		<div class="ProjectCEO_Top">
			<h3 class="ProjectCEO_Toptitle"><span class="ToptitleL">안읽은메일</span><span class="eAPcountStyle c01">0</span></h3>
			<a href="#" class="ProjectCEO_CEOrebtn">more+</a>
		</div>
		<div class="ProjectCEO_Cont">
			<div class="ProjectCEO_Scroll">
				<!-- 내용있음영역 시작-->
				<ul class="List approval">
				</ul>
				<!-- 내용있음영역  끝-->
				<!-- 조회목록없음 //영역 내용없을 때 사용// 시작-->
				<div class="ProjectCEO_none" style="display:none">조회할 목록이 없습니다.</div>
				<!-- 조회목록없음 //영역 내용없을 때 사용//  끝-->
			</div>						
		</div>
	</div>
