<div class="ProjectCEOBox_PS" id="ceoSchedule">
	<div class="ProjectCEOtBox">
		<div class="ProjectCEO_Top">
			<div class="calendarTop active">
				<a href="#" class="btnFold active">접기</a>
				<a href="#" class="btnPervArrow" onclick="ceoSchedule.moveLeftMonth('-');">이전</a>
				<span class="calTopdate">2018.11</span>
				<a href="#" class="btnNextArrow" onclick="ceoSchedule.moveLeftMonth('+');">다음</a>
			</div>
			<div class="btnTblBox type02"><a href="" class="btnTypeDefault">일정등록</a></div>
		</div>
		<div class="ProjectCEO_Cont">
			<div class="calCont">
				<div class="tablCalendar active"  id="leftCalendar">									
					<div class="tblCalTr">											
						<div>S</div>
						<div>M</div>
						<div>T</div>
						<div>W</div>
						<div>T</div>
						<div>F</div>
						<div>S</div>
					</div>
					<div class="tblCalTr">
						<div class="calendarDate CalPervMon"><a href="#"><span>30</span></a></div>
						<div class="calendarDate CalPervMon"><a href="#"><span>31</span></a></div>
						<div class="calendarDate calendarToday mark"><a href="#"><span>1</span></a></div>
						<div class="calendarDate"><a href="#"><span>2</span></a></div>
						<div class="calendarDate"><a href="#"><span>3</span></a></div>
						<div class="calendarDate"><a href="#"><span>4</span></a></div>
						<div class="calendarDate"><a href="#"><span>5</span></a></div>
					</div>
					<div class="tblCalTr">
						<div class="calendarDate"><a href="#"><span>6</span></a></div>
						<div class="calendarDate mark"><a href="#"><span>7</span></a></div>
						<div class="calendarDate"><a href="#"><span>8</span></a></div>
						<div class="calendarDate mark"><a href="#"><span>9</span></a></div>
						<div class="calendarDate"><a href="#"><span>10</span></a></div>
						<div class="calendarDate calendarSelected"><a href="#"><span>11</span></a></div>
						<div class="calendarDate"><a href="#"><span>12</span></a></div>
					</div>
					<div class="tblCalTr">
						<div class="calendarDate"><a href="#"><span>13</span></a></div>
						<div class="calendarDate"><a href="#"><span>14</span></a></div>
						<div class="calendarDate"><a href="#"><span>15</span></a></div>
						<div class="calendarDate mark"><a href="#"><span>16</span></a></div>
						<div class="calendarDate mark"><a href="#"><span>17</span></a></div>
						<div class="calendarDate mark"><a href="#"><span>18</span></a></div>
						<div class="calendarDate"><a href="#"><span>19</span></a></div>
					</div>
					<div class="tblCalTr">
						<div class="calendarDate"><a href="#"><span>20</span></a></div>
						<div class="calendarDate "><a href="#"><span>21</span></a></div>
						<div class="calendarDate "><a href="#"><span>22</span></a></div>
						<div class="calendarDate "><a href="#"><span>23</span></a></div>
						<div class="calendarDate "><a href="#"><span>24</span></a></div>
						<div class="calendarDate"><a href="#"><span>25</span></a></div>
						<div class="calendarDate"><a href="#"><span>26</span></a></div>
					</div>
					<div class="tblCalTr">
						<div class="calendarDate "><a href="#"><span>27</span></a></div>
						<div class="calendarDate"><a href="#"><span>28</span></a></div>
						<div class="calendarDate"><a href="#"><span>29</span></a></div>
						<div class="calendarDate"><a href="#"><span>30</span></a></div>
						<div class="calendarDate CalNextMon"><a href="#"><span>1</span></a></div>
						<div class="calendarDate CalNextMon"><a href="#"><span>2</span></a></div>
						<div class="calendarDate CalNextMon"><a href="#"><span>3</span></a></div>
					</div>									
				</div>
				<div class="CEOCalendarDetail">
					<div class="CEOCalendarDetail_Scroll mScrollV scrollVType01"><!-- 달력 닫힘 상태 일때 style="height:665px;" 로 나타내어 주세요.-->
						<div class="weeklyCalendarContainer ">
							<div class="specialSchedule">
								<div class="specialScheduleTitle">
									<p>종일</p><!-- 종일 -->
								</div>
								<div id="allDayDataBgDiv" class="specialScheduleBody">
									<div id="allDayData_12353" eventid="6929" dateid="12353" startdatetime="2020-03-10 00:00" enddatetime="2020-03-10 23:59" isrepeat="N" folderid="2" registercode="donguk" ownercode="donguk" data-subject="종일1" onclick="scheduleUser.setSimpleViewPopup(this)" class="shcMultiDayText " style="width: 100%; background: rgb(246, 145, 178); top: 0px;"><div><span>종일1</span></div></div><div id="allDayData_12354" eventid="6930" dateid="12354" startdatetime="2020-03-10 00:00" enddatetime="2020-03-10 23:59" isrepeat="N" folderid="2" registercode="donguk" ownercode="donguk" data-subject="종일2" onclick="scheduleUser.setSimpleViewPopup(this)" class="shcMultiDayText " style="width: 100%; background: rgb(246, 145, 178); top: 21px;"><div><span>종일2</span></div></div></div>																
							</div>
							<div class="weeklyListCont">
								<div id="dayDataBgDiv" class="weeklyListTitle">
									<p id="time_0">0AM</p>
									<p id="time_1">1AM</p
									><p id="time_2">2AM</p>
									<p id="time_3">3AM</p>
									<p id="time_4">4AM</p>
									<p id="time_5">5AM</p>
									<p id="time_6">6AM</p>
									<p id="time_7">7AM</p>
									<p id="time_8">8AM</p>
									<p id="time_9">9AM</p>
									<p id="time_10">10AM</p>
									<p id="time_11">11AM</p>
									<p id="time_12">12PM</p>
									<p id="time_13">13PM</p>
									<p id="time_14">14PM</p>
									<p id="time_15">15PM</p>
									<p id="time_16">16PM</p>
									<p id="time_17">17PM</p>
									<p id="time_18">18PM</p>
									<p id="time_19">19PM</p>
									<p id="time_20">20PM</p>
									<p id="time_21">21PM</p>
									<p id="time_22">22PM</p>
									<p id="time_23">23PM</p>
								</div>
								<div class="weeklyListBody ">
									<table class="weeklyTbl ">
									<tbody>
										<tr class="grid">
											<td><div class="gridWrapper"><div id="gridDataDiv" class="gridWrapperLine ui-selectable">
												<div class="hourCell ui-selectee ui-droppable" time="00:00" number="0"></div>
												<div class="hourCell ui-selectee ui-droppable" time="00:30" number="1"></div>
												<div class="hourCell ui-selectee ui-droppable" time="01:00" number="2"></div>
												<div class="hourCell ui-selectee ui-droppable" time="01:30" number="3"></div>
												<div class="hourCell ui-selectee ui-droppable" time="02:00" number="4"></div>
												<div class="hourCell ui-selectee ui-droppable" time="02:30" number="5"></div>
												<div class="hourCell ui-selectee ui-droppable" time="03:00" number="6"></div>
												<div class="hourCell ui-selectee ui-droppable" time="03:30" number="7"></div>
												<div class="hourCell ui-selectee ui-droppable" time="04:00" number="8"></div>
												<div class="hourCell ui-selectee ui-droppable" time="04:30" number="9"></div>
												<div class="hourCell ui-selectee ui-droppable" time="05:00" number="10"></div>
												<div class="hourCell ui-selectee ui-droppable" time="05:30" number="11"></div>
												<div class="hourCell ui-selectee ui-droppable" time="06:00" number="12"></div>
												<div class="hourCell ui-selectee ui-droppable" time="06:30" number="13"></div>
												<div class="hourCell ui-selectee ui-droppable" time="07:00" number="14"></div>
												<div class="hourCell ui-selectee ui-droppable" time="07:30" number="15"></div>
												<div class="hourCell ui-selectee ui-droppable" time="08:00" number="16"></div>
												<div class="hourCell ui-selectee ui-droppable" time="08:30" number="17"></div>
												<div class="hourCell ui-selectee ui-droppable" time="09:00" number="18"></div>
												<div class="hourCell ui-selectee ui-droppable" time="09:30" number="19"></div>
												<div class="hourCell ui-selectee ui-droppable" time="10:00" number="20"></div>
												<div class="hourCell ui-selectee ui-droppable" time="10:30" number="21"></div>
												<div class="hourCell ui-selectee ui-droppable" time="11:00" number="22"></div>
												<div class="hourCell ui-selectee ui-droppable" time="11:30" number="23"></div>
												<div class="hourCell ui-selectee ui-droppable" time="12:00" number="24"></div>
												<div class="hourCell ui-selectee ui-droppable" time="12:30" number="25"></div>
												<div class="hourCell ui-selectee ui-droppable" time="13:00" number="26"></div>
												<div class="hourCell ui-selectee ui-droppable" time="13:30" number="27"></div>
												<div class="hourCell ui-selectee ui-droppable" time="14:00" number="28"></div>
												<div class="hourCell ui-selectee ui-droppable" time="14:30" number="29"></div>
												<div class="hourCell ui-selectee ui-droppable" time="15:00" number="30"></div>
												<div class="hourCell ui-selectee ui-droppable" time="15:30" number="31"></div>
												<div class="hourCell ui-selectee ui-droppable" time="16:00" number="32"></div>
												<div class="hourCell ui-selectee ui-droppable" time="16:30" number="33"></div>
												<div class="hourCell ui-selectee ui-droppable" time="17:00" number="34"></div>
												<div class="hourCell ui-selectee ui-droppable" time="17:30" number="35"></div>
												<div class="hourCell ui-selectee ui-droppable" time="18:00" number="36"></div>
												<div class="hourCell ui-selectee ui-droppable" time="18:30" number="37"></div>
												<div class="hourCell ui-selectee ui-droppable" time="19:00" number="38"></div>
												<div class="hourCell ui-selectee ui-droppable" time="19:30" number="39"></div>
												<div class="hourCell ui-selectee ui-droppable" time="20:00" number="40"></div>
												<div class="hourCell ui-selectee ui-droppable" time="20:30" number="41"></div>
												<div class="hourCell ui-selectee ui-droppable" time="21:00" number="42"></div>
												<div class="hourCell ui-selectee ui-droppable" time="21:30" number="43"></div>
												<div class="hourCell ui-selectee ui-droppable" time="22:00" number="44"></div>
												<div class="hourCell ui-selectee ui-droppable" time="22:30" number="45"></div>
												<div class="hourCell ui-selectee ui-droppable" time="23:00" number="46"></div>
												<div class="hourCell ui-selectee ui-droppable" time="23:30" number="47"></div>
											</div><div class="schTimeLine" style="z-index: 100; top: 501.5px;"></div></div></td>
										</tr>
									</tbody></table>
									<article id="read_popup" style="position: absolute;"></article>
									<div id="dayDataDiv"></div>
								</div>
							</div>
						</div>
					</div>	
<!--  															
					<div class="CEOCalendarDetail_Scroll">
						<div class="CEOCTime">
						<p class="LcolorB01">12AM</p>
						<p>1AM</p>
						<p>2AM</p>
						<p>3AM</p>
						<p>4AM</p>
						<p>5AM</p>
						<p>6AM</p>
						<p>7AM</p>						
						<p>8AM</p>
						<p>9AM</p>
						<p>10AM</p>
						<p>11AM</p>
						<p class="LcolorB01">12PM</p>
						<p>1PM</p>
						<p>2PM</p>
						<p>3PM</p>
						<p>4PM</p>
						<p>5PM</p>
						<p>6PM</p>
						<p>7PM</p>
						<p>8PM</p>
						<p>9PM</p>
						<p>10PM</p>
						<p>11PM</p>
						
						</div>
						<div class="CEOCCont" >
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div class="CEOCCont_cell"></div>
							<div  id="dayDataDiv"> </div>

						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>