<div class="ProjectCEOtBox" id="ceoVaction">
	<div class="ProjectCEO_Top">
		<h3 class="ProjectCEO_Toptitle"   style="width:calc(100% - 120px)">12월 18일 휴가자 현황</h3>
		<select class="AXSelect size90 CEOS" id="selectCompany" style="width:100px"></select>
	</div>
	<div class="ProjectCEO_Cont">
		<!-- 내용있음영역 시작-->
		<div class="cyclePrograssBar">											
			<div class="cycleCont">			
				<div class="cycleBg">
					<div class="pie"></div>										
				</div>
				<div id="slice" class="">
					<div class="pie" style="transform: rotate(36deg);"></div>
					<div class="pie fill"></div>
				</div>
			</div>
			<div class="cycleTxt">
				<span class="personnelT">
					<span class="ST">15</span>명
				</span>
				<span class="personnelC">
					전체:<font>175</font>명
				</span>
			</div>											
		</div>
		<div class="VacationerList">
			<h3 class="cycleTitle">본부별 휴가자 현황</h3>
			<div class="VacationerList_Scroll">
				<ul>
				</ul>
			</div>
		</div>
		<!-- 내용있음영역  끝-->
		<!-- 조회목록없음 //영역 내용없을 때 사용// 시작-->
		<div class="ProjectCEO_none" style="display:none">조회할 목록이 없습니다.</div>
		<!-- 조회목록없음 //영역 내용없을 때 사용//  끝-->
	</div>
</div>
	