
<div class="individualCommunityStatsCont">
	<h3 class="cycleTitle" id="cuActivitySTi"></h3>
	<div class="visitSelectBox">
		<select class="selectType02">
			<option id="cuActivitySop"></option>
		</select>
	</div>
	<div class="mt35 individualCommunityStatsChart">
		<div class="graphContent">
			<ul class="graphLineCont">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="graphLine" id="activityStatistics">
			</ul>
		</div>							
	</div>					
</div>