

<style>
.btn-area {
	height: 38px;
    line-height: 25px;
    padding: 5px 5px 5px 15px;
}

.btn-area > div {
	display: inline-block;
}
</style>

<div class="webpart executiveInfo">
	<div class="webpart-top"> 
		<h3><spring:message code='Cache.lbl_executive_inform'/></h3><!-- 임원재실 정보  -->
	</div>
	<div class="webpart-content" >
		<div class="btn-area">
			<div>
				<a id="ExManage" href="javascript:ExecutiveOffice.goViewManage();" class="btnType02 blue" style="display: none;"></a>			
			</div>
			<div>			
				<a  id="ExAdmin" href="javascript:ExecutiveOffice.goViewAdmin();" class="btnType02 blue" style="display: none;"></a>
			</div>
		</div>
		<div class="exeList">
			<ul id="myContents_OfficerList" class="executiveList"></ul>
		</div>
	</div>
</div>	
