<div>
<b>인기 게시글</b>
</div>

<div style="padding: 17px;">
	<b>최대 좋아요</b>
	<div>
		<table id="hotBoard_mostLike" width="100%">
			 <colgroup>
	            <col/>
	            <col width="50px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>최다 댓글</b>
	<div>
		<table id="hotBoard_maxComment" width="100%">
			 <colgroup>
	            <col/>
	            <col width="50px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>최다 조회 </b>
	<div>
		<table id="hotBoard_maxRead" width="100%">
			 <colgroup>
	            <col/>
	            <col width="50px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>
