<div class="myContPiece weather">
	<div class="pieceTop">
		<h3><spring:message code='Cache.lbl_weather'/></h3><!-- 날씨 -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="WeatherCont">
			<div class="Weather_sel">
				<select class="sel01"><option>서울</option></select>
				<select class="sel02"><option>강서구</option></select>
			</div>
			<div class="Weather_wrap">
				<div class="weather_title">
					<span class="weather_date">4월 26일(금)</span>
					<span class="weather_time">12:45</span>
					<div class="weather_range">
						<p><span class="weather_low">7<sup>℃</sup></span>/<span class="weather_high">15<sup>℃</sup></span></p>
					</div>
				</div>
				<div class="weather_status">
					<img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/weather/ico_weather03.png" >
					<div class="weather_now">
						<p class="weather_text">맑음</p>
						<p class="weather_temperature">15<sup>℃</sup></p>
					</div>
				</div>
			</div>
		</div>
		<div class="weather_condition">
			<div class="HumWrap">
				<div class="Hum">
					<p><span class="weather_ico">아이콘</span>습도</p>
					<p>30%</p>
				</div>
			</div>
			<div class="WindWrap">
				<div class="Wind">
					<p><span class="weather_ico">아이콘</span>풍속</p>
					<p>5m/s</p>
				</div>
			</div>
		</div>
	</div>
</div>