<div class="myContPiece Worldtime">
	<div class="pieceTop">
		<h3><spring:message code='Cache.lbl_worldTime'/></h3><!-- 세계시간 -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="WorldtimeCont">
			<div class="seoul_time_wrap">
				<div class="timeWrapTop">
					<div class="cityWrap">
						<p class="tx_country">대한민국</p>
						<p class="tx_city">서울</p>
					</div>
				</div>
				<div class="timeWrapBottom">
					<p class="tx_date">2018.06.26</p>
					<p class="tx_time">09:43<span class="tx_ampm">AM</span></p>
				</div>
			</div>
			<div class="select_time_wrap">
				<div class="timeWrapTop">
					<div class="cityWrap">
						<p class="sel_country"><select class="country_select"><option>미국</option></select></p>
						<p class="sel_city"><select class="city_select"><option>LA</option></select></p>
					</div>
				</div>
				<div class="timeWrapBottom">
					<p class="tx_time">03:43<span class="tx_ampm">AM</span></p>
					<p class="tx_date">2018.06.26</p>
				</div>
			</div>
		</div>
	</div>
</div>