<div class="myContPiece video">
	<div class="pieceTop">
		<h3><spring:message code="Cache.lbl_attachvideo"/></h3> <!-- 동영상 -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="videoCont">
			<div class="videoThum">
				<video width="273" height="150">
				  <source src="/HtmlSite/smarts4j_n/covicore/resources/images/login/loginvideo.mp4" type="video/mp4">							  
				</video>
				<a href="#" class="play"></a>
			</div>
			<div class="videoTxt">
				<a href="#"><p class="videoTitle">그룹웨어는 코비젼,</br>홍보영상입니다.</p><!-- 2줄 이상일때 ... 처리 --></a>
				<div class="boardTitData">
					<span id="RegistDate" class="date">2019.05.07 19:02:33</span><!-- 등록일자 -->
					<span id="ReadCnt" class="hit">155</span><!-- 조회수 -->
				</div>
			</div>
		</div>
	</div>
</div>