<div class="myContPiece executiveInfo">
	<div class="pieceTop"> 
		<h3><spring:message code='Cache.lbl_executive_inform'/></h3><!-- 임원재실 정보  -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<ul>
			<li class="clearFloat">
				<div class="exePhoto">
					<p><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img.jpg" alt="프로필사진"></p>
				</div>
				<div class="exeInfoTxt">															
					<div class="flowerPopup">
						<p class="exeName"><a href="#" class="btnFlowerName"><span class="fcStyle">박상호 부사장</span></a></p>
						<ul class="flowerMenuList">
							<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
							<li class="flowerMail"><a href="#">메일보내기</a></li>
							<li class="flowerFollowing"><a href="#">팔로윙</a></li>
							<li class="flowerTalk"><a href="#">대화하기</a></li>
							<li class="flowerAddr"><a href="#">주소록 추가</a></li>
						</ul>
					</div>
					<p class="exepart">솔루션사업부</p>
				</div>
				<div class="exeBtnCont">
					<a href="#" class="btnType02 blue">재실</a>
				</div>														
			</li>
			<li class="clearFloat">
				<div class="exePhoto">
					<p><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img.jpg" alt="프로필사진" /></p>
				</div>
				<div class="exeInfoTxt">
					<div class="flowerPopup">
						<p class="exeName"><a href="#" class="btnFlowerName"><span class="fcStyle">박상호 부사장</span></a></p>
						<ul class="flowerMenuList">
							<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
							<li class="flowerMail"><a href="#">메일보내기</a></li>
							<li class="flowerFollowing"><a href="#">팔로윙</a></li>
							<li class="flowerTalk"><a href="#">대화하기</a></li>
							<li class="flowerAddr"><a href="#">주소록 추가</a></li>
						</ul>
					</div>
					<p class="exepart">솔루션사업부</p>
				</div>
				<div class="exeBtnCont">
					<a href="#" class="btnType02 lightGrey">휴가</a>
				</div>														
			</li>
			<li class="clearFloat">
				<div class="exePhoto">
					<p><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img.jpg" alt="프로필사진" /></p>
				</div>
				<div class="exeInfoTxt">
					<div class="flowerPopup">
						<p class="exeName"><a href="#" class="btnFlowerName"><span class="fcStyle">박상호 부사장</span></a></p>
						<ul class="flowerMenuList">
							<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
							<li class="flowerMail"><a href="#">메일보내기</a></li>
							<li class="flowerFollowing"><a href="#">팔로윙</a></li>
							<li class="flowerTalk"><a href="#">대화하기</a></li>
							<li class="flowerAddr"><a href="#">주소록 추가</a></li>
						</ul>
					</div>
					<p class="exepart">솔루션사업부</p>
				</div>
				<div class="exeBtnCont">
					<a href="#" class="btnType02 lightPurple">회의</a>
				</div>														
			</li>
			<li class="clearFloat">
				<div class="exePhoto">
					<p><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img.jpg" alt="프로필사진" /></p>
				</div>
				<div class="exeInfoTxt">
					<div class="flowerPopup">
						<p class="exeName"><a href="#" class="btnFlowerName"><span class="fcStyle">박상호 부사장</span></a></p>
						<ul class="flowerMenuList">
							<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
							<li class="flowerMail"><a href="#">메일보내기</a></li>
							<li class="flowerFollowing"><a href="#">팔로윙</a></li>
							<li class="flowerTalk"><a href="#">대화하기</a></li>
							<li class="flowerAddr"><a href="#">주소록 추가</a></li>
						</ul>
					</div>
					<p class="exepart">솔루션사업부</p>
				</div>
				<div class="exeBtnCont">
					<a href="#" class="btnType02 lightPurple">회의</a>
				</div>														
			</li>
		</ul>
	</div>
</div>	
