<div class="myContPiece personApp">
	<div class="pieceTop">
		<h3><spring:message code="Cache.lbl_personnelOrder"/></h3><!-- 인사발령 -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<ul>
			<li>
				<span class="boxDivTit">인사이동</span>															
				<a href="#">이정연 대리</a>																
				<span class="date">2017.03.16</span>
			</li>
			<li>
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
			<li>
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
			<li>
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
			<li>
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
			<li class="read">
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
			<li class="read">
				<span class="boxDivTit">인사이동</span>
				<a href="#">이정연 대리</a>					
				<span class="date">2017.03.16</span>
			</li>
		</ul>
	</div>
</div>	