<div class="myContPiece myContAlbum">
	<div class="pieceTop">
		<h3><spring:message code='Cache.WP_40'/></h3><!--앨범게시 -->
		<div class="pieceBtnCont">
			<a  href="#" class="btnPieceMove"></a>
			<a  href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceMiddle">
		<a  href="#" class="abTop" style="font-size: 1px; color: white">위로</a>
		<span></span>
		<a  href="#" class="abDown" style="font-size: 1px; color: white">아래로</a>
	</div>
	<div class="pieceCont">
		<ul id="myContents_AlbumBoard_messageList" class="clearFloat">
		</ul>
	</div>
</div>
		