<div class="myContPiece approval">
	<div class="pieceTop">
		<h3><spring:message code='Cache.lbl_apv_doc_approved2'/></h3><!-- 결재함 -->
		<div class="pieceBtnCont">
			<a class="btnPieceMove"></a>
			<a class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceMiddle">
		<ul class="clearFloat pieceSchDay">
			<li class="active"><a onclick="myContents_ApprovalBox.clickTab(this)" name="APPROVAL"><spring:message code='Cache.tte_ApprovalListBox'/></a></li> <!-- 미결함 -->
			<li><a onclick="myContents_ApprovalBox.clickTab(this)" name="COMPLETE"><spring:message code='Cache.tte_CompleteListBox'/></a></li><!-- 완료함 -->
			<li><a onclick="myContents_ApprovalBox.clickTab(this)" name="TCINFO"><spring:message code='Cache.lbl_TCInfo'/></a></li><!-- 참조/회람 --> 
		</ul>
	</div>
	<div class="pieceCont">
		<ul id="mycontents_ApprovalBox_List_APPROVAL" class="widget_approval"></ul>
		<ul id="mycontents_ApprovalBox_List_COMPLETE" style="display:none;" class="widget_approval"></ul>
		<ul id="mycontents_ApprovalBox_List_TCINFO" style="display:none;" class="widget_approval"></ul>
	</div>
</div>