<div class="myContPiece diet">
	<div class="pieceTop">
		<h3><spring:message code="Cache.lbl_today_meal"/></h3><!-- 오늘의 식단  -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="w_food">
			<div class="w_food_sel">
				<select class="food_sel01"><option>본사(서울)</option></select>
			</div>
			
			<p class="food_use_title">구내식당 이용여부</p>
			<div class="food_use_wrap">
				<dl class="food_use">
					<dt>점심</dt>
					<dd>신청안함<a href="#" class="btn_food_use"><span>신청하기</span></a></dd>
				</dl>
				<dl class="food_use">
					<dt>저녁</dt>
					<dd>신청안함<a href="#" class="btn_food_use"><span>신청하기</span></a></dd>
				</dl>
			</div>
			<div class="foodBtn">
				<a href="#" class="btnTypeDefault  btnTypeBg">식단 보기</a>
			</div>
		</div>
	</div>
</div>