
<div class="myContPiece attendanceMPiece">
	<div class="pieceTop">
		<h3><spring:message code='Cache.MN_754' /></h3>
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove">이동</a>
			<a href="#" class="btnPieceRemove">삭제</a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="attendanceMPieceCont_top">
			<p class="tx_today" id="webpartAttDate"></p>
			<p class="tx_time" id="webpartAttTime"></p>
			<p class="" id="atSts"></p> 
		</div>
		<div class="attendanceMPieceCont_mid" id="btnSts"></div> 
		<div class="attendanceMPieceCont_bot">
			<p class="tx_exst"><spring:message code='Cache.lbl_att_week_exsts'/><br /><span class="tx_exst_more" id="exBaseTime"></span></p>
			<p class="tx_exst_cnt"></p>
		</div>
	</div>
</div>