<div class="myContPiece resource">
	<div class="pieceTop">
		<h3><spring:message code='Cache.lbl_resource_resStatus'/></h3><!-- 자원예약 현황  -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceMiddle">
		<div class="pieceSchSelDay">
			<a href="#" class="recbtnL" onclick="myContents_ResourceBooking.changeDate('prev')"></a>
			<p id="myContents_ResourceBooking_bookingDate"></p>
			<a href="#" class="recbtnR" onclick="myContents_ResourceBooking.changeDate('next')"></a>
		</div>
	</div>
	<div class="pieceCont mScrollV scrollVType01">													
		<ul id="myContents_ResourceBooking_List" class="piecerecList" ></ul>												
	</div>
</div>
