<div class="myContPiece rate">
	<div class="pieceTop">
		<h3><spring:message code='Cache.lbl_exchangeRate' /></h3><!-- 환율 -->
		<div class="pieceBtnCont">
			<a href="#" class="btnPieceMove"></a>
			<a href="#" class="btnPieceRemove"></a>
		</div>
	</div>
	<div class="pieceCont">
		<div class="rateCont">
			<ul>
				<li class="maintenance"><!-- 동일 -->
					<div class="rateBoxtop">
						<span class="rate_country"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/ic_nation_eur.png" >유럽(EUR)</span>
						<span class="rate_a">1293.19</span>
					</div>
					<div class="rateBoxbottom">
						<div class="rateBoxL">
							<span class="rate_text01">전일대비</span>
							<span class="rate_ico">보합</span>
							<span class="rate_b">0.0</span>
						</div>
						<div class="rateBoxR">
							<span class="rate_text02">등락률</span>
							<span class="rate_c">0.0%</span>
						</div>
					</div>
				</li>
				<li class="fall"><!-- 하락 -->
					<div class="rateBoxtop">
						<span class="rate_country"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/ic_nation_usd.png" >미국(USD)</span>
						<span class="rate_a">1293.19</span>
					</div>
					<div class="rateBoxbottom">
						<div class="rateBoxL">
							<span class="rate_text01">전일대비</span>
							<span class="rate_ico">보합</span>
							<span class="rate_b">1.46</span>
						</div>
						<div class="rateBoxR">
							<span class="rate_text02">등락률</span>
							<span class="rate_c">- 0.11%</span>
						</div>
					</div>
				</li>
				<li class="increase"><!-- 상승 -->
					<div class="rateBoxtop">
						<span class="rate_country"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/ic_nation_jpy.png" >일본(JPY)</span>
						<span class="rate_a">1293.19</span>
					</div>
					<div class="rateBoxbottom">
						<div class="rateBoxL">
							<span class="rate_text01">전일대비</span>
							<span class="rate_ico">보합</span>
							<span class="rate_b">1.46</span>
						</div>
						<div class="rateBoxR">
							<span class="rate_text02">등락률</span>
							<span class="rate_c">0.0%</span>
						</div>
					</div>
				</li>
				<li class="increase"><!-- 상승 -->
					<div class="rateBoxtop">
						<span class="rate_country"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/ic_nation_cny.png" >중국(CNY)</span>
						<span class="rate_a">1293.19</span>
					</div>
					<div class="rateBoxbottom">
						<div class="rateBoxL">
							<span class="rate_text01">전일대비</span>
							<span class="rate_ico">보합</span>
							<span class="rate_b">1.46</span>
						</div>
						<div class="rateBoxR">
							<span class="rate_text02">등락률</span>
							<span class="rate_c">0.0%</span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
