<style>
.PN_myInfo { display:block; line-height:1.3; margin:0; text-align:center; }
.PN_myInfo .pr_img { display:block; width:150px; height:150px; margin:30px auto 16px; border-radius:50%; background-size:100% !important; }
.PN_myInfo .pr_name { display:block; margin:0; font-size:20px; color:#222; font-weight:500; }
.PN_myInfo .pr_name span { margin:0 0 0 3px; font-size:13.3px; font-weight:400; }
.PN_myInfo .pr_team { display:block; margin:1px 0 2px; font-size:13.3px; color:#666; font-weight:400; }
.PN_myInfo .pr_time { display:inline-block; height:20px; line-height:19px; margin:3px 0 30px; padding-left:22px; font-size:13.3px; color:#666; font-weight:400; background:url('/HtmlSite/smarts4j_n/customizing/lottecap/images/project/ic_time_gray.png') no-repeat left center; }
.pr_list ul { display:block; padding:0 0 0 36px; }
.pr_list ul:after { display:block; content:""; clear:both; }
.pr_list ul li { display:block; float:left; width:22%; }
.pr_list ul li a { position:relative; display:block; padding:0 5px; font-size:13.3px; color:#000; }
.pr_list .pr_txt { display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; font-size:13.3px; }
.pr_list .pr_icon { position:relative; display:block; width:50px; height:40px; margin:0 auto 5px; background:transparent; }
.pr_list .countStyle.new { position:absolute; left:55%; top:-5px; display:inline-block; background:#ff7200 !important; }
.pr_list .pr_icon.pr_icon01 { background:url('/HtmlSite/smarts4j_n/customizing/lottecap/images/project/pr_icon01.png') no-repeat center; }
.pr_list .pr_icon.pr_icon02 { background:url('/HtmlSite/smarts4j_n/customizing/lottecap/images/project/pr_icon02.png') no-repeat center; }
.pr_list .pr_icon.pr_icon03 { background:url('/HtmlSite/smarts4j_n/customizing/lottecap/images/project/pr_icon03.png') no-repeat center; }
.pr_list .pr_icon.pr_icon04 { background:url('/HtmlSite/smarts4j_n/customizing/lottecap/images/project/pr_icon04.png') no-repeat center; }

</style>

<div class="PN_myInfo">
	<div class="pr_img" style="background:url('http://saasdev.covismart.com//HtmlSite/smarts4j_n/customizing/lottecap/images/project/profile_img.jpg') no-repeat center;"></div>
	<strong class="pr_name">이롯데<span>과장</span></strong>
	<span class="pr_team">오토영업2팀</span>
	<span class="pr_time">최종접속 : 07월 14일 10:01</span>
</div>