<div class="mainMyWorkCont">
	<div class="myWorkTitle">
		<h2>나의 <span class="colorTheme">업무</span></h2>
		<ul class="myWorkMenuList clearFloat">
			<li class="myWorkMenuList01 ">
				<a href="#" class="btnMyToday">일정</a>
			</li>
			<li class="myWorkMenuList02">
				<a href="#">리프레쉬</a>
			</li>
			<li class="myWorkMenuList03 myWorkFilterCont">
				<a href="#">필터</a>
				<div class="myWorkFilterList">
					<ul>
						<li>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>읽지않음</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>중요</label>
							</div>
						</li>
						<li>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>메일</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>결재</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>설문</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>일정</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>게시</label>
							</div>
							<div class="chkStyle04  chkType01">
								<input type="checkbox" id="rrr035"><label for="rrr035"><span></span>예약</label>
							</div>
						</li>
						<li>
							<a href="#" class="btnTypeDefault">초기화</a>
							<a href="#" class="btnTypeDefault btnTypeBg ">저장</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="myWorkMenuList04">
				<a href="#">설정</a>
			</li>
		</ul>
	</div>
	<div class="mScrollV scrollVType01 myWorkScrollView">
		<div class=" clearFloat myWorkListview">
			<div>											
				<ul class="myWorkDayList">
					<li class="fDate"><h3 class="colorTheme">10월 18일 (수)</h3></li>													
					<!-- <li class="mwListMail"> --> <!-- 이름에 프롤워 차크 안들어가면 주석처리 처럼 진행-->
						<!-- <a href="#" class="clearFloat"> -->
							<!-- <div class="mwIcon"><p>메일</p></div> -->
							<!-- <div class="mwTxt"> -->
								<!-- <p class="mwName">홍길동 팀장<span>UX디자인팀</span></p> -->
								<!-- <p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p> -->
								<!-- <p class="date">오후 6시 30분</p> -->
							<!-- </div>														 -->
						<!-- </a>								 -->
					<!-- </li> -->
					<li class="mwListMail clearFloat">														
						<div class="mwIcon"><p>메일</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>									
					</li>
					<li class="mwListReport read clearFloat"> <!-- 체크된 경우는 read 클래스 삽입-->														
						<div class="mwIcon"><p>결재</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>				
					</li>
					<li class="mwListSurvery clearFloat">														
						<div class="mwIcon"><p>설문</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>		
					</li>												
				</ul>
			</div>
			<div>
				<ul class="myWorkDayList ">
					<li class="fDate"><h3 class="colorTheme">10월 18일 (수)</h3></li>
					<li class="mwListMeeting clearFloat">														
						<div class="mwIcon"><p>일정</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>			
					</li>
					<li class="mwListClubShc clearFloat">														
						<div class="mwIcon"><p>게시</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>							
					</li>
					<li class="mwListReservation clearFloat">														
						<div class="mwIcon"><p>예약</p></div>
						<div class="mwTxt">
							<div class="flowerPopup">
								<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
								<ul class="flowerMenuList">
									<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
									<li class="flowerMail"><a href="#">메일보내기</a></li>
									<li class="flowerFollowing"><a href="#">팔로윙</a></li>
									<li class="flowerTalk"><a href="#">대화하기</a></li>
									<li class="flowerAddr"><a href="#">주소록 추가</a></li>
								</ul>
							</div>
							<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
							<p class="date">오후 6시 30분</p>
						</div>								
					</li>
				</ul>
			</div>
		</div>
		<div class="myWorkToDayListView">
			<div class="mwToDaySelectView">
				<a href="#" class="btnPervArrow">이전</a>
				<span>2017.09</span>
				<a href="#" class="btnNextArrow">다음</a>								
			</div>
			<div class="clearFloat myWorkToDayList">
				<div>											
					<ul class="myWorkDayList">
						<li class="fDate"><h3 class="colorTheme">오전</h3></li>													
						<li class="mwListMail clearFloat">															
							<div class="mwIcon"><p>메일</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>														
						</li>
						<li class="mwListReport read clearFloat"> <!-- 체크된 경우는 read 클래스 삽입-->															
							<div class="mwIcon"><p>결재</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>															
						</li>
						<li class="mwListSurvery clearFloat">
							<div class="mwIcon"><p>설문</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>			
						</li>												
					</ul>
				</div>
				<div>
					<ul class="myWorkDayList clearFloat">
						<li class="fDate"><h3 class="colorTheme">오후</h3></li>
						<li class="mwListMeeting">															
							<div class="mwIcon"><p>일정</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>	
						</li>
						<li class="mwListClubShc clearFloat">															
							<div class="mwIcon"><p>게시</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>						
						</li>
						<li class="mwListReservation clearFloat">															
							<div class="mwIcon"><p>예약</p></div>
							<div class="mwTxt">
								<div class="flowerPopup">
									<p class="mwName"><a href="#" class="btnFlowerName">홍길동 팀장<span>UX디자인팀</span></a></p>
									<ul class="flowerMenuList">
										<li class="flowerProfile"><a href="#">사용자 프로필</a></li>
										<li class="flowerMail"><a href="#">메일보내기</a></li>
										<li class="flowerFollowing"><a href="#">팔로윙</a></li>
										<li class="flowerTalk"><a href="#">대화하기</a></li>
										<li class="flowerAddr"><a href="#">주소록 추가</a></li>
									</ul>
								</div>
								<p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p>
								<p class="date">오후 6시 30분</p>
							</div>	
						</li>
						<!-- <li class="mwListReservation"> --><!-- 이름에 플로워 메뉴 안들어간다면 아래 형식처럼 사용-->
							<!-- <a href="#" class="clearFloat"> -->
								<!-- <div class="mwIcon"><p>예약</p></div> -->
								<!-- <div class="mwTxt"> -->
									<!-- <p class="mwName">홍길동 팀장<span>UX디자인팀</span></p> -->
									<!-- <p class="mwTit"><a href="#">코비젼 그룹웨어 솔루션 기획서</a></p> -->
									<!-- <p class="date">오후 6시 30분</p> -->
								<!-- </div>															 -->
							<!-- </a>								 -->
						<!-- </li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
