<div class="PN_mStateArea">
	<div class="PN_mAttendBox">
		<div class="PN_TitleBox">
			<h2 class="ic_time"></h2>
			<a href="/groupware/layout/attend_AttendUserStatus.do?CLSYS=attend&CLMD=user&CLBIZ=Attend" class="PN_More">more</a>
		</div>
		<div class="PN_AttendList">
			<div class="PN_AttendSel">
				<select id="selGroupPath" class="selectType02"></select>
			</div>
			<ul>
				<li class="ic_attend">
					<a href="/groupware/layout/attend_AttendUserStatus.do?CLSYS=attend&CLMD=user&CLBIZ=Attend">
						<span class="PN_icon"><strong class="PN_count">0</strong></span>
						<span class="PN_txt"><spring:message code="Cache.lbl_att_goWork"/></span> <!-- 출근 -->
					</a>
				</li>
				<li class="ic_late">
					<a href="/groupware/layout/attend_AttendUserStatus.do?CLSYS=attend&CLMD=user&CLBIZ=Attend">
						<span class="PN_icon"><strong class="PN_count">0</strong></span>
						<span class="PN_txt"><spring:message code="Cache.lbl_att_beingLate"/></span> <!-- 지각 -->
					</a>
				</li>
				<li class="ic_vacation">
					<a href="/groupware/layout/attend_AttendUserStatus.do?CLSYS=attend&CLMD=user&CLBIZ=Attend">
						<span class="PN_icon"><strong class="PN_count">0</strong></span>
						<span class="PN_txt"><spring:message code="Cache.lbl_Vacation"/></span> <!-- 휴가 -->
					</a>
				</li>
				<li class="ic_calling">
					<a href="/groupware/layout/attend_AttendUserStatus.do?CLSYS=attend&CLMD=user&CLBIZ=Attend">
						<span class="PN_icon"><strong class="PN_count">0</strong></span>
						<span class="PN_txt"><spring:message code="Cache.lbl_app_calling"/></span> <!-- 소명 -->
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="PN_mSystemBox">
		<div class="PN_TitleBox">
			<h2 class="ic_link"><spring:message code="Cache.lbl_ShortcutBusinessSystem"/></h2> <!-- 업무시스템 바로가기 -->
		</div>
		<div class="PN_SystemList">
			<div>
			  	<div class="SystemSlider"></div>
			</div>
		</div>
	</div>
</div>