<div class="PN_mRolling">
	<div class="PN_mNotice">
		<div class="rollList">
			<ul></ul>
		</div>
	</div>
	<div class="PN_mInfo">
		<div class="PN_Weather">
			<a href="https://weather.naver.com" target="_blank" class="PN_Temp"><span class="ic_weather"></span> <span id="tempMetric">0</span></a>
		</div>
		<div class="PN_People">
			<a href="http://ncov.mohw.go.kr/" target="_blank">
				<span class="PN_Num">0</span>
				<span class="PN_Variation"></span>
			</a>
		</div>
	</div>
</div>
<div class="PN_mBoardBox">
	<div class="PN_boardTab">
		<ul class="PN_boardTitle">
			<li class="active" data-tab="PN_tab2_1"><a href="#"></a></li>
			<li class="" data-tab="PN_tab2_2"><a href="#"></a></li>
			<li class="" data-tab="PN_tab2_3"><a href="#"></a></li>
			<li class="" data-tab="PN_tab2_4"><a href="#"></a></li>
			<li class="" data-tab="PN_tab2_5"><a href="#"></a></li>
		</ul>
	</div>
	<div class="PN_boardCont">
		<div id="PN_tab2_1" class="PN_tabCont active">
			<div class="PN_TitleBox">
				<a href="#" class="PN_More">more</a>
			</div>
			<ul class="PN_boardList"></ul>
			<!-- 목록이 없을 경우 (게시판탭 동일하게 들어감)-->
			<ul class="PN_nolist PN_nolistW" style="display:none;">
				<li class="list_none">
					<p><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
					<a href="#" class="PN_btnType01"><spring:message code="Cache.lbl_RegistPost"/></a> <!-- 게시물 등록하기 -->
				</li>
			</ul>
		</div>
		<div id="PN_tab2_2" class="PN_tabCont">
			<div class="PN_TitleBox">
				<a href="#" class="PN_More">more</a>
			</div>
			<ul class="PN_boardList"></ul>
			<!-- 목록이 없을 경우 (게시판탭 동일하게 들어감)-->
			<ul class="PN_nolist PN_nolistW" style="display:none;">
				<li class="list_none">
					<p><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
					<a href="#" class="PN_btnType01"><spring:message code="Cache.lbl_RegistPost"/></a> <!-- 게시물 등록하기 -->
				</li>
			</ul>
		</div>
		<div id="PN_tab2_3" class="PN_tabCont">
			<div class="PN_TitleBox">
				<a href="#" class="PN_More">more</a>
			</div>
			<ul class="PN_boardList"></ul>
			<!-- 목록이 없을 경우 (게시판탭 동일하게 들어감)-->
			<ul class="PN_nolist PN_nolistW" style="display:none;">
				<li class="list_none">
					<p><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
					<a href="#" class="PN_btnType01"><spring:message code="Cache.lbl_RegistPost"/></a> <!-- 게시물 등록하기 -->
				</li>
			</ul>
		</div>
		<div id="PN_tab2_4" class="PN_tabCont">
			<div class="PN_TitleBox">
				<a href="#" class="PN_More">more</a>
			</div>
			<ul class="PN_boardList"></ul>
			<!-- 목록이 없을 경우 (게시판탭 동일하게 들어감)-->
			<ul class="PN_nolist PN_nolistW" style="display:none;">
				<li class="list_none">
					<p><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
					<a href="#" class="PN_btnType01"><spring:message code="Cache.lbl_RegistPost"/></a> <!-- 게시물 등록하기 -->
				</li>
			</ul>
		</div>
		<div id="PN_tab2_5" class="PN_tabCont">
			<div class="PN_TitleBox">
				<a href="#" class="PN_More">more</a>
			</div>
			<ul class="PN_boardList"></ul>
			<!-- 목록이 없을 경우 (게시판탭 동일하게 들어감)-->
			<ul class="PN_nolist PN_nolistW" style="display:none;">
				<li class="list_none">
					<p><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
					<a href="#" class="PN_btnType01"><spring:message code="Cache.lbl_RegistPost"/></a> <!-- 게시물 등록하기 -->
				</li>
			</ul>
		</div>
	</div>
</div>