<style>
.packery-drop-placeholder {
	outline: 1px dashed black;
	outline-offset: -6px;
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}
.myContenLIneView > div { margin: 0; width: 50%; }
.PN_portlet_menu { top: 27px; }
</style> 

<!-- <div> -->
<!-- 	<a href="#" class="PN_myBtn" onclick="javascript:pnMyPlace.toggleMyPlace(this);"><spring:message code="Cache.lbl_MyContentsButton"/></a> 마이컨텐츠 버튼 -->
<!-- 	<div class="PN_myContents_bg" > -->
		<div class="PN_TitleBox">
			<h2><strong>My</strong> Place</h2>
			<a href="#" class="PN_edit" data-edit-mode="off" onclick="javascript:pnMyPlace.toggleEditMode(this);"><spring:message code="Cache.btn_apv_modify"/></a> <!-- 편집 -->
		</div>
		<!-- 마이컨텐츠 썸네일 -->
		<div class="PN_thumbnail"></div>
		<div id="PN_myContents_ItemList" class="clearFloat PN_myContents_group" style="height: auto;"></div>
<!-- 	</div> -->
<!-- </div> -->
