<div class="PN_myContents_box">
	<div class="PN_portlet">
		<div class="PN_portlet_head PN_portlet_handler">
			<div class="PN_portlet_title">
				<strong class="PN_portlet_link"><spring:message code="Cache.lbl_ExchangeRateBoard"/></strong> <!-- 환율게시 -->
			</div>
			<div class="PN_portlet_function">
				<a href="#" class="PN_portlet_btn">
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
				</a>
				<div class="PN_portlet_menu">
					<ul>
						<li mode="hide"><a href="#"><spring:message code="Cache.lbl_HideContent"/></a></li> <!-- 컨텐츠 숨기기 -->
						<li><a href="#" class="PN_portlet_close"><spring:message code="Cache.lbl_ClosingWindow"/></a></li> <!-- 창닫기 -->
					</ul>
				</div>
			</div>
			<a id="PN_exchange_link" class="PN_More" target="_blank">more</a>
		</div>
		<div class="PN_portlet_contents">
			<div class="PN_exchangeRate">
				<span class="eDate"></span>
				<ul>
					<li curcode="CNY">
						<a href="#">
							<span class="eNation">CNY</span>
							<strong class="eRate">0</strong>
						</a>
					</li>
					<li curcode="EUR">
						<a href="#">
							<span class="eNation">EUR</span>
							<strong class="eRate">0</strong>
						</a>
					</li>
					<li curcode="JPY">
						<a href="#">
							<span class="eNation">JPY</span>
							<strong class="eRate">0</strong>
						</a>
					</li>
					<li curcode="USD">
						<a href="#">
							<span class="eNation">USD</span>
							<strong class="eRate">0</strong>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>