<div class="PN_myContents_box">
	<div class="PN_portlet">
		<div class="PN_portlet_head PN_portlet_handler">
			<div class="PN_portlet_title">
				<strong class="PN_portlet_link"><spring:message code="Cache.lbl_IndustryTrends"/></strong> <!-- 업계동향 -->
			</div>
			<div class="PN_portlet_function">
				<a href="#" class="PN_portlet_btn">
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
				</a>
				<div class="PN_portlet_menu">
					<ul>
						<li mode="hide"><a href="#"><spring:message code="Cache.lbl_HideContent"/></a></li> <!-- 컨텐츠 숨기기 -->
						<li><a href="#" class="PN_portlet_close"><spring:message code="Cache.lbl_ClosingWindow"/></a></li> <!-- 창닫기 -->
					</ul>
				</div>
			</div>
			<a href="#" id="PN_trend_link" class="PN_More">more</a>
		</div>
		<div class="PN_portlet_contents">
			<div class="PN_Trend">
				<ul></ul>
			</div>
			<!-- 목록이 없을 경우 -->
			<div class="PN_nolist" style="display: none;">
				<p class="list_none"><spring:message code="Cache.msg_NoDataList"/></p> <!-- 조회할 목록이 없습니다. -->
			</div>
		</div>
	</div>
</div>