<div class="PN_myContents_box PN_myContents_sizeH">
	<div class="PN_portlet">
		<div class="PN_portlet_head PN_portlet_handler">
			<div class="PN_portlet_title">
				<strong class="PN_portlet_link"><spring:message code="Cache.lbl_schedule_title"/></strong> <!-- 일정관리 -->
			</div>
			<div class="PN_portlet_function">
				<a href="#" class="PN_portlet_btn">
					<span class=""></span>
					<span class=""></span>
					<span class=""></span>
				</a>
				<div class="PN_portlet_menu">
					<ul>
						<li mode="write"><a href="#"><spring:message code="Cache.lbl_Write"/></a></li> <!-- 작성 -->
						<li mode="hide"><a href="#"><spring:message code="Cache.lbl_HideContent"/></a></li> <!-- 컨텐츠 숨기기 -->
						<li><a href="#" class="PN_portlet_close"><spring:message code="Cache.lbl_ClosingWindow"/></a></li> <!-- 창닫기 -->
					</ul>
				</div>
			</div>
			<a href="/groupware/layout/schedule_View.do?CLSYS=schedule&CLMD=user&CLBIZ=Schedule&viewType=M" class="PN_More">more</a>
		</div>
		<div class="PN_portlet_contents">
			<div class="PN_scManage">
				<div class="PN_scCalendar">
					<div class="calContanier">
						<div class="calendarTop active">
							<a href="#" class="btnPervArrow" onclick="pnScCalendar.moveMonth('-');"><spring:message code="Cache.lbl_previous"/></a> <!-- 이전 -->
							<span class="calTopdate"></span>
							<a href="#" class="btnNextArrow" onclick="pnScCalendar.moveMonth('+');"><spring:message code="Cache.lbl_next"/></a> <!-- 다음 -->
							<input type="hidden" id="calTopDateVal" value="">
						</div>
						<div class="calCont">
							<div id="leftCalendar" class="tablCalendar active"></div>
						</div>
					</div>
				</div>
				<!-- 목록이 있을 경우 -->
				<div class="mScrollV scrollVType01" style="height: 320px;">
					<ul class="PN_scList" style="height: auto"></ul>
				</div>
				<!-- 목록이 없을 경우 -->
				<div class="PN_scheduleBox PN_nolist" style="display: none;">
					<ul class="PN_scheduleList">
						<li>
							<strong><spring:message code="Cache.lbl_NoRegistSchedule"/></strong> <!-- 등록된 일정이 없습니다. -->
							<p><spring:message code="Cache.msg_RegistImportantSchedule"/></p> <!-- 효율적인 일정 관리를 위해<br>중요하거나 반복되는 업무를 등록해 보세요. -->
							<a href="#" class="PN_btnRegist"><spring:message code="Cache.lbl_RegistSchedule"/></a> <!-- 일정 등록하기 -->
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>