<article class="mainBoradTabView">
<!-- 미반영 항목 숨김처리 -->
<!-- 	<div class="mbTabTitle"> -->
<!-- 		<ul class="clearFloat mainBoadTabMenu"> -->
<!-- 			<li class="active"><a href="#">회사소식</a></li> -->
<!-- 			<li><a href="#">인기컨텐츠</a></li> -->
<!-- 			<li><a href="#">핫키워드</a></li> -->
<!-- 		</ul> -->
<!-- 	</div> -->
	<div class="mainBoardTabCont companyNews clearFloat active">				
		<div class="mBoardNoticeCont">
			<div class="mNotiTitle">
				<h3 id="noticeTitle">공지사항</h3>
 				<a class="btnMainMore" id="moreNotice">more +</a>
			</div>
			<ul id="mainNoticeList" class="mainNoticeList">
<!-- 				<li class="first"> -->
<!-- 					<p class="title"> 2줄 넘어가면 ...처리 -->
<!-- 						<a href="#">업무가 서툰 신입사원에게 추천하는 직장생활 안내서!(3)</a> -->
<!-- 					</p> -->
<!-- 					<p class="date">	 -->
<!-- 						<span>공지사항</span> -->
<!-- 						<span>2017.03.16</span> -->
<!-- 					</p> -->
<!-- 					<p class="notiFirstImg"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img07.png" /></p> -->
<!-- 				</li> -->
<!-- 				<li class="clearFloat"> -->
<!-- 					<p class="title"> -->
<!-- 						<a href="#">무에서 유를 창조하는 개발 업무</a> -->
<!-- 					</p> -->
<!-- 					<p class="date">2017.03.16</p> -->
<!-- 				</li> -->
<!-- 				<li class="clearFloat"> -->
<!-- 					<p class="title"> -->
<!-- 						<a href="#">상암동 치과 추천 받습니다.</a> -->
<!-- 					</p> -->
<!-- 					<p class="date">2017.03.15</p> -->
<!-- 				</li> -->
			</ul>
		</div>
		<div class="mBoardTabCont">
			<div>
				<div class="mNotiTitle">
					<ul id="tabBoard_tabList" class="mSubTabMenu clearFloat">
<!-- 						<li class="active"> -->
<!-- 							<a href="#" class="tabTitle"><span>최근게시</span></a> -->
<!-- 							<a href="#" class="btnMainMore">More +</a> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<a href="#" class="tabTitle"><span>최근문서</span></a> -->
<!-- 							<a href="#" class="btnMainMore">More +</a> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<a href="#" class="tabTitle"><span>영업현황</span></a> -->
<!-- 							<a href="#" class="btnMainMore">More +</a> -->
<!-- 						</li> -->
					</ul>
				</div>
				<div class="mBaordTabView active">
					<ul id="tabBoard_messageList" class="mBTabbList">
<!-- 						<li> -->
<!-- 							<span class="type">공지사항1</span> -->
<!-- 							<a href="#" class="title">2017 최저임금 고시</a> -->
<!-- 							<span class="date">2017.03.16</span> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<span class="type">공지사항</span> -->
<!-- 							<a href="#" class="title">2017 최저임금 고시2017 최저임금 고시2017 최저임금 고시2017 최저임금 고시</a> -->
<!-- 							<span class="date">2017.03.16</span> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<span class="type">공지사항</span> -->
<!-- 							<a href="#" class="title">2017 최저임금 고시</a> -->
<!-- 							<span class="date">2017.03.16</span> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<span class="type">공지사항</span> -->
<!-- 							<a href="#" class="title">2017 최저임금 고시</a> -->
<!-- 							<span class="date">2017.03.16</span> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<span class="type">공지사항</span> -->
<!-- 							<a href="#" class="title">2017 최저임금 고시</a> -->
<!-- 							<span class="date">2017.03.16</span> -->
<!-- 						</li> -->
					</ul>
				</div>												
			</div>
		</div>										
	</div>
	<div class="mainBoardTabCont popularityContent ">										
		<div>
			<div class="mainTabslideView mainTabslide01">
				<div>
					<div class="popularityThumb"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img07.png" /></div>
					<a href="#" class="popularityTxt">
						<p class="colorTheme popTit">
							[최다조회]
						</p>
						<p class="popTxt"> <!-- 2줄 이상이면 ... 처리--> 
							코비젼 비타민 공급 프로젝트! 임직원 ..
						</p>
						<p class="popView">
							<span class="viewEye">150</span>
							<span class="viewHeart">98</span>
						</p>
					</a>
				</div>												
				<div>
					<div class="popularityThumb"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img07.png" /></div>
					<a href="#"class="popularityTxt">
						<p class="colorTheme popTit">
							[최다조회]
						</p>
						<p class="popTxt">
							코비젼 비타민 공급 프로젝트! 임직원 
						</p>
						<p class="popView">
							<span class="viewEye">150</span>
							<span class="viewHeart">98</span>
						</p>
					</a>
				</div>												
				<div>
					<div class="popularityThumb"><img src="/HtmlSite/smarts4j_n/covicore/resources/images/common/img07.png" /></div>
					<a href="#"class="popularityTxt">
						<p>
						<p class="colorTheme popTit">
							[최다조회]
						</p>
						<p class="popTxt">
							코비젼 비타민 공급 프로젝트! 임직원.
						</p>
						<p class="popView">
							<span class="viewEye">150</span>
							<span class="viewHeart">98</span>
						</p>
					</a>
				</div>												
			</div>
			<div  class="mainTabslideView mainTabslide02">
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기댓글]</p>
						<p class="popTxt">가이드에 대한 내용 확인 하였으며,...</p> <!-- 2줄 이상 ...처리-->
					</a>
					<p class="popView"><span class="viewHeart">98</span></p>
				</div>
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기댓글]</p>
						<p class="popTxt">가이드에 대한 내용 확인 하였으며, </p>
					</a>
					<p class="popView"><span class="viewHeart">98</span></p>
				</div>
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기댓글]</p>
						<p class="popTxt">가이드에 대한 내용 확인 하였으며, ...</p>
					</a>
					<p class="popView"><span class="viewHeart">98</span></p>
				</div>
			</div>
			<div  class="mainTabslideView mainTabslide03">
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기검색어]</p>
						<p class="popTxt">발산역 맛집</p>
					</a>
					<p class="popView"><span class="viewSearch">98</span></p>
				</div>
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기검색어]</p>
						<p class="popTxt">발산역 맛집</p>
					</a>
					<p class="popView"><span class="viewSearch">98</span></p>
				</div>
				<div>
					<a href="#">
						<p class="colorTheme popTit">[인기검색어]</p>
						<p class="popTxt">발산역 맛집</p>
					</a>
					<p class="popView"><span class="viewSearch">98</span></p>
				</div>
			</div>
		</div>
	</div>
	<div class="mainBoardTabCont hotKeyword ">										
		<div>
			<p>지금 회사에서 <span class="colorTheme">가장 이슈되는 키워드</span>를 확인하세요</p>
			<div class="cycleMotion cycleMotionType01 cycleNum01"><a href="#">#주간보고</a></div>								
			<div class="cycleMotion cycleMotionType01 cycleNum02"><a href="#">#월급</a></div>								
			<div class="cycleMotion cycleMotionType01 cycleNum03"><a href="#">#최신조회글</a></div>								
			<div class="cycleMotion cycleMotionType01 cycleNum04"><a href="#">#포탈</a></div>								
			<div class="cycleMotion cycleMotionType01 cycleNum05"><a href="#">#휴가</a></div>								
			<div class="cycleMotion cycleMotionType01 cycleNum06"><a href="#">#카메라</a></div>								
			<div class="cycleMotion cycleMotionType02 type01"></div>								
			<div class="cycleMotion cycleMotionType02 type02"></div>
			<div class="cycleMotion cycleMotionType02 type03"></div>
			<div class="cycleMotion cycleMotionType02 type04"></div>
			<div class="cycleMotion cycleMotionType02 type05"></div>
			<div class="cycleMotion cycleMotionType02 type06"></div>
			<div class="cycleMotion cycleMotionType02 type07"></div>
		</div>
	</div>
</article>
