<div>
<b>업무관리</b>
</div>

<div style="padding: 17px;">
	<b>수행 업무</b>
	<div>
		<table id="taskList_performerList" width="100%">
			 <colgroup>
	            <col />
	            <col width="200px"/>
	            <col width="130px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>마감임박 업무</b>
	<div>
		<table id="taskList_deadlineList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="180px"/>
	            <col width="130px"/>
	            <col width="50px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>읽지 않은 업무</b>
	<div>
		<table id="taskList_unReadList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="200px"/>
	            <col width="130px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>시작 지연 업무</b>
	<div>
		<table id="taskList_startDelayList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="200px"/>
	            <col width="130px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>

<div style="padding: 17px;">
	<b>마감 지연 업무</b>
	<div>
		<table id="taskList_endDelayList" width="100%">
			 <colgroup>
	            <col/>
	            <col width="200px"/>
	            <col width="130px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>