<div style="padding: 17px;background-color: #F2C7BE;border-radius: 11px;">
	<h3 style="display:inline;">미결함(Server-Rendering)</h3>
	<a href="/approval/layout/approval_ApprovalList.do?CLSYS=approval&CLMD=user&CLBIZ=Approval&mode=Approval" style="float:right; margin-right:10px;">more</a>
	<div id="userApprovalList_div">
		<table id="userApprovalList_list1" width="100%">
			<colgroup>
	            <col/>
	            <col width="180px"/>
	            <col width="80px"/>
	            <col width="87px"/>
	        </colgroup>
			<tbody></tbody>
		</table>
	</div> 
</div>