.dialog.layer_labView {top: 67px; width: 365px;}

.layer_labView .dialog_tl.layer_title {font-size: 16px;}

.layer_labView .lab_menu {margin-bottom: 10px; margin-top: 8px;}
.layer_labView .lab_menu .lab_title {font-weight: bold; font-size: 10pt; padding:10px; color:#2c639e; background-color:#f5f5f5;}
.layer_labView .lab_menu ul {list-style: none; padding-left: 30px; margin-top: 7px; font-size: 9pt; }
.layer_labView .lab_menu ul li {margin: 8px 0;}
.layer_labView .lab_menu .lab_desc {width: 250px; display: inline-block; padding-right: 30px;}
.layer_labView .lab_menu .lab_key {}

.layer_labView .lab_menu .lab_title:after {display:block; clear:both; content:" ";}
.layer_labView .lab_menu .lab_title span {float:left; height:24px; line-height:24px;}
.layer_labView .lab_menu .container {float:right; padding-right:6px;}
.layer_labView .lab_menu .switch_checkbox {display:none;}
.layer_labView .lab_menu .switchbtn {width: 47px; height: 24px; background-color: #ccc; cursor: pointer; position: relative; border-radius: 24px; font-size:7pt; text-align:center;}
.layer_labView .lab_menu .switchbtn:before {content: ' '; position: absolute; left: 2px; top: 2px; width: 43px; height: 20px; background: #f5f5f5; z-index: 99; border-radius: 20px; line-height:18px;}
.layer_labView .lab_menu .switchbtn:after {content: 'OFF'; height: 20px; width:22px; border-radius: 20px; background-color: #fff; position: absolute; z-index: 999; top: 2px; left: 2px; box-shadow: 0 2px 5px #999999; line-height:20px;}
.layer_labView .lab_menu .switchbtn.switchon,
.layer_labView .lab_menu .switchbtn.switchon:before {background-color: #6182d6;}
.layer_labView .lab_menu .switchon:after {left: 23px !important; content: 'ON';}

