@charset "utf-8";

/* bizcard */
.bizcardAllCont {padding: 0 25px;}
.bizcardAllCont > div {position: relative;}
.bizcardTopCont > .pagingType02, .bizcardTopCont > .buttonStyleBoxRight  {margin: 0; padding: 12px 0 0;}

/* menu list */
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyTdText .colorTheme {padding-left: 4px; font-size: 13px; line-height: 1; font-weight: 700; vertical-align: baseline;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent + .bodyNodeIcon {display: block; background: url('/covicore/resources/images/common/ico_comm.png') no-repeat;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.personal {display: none;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.personal + .bodyNodeIcon {width: 14px; height: 15px; background-position: -52px 0; top: 7px;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.group {display: none;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.group + .bodyNodeIcon {width: 19px; height: 16px; background-position: -28px 0; top: 7px;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.group {display: none;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.group + .bodyNodeIcon {width: 19px; height: 16px; background-position: -28px 0; top: 6px;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.company {display: none;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.company + .bodyNodeIcon {width: 14px; height: 16px; background-position: 0 -22px; top: 7px;}
.treeList.addrContact .AXTree_none .AXTreeScrollBody .AXTreeBody .treeBodyTable tbody tr td .bodyNode .bodyNodeIndent.noChild + .bodyNodeIcon {width: 16px; height: 13px; background-position: -71px 0; top: 8px;}

/* menu */

.btnAddList {display: block; width: 21px; height: 21px;text-indent: -9999px; overflow: hidden; box-sizing: border-box; border: 1px solid #d6d6d6; border-radius: 2px; position: absolute; right: 25px; top: 6px; cursor: pointer;}
.btnAddList:after,
.btnAddList:before {content: ""; display: block; background: #747474; position: absolute; left: 50%; top: 50%;}
.btnAddList:before {width: 2px; height: 10px; margin-top: -5px; margin-left: -1px;}
.btnAddList:after {width: 10px; height: 2px; margin-top: -1px; margin-left: -5px;}



.bizcardMenu > li > a {position: relative;}
.bizcardMenu > li > a:after {content: ""; display: block;  background: url('/covicore/resources/images/theme/ic_bizcard_menu.png'); position: absolute; left: 28px; top: 50%;}
.bizcardMenu > li.menuContactOutput > a:after {width: 20px; height: 16px; margin-top: -8px; background-position: -43px 0;}
.bizcardMenu > li.menuContactInput > a:after {width: 20px; height: 16px; margin-top: -8px; background-position: 0 -20px;}
.bizcardMenu > li.menuContactClearance > a:after {width: 18px; height: 17px; margin-top: -9px; background-position: -25px -20px;}
.bizcardMenu > li.menuContactCompany > a:after {width: 18px; height: 17px; margin-top: -9px; background-position: -22px 0px;}

.bizcardMenu > .menuAllContact .selOnOffBox {padding:0 10px;height:57px;line-height:57px;}
.bizcardMenu > .menuAllContact .selOnOffBox a > span {margin-left:7px;font-weight:700;color:#19abd8;}
.bizcardMenu > .menuAllContact .selOnOffBox a {
	background-image: url('/covicore/resources/images/common/bul_arrow_02.png');
	padding-left: 39px; font-size:14px;	
	background-repeat:no-repeat;
	background-position: 0 center;
	position: relative;
}
.bizcardMenu > .menuAllContact .selOnOffBox a:after {content: ""; display: block; width: 16px; height: 17px; margin-top: -7px; background: url('/covicore/resources/images/theme/ic_bizcard_menu.png') no-repeat 0 0; position: absolute; left: 18px; top: 50%;}

.bizcardMenu > .menuAllContact .selOnOffBoxChk > div {position:relative;}
.bizcardMenu > .menuAllContact .selOnOffBoxChk > div > a {position:relative;padding-left:70px;background:none;}
.bizcardMenu > .menuAllContact .selOnOffBoxChk > div > a:after {content:'';position:absolute;top:6px;left:48px;display:block;}
.bizcardMenu .menuAllContact01 > a:after {width:14px;height:15px;background:url('/covicore/resources/images/common/ico_comm.png') no-repeat -52px 0;}
.bizcardMenu .menuAllContact02 > a:after {width:19px;height:16px;background:url('/covicore/resources/images/common/ico_comm.png') no-repeat -28px 0;}
.bizcardMenu .menuAllContact03 > a:after {width:14px;height:16px;background:url('/covicore/resources/images/common/ico_comm.png') no-repeat 0 -22px;}

.menuAllContactList {padding-left:26px;}
.bizcardMenu .menuAllContactList a {position:relative;padding-left:22px;margin-left:43px;height:25px;background:none;}
.bizcardMenu .menuAllContactList a:after {content:'';position:absolute;top:50%;left:0;margin-top:-6px;display:block;width:16px;height:13px;background:url('/covicore/resources/images/common/ico_comm.png') no-repeat -71px 0;}


.bizcardMenu > .menuContactCompany .selOnOffBox {padding:0 10px;height:57px;line-height:57px;}
.bizcardMenu > .menuContactCompany .selOnOffBox a > span {margin-left:7px;font-weight:700;color:#19abd8;}
.bizcardMenu > .menuContactCompany .selOnOffBox a {
	background-image: url('/covicore/resources/images/common/bul_arrow_02.png');
	padding-left: 39px; font-size:14px;	
	background-repeat:no-repeat;
	background-position: 0 center;
	position: relative;
}
.bizcardMenu > .menuContactCompany .selOnOffBox a:after {content: ""; display: block; width: 16px; height: 17px; margin-top: -9px; background: url('/covicore/resources/images/theme/ic_bizcard_menu.png') no-repeat -22px 0; position: absolute; left: 18px; top: 50%;}
.bizcardMenu > .menuContactCompany .selOnOffBox > .btnOnOff.active {
	background-image:url('/covicore/resources/images/common/bul_arrow_03.png');
	background-repeat:no-repeat;
	background-position: 0 center;
}
.bizcardMenu > .menuContactCompany .selOnOffBoxChk.type02 {border-bottom:none;}

/* 리스트 */
.bizcardAllCont .selectListWrap.autoCompleteCustom {min-height: 51px; margin-top: 23px; padding: 13px 50px 12px 115px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; box-sizing: border-box; position: relative; cursor: pointer;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .heading {width: 113px; height: 49px; padding-left: 2px; line-height: 49px; position: absolute; left: 0; top: 1px;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .heading > * {display: inline-block; font-weight: 700; vertical-align: middle;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .heading strong {margin-left: 2px; padding-left: 6px; position: relative;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .heading strong:before {content: ''; display: block; width: 1px; height: 10px; margin-top: -5px; background: #e1e1e1; position: absolute; left: 0; top: 50%;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .heading .btnRemoveAll {display: inline-block; width: 17px; height: 17px; margin-left: 2px; border: 1px solid #d6d6d6; border-radius: 1px; text-indent: -9999px; background: #fff url('/covicore/resources/images/common/ic_bt_remove.png') no-repeat center center; overflow: hidden;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .ui-autocomplete-multiselect.ui-state-default {display: block; width: 100%; height: 27px; min-height: 27px; padding: 0; border: 0 none; overflow: hidden;}
.bizcardAllCont .selectListWrap.autoCompleteCustom.active .ui-autocomplete-multiselect.ui-state-default {height: auto;}
.bizcardAllCont .selectListWrap.autoCompleteCustom .ui-autocomplete-multiselect.ui-state-default.fold {height: 24px;}
.bizcardAllCont .selectListWrap.autoCompleteCustom li {float: left;}
.bizcardAllCont .selectListWrap .ui-autocomplete-multiselect-item {height: 26px; padding: 3px 5px; line-height: 18px;}
.bizcardAllCont .selectListWrap .ui-autocomplete-multiselect-item .ui-icon {height: 18px; vertical-align: top;}
.bizcardAllCont .selectListWrap .btnMoreStyle01 {position: absolute; right: 0; top: 17px;}

.tblBizcardList .tblFilterTop:after {content: ""; display: block; clear: both;}
.tblBizcardList .tblFilterTop .filterGroup {float: left;}
.tblBizcardList .tblFilterTop .filterGroup a {display: block; width: 82px; height: 32px; line-height: 32px; padding-left: 12px; font-size: 13px; box-sizing: border-box; position: relative;}
.tblBizcardList .tblFilterTop .filterGroup a:before {content: ""; display: block; margin-top: -3px; border-top: 5px solid #444b54; border-left: 5px solid transparent; border-right: 5px solid transparent; position: absolute; top: 50%; right: 28px;}
.tblBizcardList .tblFilterTop .filterList {border: 1px solid #ddd; border-bottom: 0 none; border-radius: 2px; float: left;}
.tblBizcardList .tblFilterTop .filterList li {float: left;}
.tblBizcardList .tblFilterTop .filterList li ~ li {margin-left: -1px; border-left: 1px solid #ddd;}
.tblBizcardList .tblFilterTop .filterList a {display: block; height: 32px; line-height: 31px; padding: 0 12px; color: #666; font-size: 13px; text-align: center; box-sizing: border-box; transition:box-shadow .3s;}
.tblBizcardList .tblFilterTop .filterList a:hover {box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);}

.tblList.tblBizcardList {margin-top: 24px;}
.selectListWrap + .tblList.tblBizcardList {margin-top: 17px;}
.tblList.tblBizcardList .AXGrid .AXgridScrollBody {border-top: 1px solid #969696;}
.tblList.tblBizcardList .AXGrid .AXgridScrollBody .AXGridColHead {border-bottom: 1px solid #ddd;}
.tblList.tblBizcardList .tblBtnFavorite {display: block; width: 16px; height: 14px; text-indent: -9999px; vertical-align: middle; background: url('/covicore/resources/images/common/ic_favorite.png') no-repeat 0 center; overflow: hidden;}
.tblList.tblBizcardList .AXGridBody .tblBtnFavorite {height: 30px;}
.tblList.tblBizcardList .tblLink.pd0 {padding: 0;}
.tblList.tblBizcardList .tblLink.thumbWrap {vertical-align: top;}
.tblList.tblBizcardList .thumb {display: inline-block; width: 30px; height: 30px; border-radius: 50%; background: #efeff0; overflow: hidden; vertical-align: middle;}
.tblList.tblBizcardList .tblLink .thumb.noImg {border: 1px solid #ddd;}
.tblList.tblBizcardList .thumb img {width: 100%;}
.tblList.tblBizcardList .tblLink .thumb + a {display: inline-block; vertical-align: middle;}

/* 연락처 등록 */
.bizcardAllCont .addContactWrap {padding: 23px 0 100px 37px; position: relative;}
.bizcardAllCont .tabTypeBizCard {position: absolute; left: 0; top: 23px; z-index: 1;}
.bizcardAllCont .tabTypeBizCard li {margin-bottom:5px; border: 1px solid #d6d6d6; border-radius: 2px 0 0 2px; border-right: 0 none; overflow: hidden; box-sizing: border-box; position: relative;}
.bizcardAllCont .tabTypeBizCard li.active {box-shadow: 2px 2px 3px rgba(0,0,0,.19);}
.bizcardAllCont .tabTypeBizCard li a {display: table; width: 37px;}
.bizcardAllCont .tabTypeBizCard li a > span {display: table-cell; width: 100%; height: 88px; line-height: 18px; color: #9a9a9a; font-size: 15px; text-align: center; vertical-align: middle; background: #fff;}
.bizcardAllCont .tabTypeBizCard li.active a > span {color: #fff;}
.bizcardAllCont .bizCardContWrap {border: 1px solid #c8c8c8; box-shadow: 2px 2px 3px rgba(0,0,0,.19); background: #fff; position: relative; z-index: 2;}
.bizcardAllCont .tabContWrap .tabCont {display: none;}
.bizcardAllCont .tabContWrap .tabCont.active {display: block;}
.bizcardAllCont .bizCardContWrap .bizFormWrap {padding: 40px 0; position: relative;}
.bizcardAllCont .bizFormWrap.personal .bizFormInner {padding: 0 40px 35px 175px;}
.bizcardAllCont .bizFormWrap.business .bizFormInner {padding: 0 40px 35px 225px;}
.bizcardAllCont .bizFormWrap .photoArea {overflow: hidden; position: absolute; left: 42px; top: 40px;}
.bizcardAllCont .bizFormWrap.personal .photoArea {width: 92px; height: 92px; border-radius: 100%;}
.bizcardAllCont .bizFormWrap.business .photoArea {width: 142px; height: 90px; border-radius: 3px; border: 1px solid #ebebeb;}
.bizcardAllCont .bizFormWrap .photoArea img {width: 100%;}
.bizcardAllCont .bizFormWrap .bizFormInner > dl + dl {margin-top: 55px;}
.bizcardAllCont .bizFormWrap .bizFormInner > dl .heading {margin-bottom: 15px; line-height: 1; font-size: 18px; font-weight: 700;}
.bizcardAllCont .bizFormWrap .formList > li {display: block; width: 100%; line-height: 1;}
.bizcardAllCont .bizFormWrap .formList > li + li {margin-top: 15px;}
.bizcardAllCont .bizFormWrap .formList .formRow {display: table; width: 100%;}
.bizcardAllCont .bizFormWrap .formList .formRow + .formRow {margin-top: 15px;}
.bizcardAllCont .bizFormWrap .formList > li .lineBox,
.bizcardAllCont .bizFormWrap .formList > li .formBox {display: table-cell; height: 33px; vertical-align: bottom;}
.bizcardAllCont .bizFormWrap .formList > li .formBox {width: 1px;}
.bizcardAllCont .bizFormWrap .formList > li .lineBox .inner {position: relative;}
.bizcardAllCont .bizFormWrap .formList > li .lineBox .bar {width: 0; height: 0; background: #888; position: absolute; left: 50%; right: 50%; bottom: -1px; transition: all .4s ease;}
.bizcardAllCont .bizFormWrap .formList > li .lineBox .inner.active .bar {width: 100%; height: 2px; left: 0; right: 0;}
.bizcardAllCont .bizFormWrap .formList > li .lineBox .inner + .inner {margin-top: 15px;}
.bizcardAllCont .bizFormWrap .formList > li.anniversary .btnAnniversary {width: 115px;}
.bizcardAllCont .bizFormWrap .formList > li.company .btnTypeDefault {width: 75px;}
.bizcardAllCont .bizFormWrap .formList > li.addr .btnTypeDefault {width: 100px;}
.bizcardAllCont .bizFormWrap .formList .btnBox {width: 70px;}
.bizcardAllCont .bizFormWrap .formList .btnBox:after {content: ""; display: block; clear: both;}
.bizcardAllCont .bizFormWrap .formList .btnBox [class*=btnTheme] {display: block; float: left;}
.bizcardAllCont .bizFormWrap .formList .btnBox [class*=btnTheme] + [class*=btnTheme] {margin-left: 10px;}
.bizcardAllCont .bizFormWrap .formList input[type=text] {width: 100%; height: 30px; border: 0 none; border-bottom: 1px solid #ddd; border-radius: 0 !important; box-sizing: border-box;}
.bizcardAllCont .bizFormWrap .formList input[type=text]::-webkit-input-placeholder {color:#9a9a9a;}
.bizcardAllCont .bizFormWrap .formList input[type=text]:-moz-placeholder {color:#9a9a9a;}
.bizcardAllCont .bizFormWrap .formList input[type=text]::-moz-placeholder {color:#9a9a9a;}
.bizcardAllCont .bizFormWrap .formList input[type=text]:-ms-input-placeholder {color:#9a9a9a;}
.bizcardAllCont .bizFormWrap .formList .active input[type=text]::-webkit-input-placeholder {color:#010101;}
.bizcardAllCont .bizFormWrap .formList .active input[type=text]:-moz-placeholder {color:#010101;}
.bizcardAllCont .bizFormWrap .formList .active input[type=text]::-moz-placeholder {color:#010101;}
.bizcardAllCont .bizFormWrap .formList .active input[type=text]:-ms-input-placeholder {color:#010101;}
.bizcardAllCont .bizFormWrap .formList textarea {width: 100%; height: 55px; padding: 6px; border: 1px solid #d6d6d6; box-sizing: border-box;}
.bizcardAllCont .bizFormWrap .formList .formRow > div + div {padding-left: 10px;}

/* 연락처 내보내기 */
.bizCardOutput {padding: 24px 0 100px;}
.bizCardOutput .btnBttmWrap {margin-top: 12px;}
.bizCardOutput .box02 {padding: 21px 15px;}
.bizCardOutput .tableTypeRow .radioStyle05 label {width: 127px;}
.bizCardOutput .tableTypeRow .radioStyle05 .txt {display: inline-block; color: #666; vertical-align: middle;}
.bizCardOutput .tableTypeRow .selBox {text-align: center;}
.bizCardOutput .tableTypeRow .selBox .selectType02 {display: block; width: 80px; margin: 8px;}
.bizCardOutput .tableTypeRow .dlBox + .dlBox {border-top: 1px solid #ddd;}
.bizCardOutput .tableTypeRow .dlBox dt {padding: 10px 15px; border-bottom: 1px solid #ddd;} 
.bizCardOutput .tableTypeRow .dlBox dt .alarm span {margin-right: 8px; font-size: 14px; color: #666; font-weight: 700;}
.bizCardOutput .tableTypeRow .checkboxWrap {margin-top: -3px; overflow: hidden;}
.bizCardOutput .tableTypeRow .chkStyle06 {width: 20%; margin-top: 3px; float: left;}
.bizCardOutput .tableTypeRow .chkStyle06.checkAll {width: 100%; margin-bottom: 8px; float: none;}
.bizCardOutput .tableTypeRow .saveFileBox {padding: 130px 15px; text-align: center;}
.bizCardOutput .tableTypeRow .saveFileBox > .txt {padding-top: 230px; font-size: 24px; position: relative;}
.bizCardOutput .tableTypeRow .saveFileBox > .txt:before {content: ""; display: block; width: 198px; height: 198px; margin-left: -99px; background: url(/covicore/resources/images/theme/ic_save_file.png) no-repeat center center; position: absolute; left: 50%; top: 0;}

/* 연락처 가져오기 */
.bizcardAllCont .bizcardListBox {padding: 28px 0 100px;}
.bizcardAllCont .topInfoBox .grayBox02 {margin: 23px auto 0; padding: 23px 0;}
.bizcardAllCont .inputFileForm {width: 575px; margin: 0 auto; position: relative;}
.bizcardAllCont .inputFileForm input[type=file] {width: 100%; height: 30px; position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2;  opacity: 0; cursor: pointer;}
.bizcardAllCont .inputFileForm .txtFileName {display: block; width: 524px; height: 30px; padding: 0 8px; line-height: 28px; border: 1px solid #eaeaea; background: #fff; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; z-index: 1;}
.bizcardAllCont .inputFileForm .btnInputFile {min-width: 0; position: absolute; right: 0; top: 0;}
.bizcardAllCont .grayBox02 + .btnArea {margin-top: 14px; text-align: center;}
/* .bizcardTopCont {margin-top: 46px;} */
.bizcardTopCont:after {content: ""; display: block; clear: both;}
.bizcardTopCont select, .bizcardTopCont input {height: 30px; margin-right: 5px; float: left;}
.bizcardTopCont select, .bizcardTopCont input {width: 203px;}
.tblList.tblBizcardList.mt10 {margin-top: 10px !important;}
.tblList.tblBizcardList .btnBttmWrap {margin-top: 20px;}
.tblList.tblBizcardList .btnTypeDefault {vertical-align: middle;}
.bizcardAllCont .bottomInfoBox {margin-top: 50px;}

/* 연락처 정리하기 */
.bizcardAllCont .bizcardListBox.listDuplication {padding: 18px 0 100px;}
.bizcardAllCont .listDuplication .topInfoBox {padding: 30px 0 0;}
.tblList.tblBizcardList.mt30 {margin-top: 30px !important;}
.bizcardAllCont .listDuplication .tabCont {margin: 0;}

/* popup_카드보기 */
.layer_divpop.popBizCardView .popContent {padding: 25px 25px 22px; position: relative;}
.layer_divpop.popBizCardView .popContTop {position: relative;}
.layer_divpop.popBizCardView .popContTop {min-height: 90px; margin-bottom: 33px;}
.layer_divpop.popBizCardView .popContTop .photoArea {overflow: hidden; box-sizing: border-box; position: relative; z-index: 2;}
.layer_divpop.popBizCardView .popContTop.nameCard .photoArea {width: 90px; height: 90px; border-radius: 100%;}
.layer_divpop.popBizCardView .popContTop.business .photoArea {width: 140px; height: 90px; border-radius: 3px; border: 1px solid #ebebeb;}
.layer_divpop.popBizCardView .popContTop .photoArea img {width: 100%;}
.layer_divpop.popBizCardView .popContTop .infoArea {width: 100%; box-sizing: border-box; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%); -ms-transform: translate(-50%,-50%); transform: translate(-50%,-50%); z-index: 1;}
.layer_divpop.popBizCardView .popContTop.nameCard .infoArea {padding-left: 130px;}
.layer_divpop.popBizCardView .popContTop.business .infoArea {padding-left: 170px;}
.layer_divpop.popBizCardView .popContTop dt {margin-bottom: 10px; margin-right: 30px; line-height: 1; font-size: 18px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.layer_divpop.popBizCardView .popContTop dt strong {padding-right: 12px; font-size: 22px; font-weight: 700;}
.layer_divpop.popBizCardView .popContTop dd {line-height: 18px; color: #666; font-size: 13px;}
.layer_divpop.popBizCardView .popContTop dd strong {font-weight: 700;}
.layer_divpop.popBizCardView .contDetail {padding-bottom: 32px;}
.layer_divpop.popBizCardView .contDetail > dl > dt {width: 130px;}
.layer_divpop.popBizCardView .contDetail .icoMail {padding-left: 23px;}
.layer_divpop.popBizCardView .contDetail .icoMail:after {width: 15px; height: 13px; background-position: -24px -22px; left: 0; top: 3px;}
.layer_divpop.popBizCardView .btnPosRWrap {position: absolute; right: 20px; top: 18px; z-index: 3;}
.layer_divpop.popBizCardView .btnOutput {display: block; width: 30px; height: 30px; text-indent: -9999px; overflow: hidden;}
.layer_divpop.popBizCardView .btnOutput:after {width: 23px; height: 19px; margin: -9px 0 0 -12px; background-position: 0 -45px; left: 50%; top: 50%;}
.layer_divpop.popBizCardView .popBtnWrap {padding-top: 23px;}

/* popup_그룹추가 */
.layer_divpop.popBizCardAddGroup .popContent {padding: 43px 23px 23px;}
.layer_divpop.popBizCardAddGroup .rowTypeWrap {padding-bottom: 46px;}
.layer_divpop.popBizCardAddGroup .rowTypeWrap > dl > dt {width: 107px;}
.layer_divpop.popBizCardAddGroup .popBtnWrap {padding-top: 15px;}

/* popup_기념일등록 */
.layer_divpop.popBizRegisterAnn .popContent {padding: 20px 24px 22px;}
.layer_divpop.popBizRegisterAnn .rowTypeWrap {padding-bottom: 20px;}
.layer_divpop.popBizRegisterAnn .rowTypeWrap > dl > dt {width: 107px;}
.layer_divpop.popBizRegisterAnn .dateSel {display: inline-block; width: 103px;}
.layer_divpop.popBizRegisterAnn .dateSel.type02 .icnDate {margin-left: -32px;}
.layer_divpop.popBizRegisterAnn .radioWrap {display: inline-block; margin-left: 10px;}
.layer_divpop.popBizRegisterAnn .floatBox {display: inline-block; width: 100%;}
.layer_divpop.popBizRegisterAnn .alarm {margin-top: 5px; float: left;}
.layer_divpop.popBizRegisterAnn .selectType02 {float: right;}
.layer_divpop.popBizRegisterAnn .popBtnWrap {padding-top: 15px;}

/* popup_SMS보내기 */
.layer_divpop.popBizSms .popContent {padding: 30px 30px 24px;}
.layer_divpop.popBizSms .contSmsWrap {padding-bottom: 30px;}
.layer_divpop.popBizSms .contSmsWrap:after {content: ""; display: block; clear: both;}
.layer_divpop.popBizSms .massageArea {width: 219px; height: 396px; padding: 32px 8px 44px 7px; background: url('/groupware/resources/images/bgSmsBox.png') no-repeat center center; box-sizing: border-box; float: left;}
.layer_divpop.popBizSms .massageArea .heading {height: 32px; line-height: 32px; color: #fff; font-size: 13px; font-weight: 700; text-align: center;}
.layer_divpop.popBizSms .massageArea textarea {width: 202px; height: 249px; padding: 10px 12px; border: 0; box-sizing: border-box; resize: none; background: transparent;}
.layer_divpop.popBizSms .massageArea .optBtn {border-top: 1px solid #dfdfdf; overflow: hidden;}
.layer_divpop.popBizSms .massageArea .optBtn li {width: 31.2%; box-sizing: border-box; float: left;}
.layer_divpop.popBizSms .massageArea .optBtn li + li {border-left: 1px solid #dfdfdf;}
.layer_divpop.popBizSms .massageArea .optBtn li:last-child {width: 37.6%;}
.layer_divpop.popBizSms .massageArea .optBtn li a {display: block; width: 100%; line-height: 37px; color: #999; font-size: 12px; text-align: center;}
.layer_divpop.popBizSms .sendInfoArea {width: 322px; float: right;}
.layer_divpop.popBizSms .sendInfoArea em,
.layer_divpop.popBizSms .sendInfoArea i {font-style: normal;}
.layer_divpop.popBizSms .sendInfoArea .topInfo {margin-bottom: 12px; padding-left: 21px;}
.layer_divpop.popBizSms .sendInfoArea .topInfo:after {width: 14px; height: 16px; background-position: -62px 0; left: 0; top: 1px;}
.layer_divpop.popBizSms .sendInfoArea .topInfo li {display: inline-block; margin-left: 5px; padding-left: 10px; line-height: 14px; font-size: 13px; color: #666; position: relative;}
.layer_divpop.popBizSms .sendInfoArea .topInfo li:first-child {margin-left: 0; padding-left: 0;}
.layer_divpop.popBizSms .sendInfoArea .topInfo li:after {content: ""; display: block; width: 1px; height: 10px; margin-top: -5px; background: #ebebeb; position: absolute; left: 0; top: 50%;}
.layer_divpop.popBizSms .sendInfoArea .topInfo li:first-child:after {display: none;}
.layer_divpop.popBizSms .sendInfoArea .topInfo em {color: #000;}
.layer_divpop.popBizSms .inputWrap {margin-top: 15px; padding-top: 15px; border-top: 1px solid #f4f4f4; position: relative;}
.layer_divpop.popBizSms .inputWrap:first-child {margin: 0; padding: 0; border-top: 0;}
.layer_divpop.popBizSms .sendInfoArea input[type=text] {height: 30px; vertical-align: top; border: 1px solid #d6d6d6;}
.layer_divpop.popBizSms ::-webkit-input-placeholder {color:#999;}
.layer_divpop.popBizSms :-moz-placeholder {color:#999;}
.layer_divpop.popBizSms ::-moz-placeholder {color:#999;}
.layer_divpop.popBizSms :-ms-input-placeholder {color:#999;}
.layer_divpop.popBizSms .inpRow3 {margin: 0 -2px 15px;}
.layer_divpop.popBizSms .inpRow3:after {content: ""; display: block; clear: both;}
.layer_divpop.popBizSms .inpRow3 input, 
.layer_divpop.popBizSms .inpRow3 .btnTypeDefault {display: block; margin: 0 2px; float: left;}
.layer_divpop.popBizSms .inpRow3 input {width: 190px;}
.layer_divpop.popBizSms .inpRow3 .btnTypeDefault {width: 62px;}
.layer_divpop.popBizSms .inputWrap .scrollBox {height: 130px; margin-bottom: 10px; padding: 18px 14px; border: 1px solid #e5e5e5; box-sizing: border-box; overflow-y: auto;}
.layer_divpop.popBizSms .checkListBox > li + li {margin-top: 10px;}
.layer_divpop.popBizSms .checkListBox label > span {display: inline-block; line-height: 15px; color: #666; font-size: 13px; vertical-align: top;}
.layer_divpop.popBizSms .checkListBox label .name {width: 85px;}
.layer_divpop.popBizSms .btnWrap .btnTypeDefault {min-width: 50px;}
.layer_divpop.popBizSms .selForm,
.layer_divpop.popBizSms .dateForm {padding-left: 89px;}
.layer_divpop.popBizSms .posL {display: inline-block; line-height: 30px; color: #666; font-weight: 700; position: absolute; left: 0; top: 15px;}
.layer_divpop.popBizSms .dateForm .dateSel .unit {display: inline-block; height: 30px; line-height: 30px; text-align: center;}
.layer_divpop.popBizSms .dateForm .dateSel .inputTime {width: 30px;}
.layer_divpop.popBizSms .popBtnWrap {padding-top: 15px;}
