@charset "utf-8";
/* lnb 시작  */
.section_typemail {border-bottom:1px solid #eaeaea; padding-bottom: 9px; padding-top: 0px;}
.section_typemail_ul {margin: 0px; padding:0px; list-style: none; text-align: center;}
.section_typemail_ul li {display: inline-block; font-size: 13px; line-height: 20px; margin-left: 10px;}
.section_typemail_ul li a {font-size: 13px; vertical-align: middle; display: inline-block; padding: 5px;}
.typemail_count {vertical-align: middle; height: 21px; line-height: 21px; font-size: 11px; color: #fff; border-radius: 20px; display: inline-block; padding:0 8px 0 8px;}
.typemail_count_g  {vertical-align: middle; height: 21px; line-height: 21px; font-size: 11px; color: #fff; border-radius: 20px; display: inline-block; padding:0 8px 0 8px; background:#aeb2b4;}
.tymail01 {padding-right:5px; vertical-align: middle;}
.tymail02 {padding-right:5px; background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat 0px 1px; padding-left: 18px;  vertical-align: middle;}
.contLnbMenu.mailMenu > li {border-bottom:0px;}
.contLnbMenu.mailMenu > li:first-child {margin-top: 15px;}
.contLnbMenu.mailMenu > li a {padding:10px 25px 10px 50px;}
.contLnbMenu.mailMenu > li a:hover {background-color: #f4f4f4;}
.contLnbMenu.mailMenu > li.gline {border-bottom:1px solid #eaeaea; margin-bottom: 15px;} 
.contLnbMenu.mailMenu > li.gline a {margin-bottom: 15px;}
.userselect {padding:0px 25px 10px 25px;}
.userselect .selectType02 {width:100%;}
.mailMenu > li.mailMenu02 a {background-position:25px 10px;}
.mailMenu > li.mailMenu05 a {background-position:25px -142px;}
.mailMenu > li.mailMenu06 a {background-position:25px -192px;}
.mailMenu > li.mailMenu07 a {background-position:25px -240px;}
.mailMenu > li.mailMenu08 a {background-position:25px -289px;}
.mailMenu > li.mailMenu09 a {background-position:25px -336px;}
.mailMenu > li.mailMenu10 a {background-position:25px -382px;}
.mailtree ul {width:100%;}
.mailtree .mailico1 {background-position:0px -56px; display:inline-block; padding-left:24px; height:17px;}
.mailtree .mailico2 {background-position:0px -103px; display:inline-block; padding-left:24px; height:17px;}
.mailtree {clear:both; padding:0; margin:0; list-style: none;}  
.mailtree li {padding:0; margin:0; list-style:none;}
.mailtree a {padding:5px 0px 7px 0px !important;}
.mailtree .tree_ico{display:inline-block;width:18px; height:21px; margin:-1px 0 0 2px;}
.mailtree a span {margin-left:7px; font-weight:700;}
.mailtree .inpStyle02 {width:auto; margin:2px 0px 2px 0px; height:25px; min-height:25px; line-height:25px;}
.tree_edit {display:none; position:absolute; right:10px;}
.tree_edit a {display:inline-block;}
.tree_edit a span {display:none;}
.tree_box {min-width:14px; height:25px; margin:0px; display:inline-block; vertical-align:middle;}
.tree_box.btnon a {display:inline-block; background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_03.png') no-repeat center 8px; width:25px; height:21px; padding:0px !important;}
.tree_box.btnoff a {display:inline-block; background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_02.png') no-repeat center 6px; width:25px; height:21px; padding:0px !important;}
.tree_box.normal a {display:none;}
.maillist {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:100%; padding-top:3px;}
.maillist:hover {background-color:#f4f4f4;}
.maillist:hover .tree_edit {display:inline-block;}
.tree_edit_delete {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:2px -35px !important; width:15px; height:28px; display:inline-block;}
.tree_edit_plus {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:2px -72px !important; width:15px; height:28px; display:inline-block;}
.tree_edit_edit {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:2px -109px !important; width:15px; height:28px; display:inline-block;}
.tree_edit_delete:hover {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:-63px -35px !important; width:15px; height:28px; display:inline-block;}
.tree_edit_plus:hover {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:-63px -72px !important; width:15px; height:28px; display:inline-block;}
.tree_edit_edit:hover {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat !important; background-position:-63px -109px !important; width:15px; height:28px; display:inline-block;}
.mailMenu11 {cursor:auto !important;}
.capacity_wrap {padding:0px 25px 0px 25px;}
.capacity_box {height:7px; width:100%; background-color:#ddd; display:inline-block;}
.capacity_bar {height:7px;}
.capacity_gray {color:#999;}
.capacity_tit {margin:0px; padding:0px;}
/* lnb 끝  */

/*상단 탭 시작*/
.l-contents-tabs {display:-webkit-box; display:-ms-flexbox; display:flex; height:50px; border-bottom:1px solid #edf1f5; background-color:#f8f8f8;}
.l-contents-tabs .l-contents-head__info {width:230px;}
.l-contents-tabs__fixed-tab {position:relative; width:160px; height:50px; background-color:#e2e2e2;}
.l-contents-tabs__fixed-tab:after {content:" "; position:absolute; top:48px; left:0; width:100%; height:2px; -webkit-transition:all .4s; transition:all .4s;}
.l-contents-tabs__fixed-tab--active {background-color:#fff;}
.l-contents-tabs__fixed-tab--active:after {top:0; bottom:auto;}
.l-contents-tabs__fixed-tab--active .l-contents-tabs__main-tab i {opacity:1;}
.l-contents-tabs__main-tab {display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:160px; height:50px; color:#000; font-size:14px; text-decoration:none;}
.l-contents-tabs__fixed-tab--active .l-contents-tabs__main-tab .l-contents-tabs__title {color:#000; font-weight:bold;}
.l-contents-tabs__main-tab i {opacity:.5; -webkit-transition:all .2s; transition:all .2s; margin:0 5px 0 26px;}
.l-contents-tabs__main-tab:hover {background-color:#fff;}
.l-contents-tabs__main-tab:hover .l-contents-tabs__title {color:#000;}
.l-contents-tabs__main-tab:hover i {opacity:1;}
.l-contents-tabs__main-tab .l-contents-tabs__title {width:60%;}
.l-contents-tabs__list {-webkit-box-flex:1; -ms-flex:1; flex:1; width:100%; margin-left:1px;}
.l-contents-tabs__list:after {content:""; display:table; clear:both;}
.l-contents-tabs__item {float:left; display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-align:center; -ms-flex-align:center; align-items:center; position:relative; width:160px; height:50px; padding:0 30px 0 15px; background-color:#eee; -webkit-transition:background-color .2s; transition:background-color .2s; cursor:pointer;}
.l-contents-tabs__item + .l-contents-tabs__item {margin-left:1px;}
.l-contents-tabs__item:after {content:" "; position:absolute; top:48px; left:0; width:100%; height:2px; -webkit-transition:all .4s; transition:all .4s;}
.l-contents-tabs__item--active {background-color:#fff;}
.l-contents-tabs__item--active .l-contents-tabs__title {color:#000;}
.l-contents-tabs__item--active:after {top:0; bottom:auto;}
.l-contents-tabs__item--dim {opacity:.5;}
.l-contents-tabs__item--draggable {position:fixed; background-color:#fff; -webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.4); box-shadow:0 1px 10px rgba(0, 0, 0, 0.4); cursor:-webkit-grab; cursor:grab; z-index:1;}
.l-contents-tabs__item--draggable:active {cursor:-webkit-grabbing; cursor:grabbing;}
.l-contents-tabs__title {overflow:hidden; width:100%; color:#999; font-size:14px; white-space:nowrap; text-overflow:ellipsis; line-height:22px;}
.l-contents-tabs__delete {position:absolute; top:50%; right:10px; color:#000; font-size:0.625rem; text-decoration:none; line-height:1; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%); -webkit-transition:all .2s; transition:all .2s;}
.l-contents-tabs__delete i {opacity:.5;}
.l-contents-tabs__delete:hover i {opacity:1;}
.l-contents-tabs__more-item {float:left; position:relative; width:18px; height:50px; margin-left:1px;}
.l-contents-tabs__plus-item {float:left; position:relative; width:28px; height:50px; margin-left:1px;}
.l-contents-tabs__plus-item .l-contents-tabs__btn-more {width:28px;}
.l-contents-tabs__btn-more {display:-webkit-box; display:-ms-flexbox; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; align-items:center; width:18px; height:50px; background-color:#ddd; color:#000; font-size:0.875rem; line-height:1; text-decoration:none;}
.l-contents-tabs__btn-more i {opacity:.5; -webkit-transition:opacity .2s; transition:opacity .2s;}
.l-contents-tabs__btn-more:hover i {opacity:1;}
.l-contents-tabs__more-pop {display:none; overflow-y:auto; position:absolute; top:44px; right:0; width:270px; height:170px; padding:5px 0; background-color:#fff; -webkit-box-shadow:0 2px 10px rgba(0, 0, 0, 0.4); box-shadow:0 2px 10px rgba(0, 0, 0, 0.4); z-index:3;}
.l-contents-tabs__more-pop--view {display:block;}
.l-contents-tabs__pop-item {display:block; height:32px; padding:7px 15px 6px; color:#000; font-size:13px; text-decoration:none; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.l-contents-tabs__pop-item:hover {background-color:#f7fafc;}
.l-contents-tabs__more-item.active .l-contents-tabs__more-pop{display: block;}
.addFuncBox.active .addFuncLilst_normal {display: block;}
.tab_mailico_get {display:inline-block; width:18px; height:15px;}
.i-cancle {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -60px 7px!important; display:inline-block; width:21px; height:21px;}
.l-contents-tabs__title:hover{color:#666;}
.i-etc--mail{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -107px 4px!important; display:inline-block; width:5px; height:21px;}

/*상단 탭 끝 */
.btnTypeDefault_r.right.mailico_sort{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat 5px -263px;}
.btnTypeDefault_r.middle1.mailico_filter{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -20px -263px;}
.btnTypeDefault_r.middle2.mailico_time{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -45px -263px;}
.btnTypeDefault_r.middle2.mailico_talk{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -99px -263px;}
.btnTypeDefault_r.left.mailico_list{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -72px -263px;}
.btnTypeDefault_r.left.mailico_rightleft{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -129px -263px;}
.btnTypeDefault_r.left.mailico_topbottom{background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -157px -263px;}
.sort {position:absolute; right:5px; background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat 255px 255px; width:14px; height:14px; display:inline-block; vertical-align:middle; margin-top:9px;}
.sort.top{background-position:2px -310px;}
.sort.bottom{background-position:-16px -310px;}

/* 말줄임 */
.ellips {overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; word-break:break-all; white-space:nowrap;}

/* 메일리스트 */
.btnListView.listViewType01.MailAlign {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 5px -263px;}
.btnListView.listViewType02.MailFilter {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -21px -263px; border-radius:0;}
.btnListView.listViewType02.MailTime {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -45px -263px; border-radius:0;}
.btnListView.listViewType02.MailList {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -71px -262px;}
.MailListType01 {clear:both; margin-top:11px;}
.maildateline {position:relative; clear:both; margin-top:20px; height:14px; line-height:14px;}
.maildateline:before {position:absolute; top:0; left:0; content:''; display:block; width:100%; height:6px; border-bottom:1px solid #e0e0e1;}
.maildateline .tx_maildate {position:absolute; top:0; left:0; font-size:12px; color:#364d5d; padding-right:8px; background:#fff;}
.MailListType01 {clear:both; padding-bottom:10px; border-bottom:1px solid #eaeaea; border-top:1px solid #969696;}
.MailListType01_table {position:relative; width:100%; padding:3px 0; border-bottom:1px solid #fff; table-layout:fixed;}
.MailListType01_table td {padding:8px 0; min-height:20px; vertical-align:top; line-height:1.5em;}
.MailListType01_table td .subject_wrap {position:relative; display:table; width:100%; table-layout:fixed;}
.MailListType01_table td .tx_name {font-weight:bold;}
.MailListType01_table td .tx_date {font-size:12px; color:#999;} 
.MailListType01_table td .tx_size {display:inline-block; padding:0 20px; font-size:12px; color:#999;}
.MailListType01_table td .subject_link_wrap {display:table-cell;}
.MailListType01_table td .subject_link {font-weight:bold;}
.MailListType01_table td .attFileListBox {margin-bottom:5px; display:inline-block; height:15px; vertical-align:middle;}
.MailListType01_table td .mail_fav_wrap {margin-bottom:5px; display:inline-block; height:15px; vertical-align:middle;}
.MailListType01_table td .mail_fav_wrap .mail_fav {display:inline-block; width:15px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 0 -195px; vertical-align:top;}
.MailListType01_table td .mail_fav_wrap .mail_fav.on {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -65px -195px;}
.MailListType01_table td .m_list_mark {display:inline-block; width:15px; float:left;}
.MailListType01_table td .m_list_mark_item span {display:inline-block; width:15px; height:15px;}
.MailListType01_table td .m_list_mark_item span.i_import {margin:0 0 -2px 0; display:inline-block; width:15px; height:15px;background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -70px -310px;}
.MailListType01_table td .subject_btn_wrap {display:table-cell; width:18px; vertical-align:top;}
.MailListType01_table td .subject_btn_wrap .subject_btn {margin:0 6px -1px 0; display:inline-block; width:12px; height:12px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 0 -235px;}
.MailListType01_table:hover {}
.MailListType01_table:hover .m_checkbox {opacity:1; visibility:visible;}
.MailListType01_table:hover .MailList_icon {display:none;}
.MailListType01_table tr.checked {background-color:#fefed0;}
.MailListType01_table tr.checked:hover {background-color:#fefed0;}
.MailListType01_table tr.selected {background-color:#dff4f6;}
.MailListType01_table tr.selected:hover {background-color:#dff4f6;}
.MailList_icon {position:absolute; top:9px; left:10px; display:inline-block; width:18px; height:20px;}
.read .MailList_icon {background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 0 -151px;}
.read td .tx_name {font-weight:normal;}
.read td .subject_link {font-weight:normal;}	
.m_list_check {min-width:38px; width:38px; padding:6px 10px 6px;}
.m_list_check .m_checkbox {position:absolute; top:7px; left:10px; opacity:0; visibility:hidden;}
.m_checkbox {-webkit-box-sizing:border-box; box-sizing:border-box; position:relative;}
.m_checkbox * {-webkit-box-sizing:border-box; box-sizing:border-box;}
.m_checkbox_input {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; clip:rect(0, 0, 0, 0);}
.m_checkbox_input[disabled] ~ label:before {background-color:#ebebeb;}
.m_checkbox_input[disabled] ~ label:after {border:2px solid #d3d3d3; background-color:#ebebeb; background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE0IDE0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjNjY2NjY2IiBkPSJNNS4yLDlMMi44LDYuNmwtMSwxTDUuMiwxMWw3LTdsLTEtMUw1LjIsOXoiLz48L3N2Zz4=); background-repeat:no-repeat; background-position:50% 50%; background-size:15px 15px; color:#666;}
.m_checkbox_input:checked ~ label:before {display:none;}
.m_checkbox_input:checked ~ label:after {display:block;}
.m_checkbox_label {display:inline-block; position:relative; padding-left:25px; cursor:pointer;}
.m_checkbox_label:before {content:""; display:block; position:absolute; top:50%; left:0; width:18px; height:18px; background-color:#fff; border:2px solid #ddd; border-radius:2px; -webkit-box-sizing: border-box; box-sizing:border-box; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.m_checkbox_label:after {content:""; display:none; position:absolute; top:50%; left:0; width:18px; height:18px; border-radius:2px; background-color:#7e8d97; background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMTQgMTQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDE0IDE0IiB4bWw6c3BhY2U9InByZXNlcnZlIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNNS4yLDlMMi44LDYuNmwtMSwxTDUuMiwxMWw3LTdsLTEtMUw1LjIsOXoiLz48L3N2Zz4=); background-repeat:no-repeat; background-position:50% 50%; background-size:15px 15px; color: #fff; -webkit-box-sizing:border-box; box-sizing:border-box; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); transform:translateY(-50%);}
.m_checkbox_label_checked:before {display:none;}
.m_checkbox_label_checked:after {display:block;}
.subject_link_wrap {padding-right:20px; box-sizing:border-box;}
.subject_link {overflow:hidden; text-overflow:ellipsis;}
.FolderName{color: #999;}

/* 메일작성 */
.autoSaveTime {float:right; margin:25px 0 0 0; color:#999;}
.autoSaveTime:before {content:''; margin:1px 5px 0 0; display:inline-block; width:14px; height:14px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -135px -310px; vertical-align:top;}
.buttonStyleBoxRight > a.btnMailSCV {margin:9px 7px 0 0; display:inline-block; width:18px; height:17px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -159px -309px; vertical-align:top;}
.buttonStyleBoxRight > a.btnMailOrg {margin:9px 0 0 7px; display:inline-block; width:20px; height:17px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -187px -309px; vertical-align:top;}
.btnMailToMe {margin-left:15px; display:inline-block; white-space:nowrap; font-size:13px; font-weight:bold;}
.btnMailToMe:before {content:''; margin:9px 5px 0 0; display:inline-block; width:14px; height:14px; vertical-align:top;}
.approvalMailContent {clear:both; margin-top:12px; padding:15px; border-top:1px solid #c8c8c8; border-bottom:1px solid #eaeaea}
.approvalMailLine {display:inline-block; list-style:none; margin:0; padding:0;}
.approvalMailLine li {display:inline-block; float:left; height:50px;}
.approvalMailLine li:after {content:''; margin:19px 7px 0 7px; display:inline-block; width:12px; height:10px; vertical-align:top;}
.approvalMailLine li:last-child:after {display:none;}
.am_user_div {position:relative; display:inline-block; padding:5px 40px 0 50px; min-width:155px; height:50px; background-color:#fff; border:1px solid #d6d6d6; border-radius:50px; box-sizing:border-box;}
.am_user_img {position:absolute; top:9px; left:11px; display:inline-block; width:30px; height:30px; border-radius:30px; overflow:hidden;}
.am_user_img img {width:30px; min-height:30px;}
.am_user_name {display:block; line-height:20px; font-weight:normal;}
.am_user_team {display:block; line-height:16px; font-size:12px; color:#999;}
.am_user_close {position:absolute; top:19px; right:15px; display:inline-block; width:8px; height:8px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -217px -314px;}
.am_team_div {position:relative; display:inline-block; padding:0 40px 0 50px; min-width:155px; height:50px; line-height:50px; background-color:#fff; border:1px solid #d6d6d6; border-radius:50px; box-sizing:border-box;}
.am_team_img {position:absolute; top:9px; left:11px; display:inline-block; width:30px; height:30px; border-radius:30px; overflow:hidden; background:url(/HtmlSite/smarts4j_n/mail/resources/images/am_team.gif) no-repeat left top;}
.am_team_name {display:block; line-height:45px; font-weight:normal;}
.am_add_div {position:relative; display:inline-block; padding:0; min-width:155px; height:50px; line-height:46px; background-color:#fff; border-radius:50px; box-sizing:border-box;}									  
.am_btn_add {display:inline-block; padding:0; min-width:155px; height:50px; text-align:center;}
.am_btn_add:before {content:''; margin-right:5px; display:inline-block; width:12px; height:12px;}
.email_address {position:relative; display:inline-block; margin:0 5px 5px 5px; padding:0 27px 0 20px; height:30px; line-height:28px; background-color:#f4f4f4; box-sizing:border-box; border-radius:30px;}
.email_address p {line-height:28px;}
.email_address_close {position:absolute; top:12px; right:10px; width:6px; height:6px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -235px -315px;}
.tab_mailico_get {background:url('/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png') no-repeat -88px -310px;}
.inputBoxSytel01.type04 {padding:5px 0 0 !important; border-bottom:1px solid #eaeaea !important; border-top:0 !important;}
.inputBoxSytel01.type04 > div {min-height:35px; height:auto;}
.inpStyle01.type05 {width:100%;}
.mailMakeView {position:relative; padding:0 0 0 24px; box-sizing:border-box; border-bottom:1px solid #888;}
.mailMakeView input {width:100%; text-indent:0;}
.mailMakeTitle {padding:22px 0 12px;}
.btn_mailImportant {position:absolute; top:30px; left:5px; display:inline-block; margin:0 5px; width:3px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -194px -272px;}
.btn_mailImportant.on {position:absolute; top:30px; left:5px; display:inline-block; margin:0 5px; width:3px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -75px -310px;}
.btnFileAdd {display:inline-block; padding:0 8px; height:30px; line-height:28px; font-size:12px; border:1px solid #c6c6c6; border-radius:3px; box-sizing:border-box;}
.btnFileAdd:before {content:''; display:inline-block; width:9px; height:9px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -67px -79px; vertical-align:top; margin:9px 5px 0 0;}
.btnFileDel {display:inline-block; margin-left:4px; padding:0 8px; height:30px; line-height:28px; font-size:12px; border:1px solid #c6c6c6; border-radius:3px; box-sizing:border-box;}
.tx_FileInfo {display:inline-block; float:right; color:#999; margin-top:15px;}
.tx_FileInfo .line {display:inline-block; margin:0 9px; width:1px; height:9px; background-color:#ddd;}
.tx_FileInfo2 {display:inline-block; float:right; color:#999; margin-top:15px; font-size:12px;}
.tx_FileInfo2 .tx_blue {color:#4abde1; font-weight:bold;}
table td .tblIcAttFile {display:inline-block; vertical-align:top; margin:0 5px 0 0;}
table td .tblIcPPT {display:inline-block; vertical-align:top; margin:0 5px 0 0;}
.mailfileHover {width:100%;}
.mailfileHover th {height:26px; line-height:26px; background-color:#fbfbfb; color:#999; font-size:12px; font-weight:normal; border-bottom:1px solid #f3f3f3;}
.mailfileHover td .btnAddFile {display:inline-block; margin:0 0 0 4px; padding:0 3px; height:21px; line-height:19px; font-size:12px; background-color:#fff; border:1px solid #d5d5d5; border-radius:3px; box-sizing:border-box;}
.mailfileHover td .btnAddFile.dis {color:#bbb;}
.mailfileHover_scroll {height:92px; overflow:auto; overflow-x:hidden;}
.cRTopButtons a.btnTypedown_link01 {line-height:24px !important;}
.addr_input_list {list-style:none; margin:0; padding:0;}
.addr_input_list li {float:left;}
.addr_input {cursor:text;}
.addr_input textarea {display:inline; width:auto; height:30px; line-height:30px; border:0; resize:none;}
.selectType06.size233 {width:233px; margin:0 5px 5px;}
.btnPrevPage {display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; text-indent:0 !important;}
.btnPrevPage:before {content:''; display:inline-block; width:11px; height:6px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -207px -272px; vertical-align:top; margin-top:13px;}
.btnNextPage {display:inline-block; width:30px; height:30px; line-height:30px; text-align:center; text-indent:0 !important;}
.btnNextPage:before {content:''; display:inline-block; width:11px; height:6px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -228px -272px; vertical-align:top; margin-top:13px;}
.btnPrevPage.dis {opacity:.5;}
.btnNextPage.dis {opacity:.5;}
.mailAllCont {padding:0 25px 45px;}
.mailTitle {position:relative; padding:10px 0 0;}
.mailTitle h2 {display: inline-block; width:calc(100% - 160px); font-size:22px; font-weight:700; font-family:sans-serif, 'Nanum Gothic','맑은 고딕', 'Malgun Gothic'; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.mailTopCont .mailTitle h2.mailTitleh2 {display:inline-block; width:calc(100% - 130px) !important; height:25px; line-height:25px; box-sizing:border-box;}
.mailTopCont .mailTitle h2.mailTitleh2.imt:before {content:''; margin:6px 12px 0 8px; display:inline-block; width:3px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -75px -310px; vertical-align:top;}	
.mailTopCont .mailTitle h2 a.fav {margin:6px 0 0 6px; display:inline-block; width:15px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 0 -195px; vertical-align:top;}	
.mailTopCont .mailTitle h2 a.fav.on {margin:6px 0 0 6px; display:inline-block; width:15px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -65px -195px; vertical-align:top;}	
.mailDateTime {float:right; margin:5px 0 0 0; color:#999;}
.mailDateTime:before {content:''; margin:1px 5px 0 0; display:inline-block; width:14px; height:14px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -135px -310px; vertical-align:top;}
.mailAllCont > div {position:relative;}
.mailBottomCont .mailViewCont {padding-bottom:45px;}
.mailViewCont {border-top:1px solid #888;}
.mailDisplay.type02 {border-bottom:1px solid #eaeaea;}
.mailDisplay {padding:10px 0 10px 23px;}
.mailDisplay > div {margin-top:0; display:table; width:100%; table-layout:fixed; font-size:13px;}
.mailDisplay .makeMoreInput > div {margin-top:0; display:table; width:100%; table-layout:fixed; font-size:13px;}
.mailDisplay div.tit, .mailDisplay div.txt {padding-top:8px; display:table-cell; vertical-align:middle; position:relative;}
.mailDisplay .tit {width:80px; font-weight:700; font-size:14px;}
.mailDisplay .tit .btnMoreStyle01 {margin:-1px 6px 0 -23px; vertical-align:top;}
.mailDisplay .txt {width: calc(100% - 110px);}
.mailDisplay .txt .name strong {font-weight:normal;}
.mailDetaileVeiw {padding:30px 22px; line-height:20px;}
.mailDisplay p {white-space:normal; line-height:26px;}
.mailFileWrap {clear:both; padding-top:7px;}
.mailFileTxt {font-weight:bold;}
.mailFileTxt .btnMoreStyle01 {margin:7px 5px 0 0; vertical-align:top;}
.mailFileTxt .tx_blue {display:inline-block; margin:0 10px 0 5px; color:#5cc2e3;}
.btnFileDownload {display:inline-block; height:30px; border:1px solid #d5d5d5; border-radius:3px; box-sizing:border-box; padding:0 10px;}
.btnFileDownload span {display:inline-block; height:30px; line-height:28px; font-weight:normal;}
.btnFileDownload span:before {content:''; margin:0 5px 0 0; display:inline-block; width:9px; height:11px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -229px -288px;}
.mailFileListWrap {clear:both; margin:7px 22px 0 22px; display:block; padding:5px 10px; border:1px solid #e8e8e9; border-radius:3px; box-sizing:border-box;}
.mailFileList {list-style:none; margin:0; padding:0;}
.mailFileList li {clear:both; line-height:26px;}
.mailFileList li > a {display:inline-block;}
.mailFileList li > a span {display:inline-block; margin:5px 5px 0 0; vertical-align:top;}
.mailFileList li > span.tx_FileSize {display:inline; margin:0 0 0 10px;}
.cbtnFileDw {display:inline-block; margin:5px 5px 0 0; width:17px; height:17px; border:1px solid #d5d5d5; border-radius:2px; box-sizing:border-box; text-align:center; vertical-align:top;}
.cbtnFileDw:before {content:''; margin-top:2px; display:inline-block; width:9px; height:11px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -229px -288px; vertical-align:top;}
.tx_FileSize {font-size:12px; color:#999;}
.mailBigFileWrap {clear:both; margin:27px 22px 0 22px; padding:5px 10px; background-color:#f4fdff; border:1px solid #dcebee; border-radius:3px; box-sizing:border-box;}
.mailBigFileTitle {margin:0 0 5px 0; height:34px; line-height:30px; border-bottom:1px solid #e3e3e3;}
.mailBigFileTitle .tx_Title {display:inline-block; margin:0 0 3px 0; line-height:30px; font-weight:bold;}
.mailBigFileTitle .tx_blue {margin:0 10px 0 5px; display:inline-block; color:#5cc2e3;}
.mailBigFileTitle .tx_FileSize {}
.mailBigFileTitle .tx_date {margin:10px 0 0 0; display:inline-block; float:right; font-size:12px;}
.mailBigFileTitle .tx_date:before {content: ''; margin:0 5px 0 0; display:inline-block; width:14px; height:14px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -135px -310px; vertical-align:top;}
.mailBigFileTitle .tx_date_red {font-weight:bold; color:#ff5a00;}
.quick_reply {padding:0 22px;}									
.quick_reply .reply_cover {clear:both; border:1px solid #e5e5e5; border-radius:3px; padding:10px 15px 9px; margin-bottom:6px; position:relative; line-height:16px;}
.quick_reply .edit_placeholder {position:absolute; left:15px; top:10px; color:#999; z-index:1;}
.quick_reply .edit_area {min-height:18px; position:relative; z-index:5; background-color:transparent; height:18px;}
.quick_reply .btns {float:right;}
.quick_reply .btns a.btnQuickReply {cursor:pointer; background-color:#fff; border:1px solid #d5d5d5; border-radius:3px; text-decoration:none; display:inline-block; overflow: visible; vertical-align:top; height:30px; line-height:28px; margin:0 0 0 3px; padding:0 9px;}
.prvNextList > li > div {}
.prvNextList > li > div.read {vertical-align:top; height:52px; overflow:hidden;}
.prvNextList > li > div.unread {vertical-align:top; height:52px; overflow:hidden;}
.read .ico_MailIPN {float:left; margin-top:15px; display:inline-block; width:18px; height:18px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat left -151px; vertical-align:top;}
.read .name_MailIPN {float:left; display:inline-block; height:18px; margin:0 27px 0 0; vertical-align:top;}
.unread .ico_MailIPN {float:left; margin-top:15px; display:inline-block; width:18px; height:18px; background:url(/HtmlSite/smarts4j_n/covicore/resources/images/theme/blue/mail_unread.png) no-repeat left 4px; vertical-align:top;}
.unread .name_MailIPN {float:left; display:inline-block; height:18px; margin:0 27px 0 0; vertical-align:top; font-weight:bold;}
.nofile_MailIPN {float:left; display:inline-block; width:18px; height:18px; margin:15px 22px 0 4px; vertical-align:top;}
.file_MailIPN {float:left; display:inline-block; width:18px; height:18px; margin:19px 22px 0 4px; vertical-align:top;}
.file_MailIPN:before {content:''; margin:0 0 0 4px; display:inline-block; width:9px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -210px -288px; vertical-align:top;}
.prvNextList > li .read a {float:left; display:inline-block; width:calc(100% - 180px);}
.prvNextList > li .unread a {float:left; display:inline-block; width:calc(100% - 180px); font-weight:bold;}
.table_paging input[type="button"] {vertical-align:top; margin-top:13px;}
.table_paging_wrap {position:relative; width:100%; background-color:#fff; box-sizing:border-box; text-align:center; min-height:50px;}
.table_paging_wrap .goPage {position:absolute; left:0px; top:0px; display:inline-block; margin-top:13px;}
.table_paging_wrap .table_Status {top:9px;}
.table_paging_wrap .goPage .btnGo {margin:0 0 0 5px; vertical-align:top;}

/* 메일 좌우보기 */
.cRContBottom.MailCont {top:108px; height:calc(100% - 108px); overflow:hidden;}
.MailCont .mailAllCont {padding:0 25px; height:calc(100% - 56px);}
.MailCont .mailTopCont > .buttonStyleBoxLeft {margin-left: 0 !important;}
.MailCont .mailTopCont > .pagingType02, .mailTopCont > .buttonStyleBoxRight {margin:0; padding:12px 0 0; font-size:0;}
.mailViewContAll {margin-top:11px; display:table; width:100%; height:100%; table-layout:fixed;}
.mailViewContLeft {position:absolute; top:0; left:0; bottom:0; min-width:307px; display:inline-block; padding:10px 0 60px 0; vertical-align:top; border-top:1px solid #969696; border-right:1px solid #b8b8b8; border-radius:0 3px 0 0; box-sizing:border-box;}
.mailViewContLeft .MailListType01 {border-top:0; border-bottom:0; margin-top:0;}
.mailViewContLeft .MailListType01 .maildateline {margin-top:10px;}
.mailViewContLeft .MailListType01 .MailListType01_table tr:first-child td {padding:6px 0 1px;}
.mailViewContLeft .MailListType01 .MailListType01_table tr:last-child td {padding:1px 0 6px;}
.mailViewContAll .table_paging input[type="button"] {}
.mailViewContAll .table_paging {text-align:left;}
.mailViewContAll .table_paging_wrap {position:absolute; left:0; bottom:0; height:50px; border-top:1px solid #e0e0e0; border-right:1px solid #b8b8b8;}
.mailViewContAll .table_paging_wrap .goPage {position:relative; top:auto; left:auto;}
.mailViewContAll .table_paging_wrap .table_Status {}
.mailViewContAll .table_paging_wrap .goPage .btnGo {}
.mailViewContRight {position:absolute; top:0px; bottom:0px; display:block; vertical-align:top; margin:0 0 0 2px; padding:10px 0 10px 10px; border-top:1px solid #969696; border-left:1px solid #b8b8b8; border-radius:3px 0 0 0; box-sizing:border-box;}
.mailViewContRight .cRContBtmTitle {padding:0 0 10px 0;}
.mailViewContRight .mailAllCont {width:100%; min-width:600px; padding:0 10px;}
.mailViewContRight .mailAllCont .mailTitle {}
.mailViewContRight .mailViewCont {border:0;}
.mailViewContCenter {display:table-cell; width:2px; cursor:col-resize;}
.mailDisplay .personBox {display:inline-block;}
.mailDisplay .personBox p.name {width:auto;}
.mailViewCont .surveySetting  {height:33px; right:0;}
.mailViewCont .surveySetting > a.btnAddFunc {border:0;}
.mailViewCont .surveySetting > a.surveryWinPop {height:33px; vertical-align:top;}
.mailViewCont .surveySetting > a.btnPrintIcon {height:33px; vertical-align:top;}
.mailViewContRight .mailDisplay .txt {position:relative; padding-right:150px;}
.ExPerson {position:absolute; top:10px; right:0; padding:0 11px 0 8px; display:inline-block; min-width:57px; height:25px; line-height:23px; background-color:#f4fdff; border:1px solid #cbe5eb; border-radius:25px; box-sizing:border-box;}
.ExPerson:before {content:''; margin:10px 8px 0 0; display:inline-block; width:8px; height:5px; vertical-align:top; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -192px -296px; }
.ExPerson span {color:#666;}
.mScrollV .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color:rgba(0,0,0,0.1);}

/* 상하보기 */
.mailViewContAllV {margin-top:11px; display:block; width:100%; height:100%;}
.mailViewContTop {position:absolute; top:0; left:0; bottom:0; display:block; padding:10px 0; vertical-align:top; border:1px solid #969696; border-bottom:0; border-radius:3px 3px 0 0; box-sizing:border-box;}
.mailViewContTop .MailListType01 {border-top:0; border-bottom:0; margin-top:0;}
.mailViewContTop .maildateline .tx_maildate {padding-left:10px;}
.mailViewContAllV .table_paging {padding-left:10px;}
.mailViewContAllV .table_paging input[type="button"] {margin-top:12px;}
.mailViewContAllV .table_paging_wrap {position:absolute; left:0; height:50px; border:1px solid #969696; border-top:1px solid #e0e0e0; border-radius:0 0 3px 3px;}
.mailViewContAllV .table_paging_wrap .goPage {margin:12px 0 0 10px;}
.mailViewContAllV .table_paging_wrap .table_Status {top:9px;}
.mailViewContMiddle {position:absolute; display:block; width:100%; height:10px; cursor:row-resize;}
.mailViewContBottom {position:absolute; left:0; bottom:0; width:100%; display:block; vertical-align:top; padding:10px 0 0 10px; border:1px solid #969696; border-bottom:0; border-radius:3px 3px 0 0; box-sizing:border-box;}
.mailViewContBottom .mailAllCont {width:100%; min-width:600px; padding:0 10px;}
.mailViewContBottom .mailAllCont .mailTitle {}
.mailViewContBottom .mailViewCont {border:0;}

/* 메일_좌측 트리 컨텍스트 메뉴 레이어*/
.ContextMenu_layer{position:absolute;border:1px solid #d6d6d6;box-shadow:1px 1px 4px 1px rgba(0,0,0,.2);z-index:3;background:#fff;}
.ContextLilst_normal {}
.ContextLilst_normal.left{left:-2px;}
.ContextLilst_normal > li {position:relative;border-bottom:1px solid #f4f4f4;width:100%; height: auto; white-space:nowrap; display:block;}
.ContextLilst_normal > li:last-child {border-bottom:none;}
.ContextLilst_normal > li > a {padding:0px 10px 0px 10px;display:block;height:29px;line-height:29px;font-size:13px;}
.ContextLilst_normal > li > ul > li {border-top: 1px solid #f4f4f4;}
.ContextLilst_normal > li > ul > li > a {display: block; padding-left: 48px; line-height: 29px; font-size: 13px; position: relative;}
.ContextLilst_normal > li > ul > li > a:after {content: ""; display: block; width: 6px; height: 1px; background: #b6b6b6; position: absolute; top: 14px; left: 43px;}
.ContextLilst_normal > li {border-bottom:1px solid #f4f4f4;}
.ContextLilst_normal > li > a {color:#444;}
.ContextLilst_normal > li > a:hover, .addFuncLilst_normal > li > a.active {background-color:#f4f4f4;}
.ContextLilst_normal .ColorGray {color:#999;}

/* 메일 PC로 내보내기 팝업*/
.layer_divpop.popmailPCletsbout .popContent {padding: 20px 24px 22px;}
.layer_divpop.popmailPCletsbout .rowTypeWrap {padding-bottom: 20px;}
.layer_divpop.popmailPCletsbout .rowTypeWrap > dl > dt {width: 107px;}
.layer_divpop.popmailPCletsbout .rowTypeWrap .name{margin-right:5px; width:180px;height:30px;font-size:13px;border:1px solid #d6d6d6;background:#f4f4f4;vertical-align:top;}
.layer_divpop.popmailPCletsbout .dateSel {display: inline-block;}
.layer_divpop.popmailPCletsbout .dateSel.type02 .icnDate {margin-left: -32px;}
.layer_divpop.popmailPCletsbout .radioWrap {display: inline-block; }
.layer_divpop.popmailPCletsbout .floatBox {display: inline-block; width: 100%;}
.layer_divpop.popmailPCletsbout .alarm {margin-top: 5px; float: left;}
.layer_divpop.popmailPCletsbout .selectType02 {float: right;}
.layer_divpop.popmailPCletsbout .popBtnWrap {padding-top: 15px;}
.layer_divpop.popmailPCletsbout .radioStyle05 {display: block; position: relative;}
.layer_divpop.popmailPCletsbout .radioStyle05 + .radioStyle05 {margin-left: 0;}
.layer_divpop.popmailPCletsbout .dateSel .adDate {width: 119px; border: 1px solid #d6d6d6;}

/* 메일 PC로 가져오기 팝업*/
.extensionPopLayer .popContent {padding:20px 24px 30px;}
.popmailPCbring #con_file {padding:5px 0;}
.popmailPCbring .ulList {padding-bottom:10px;border-bottom:0}
.popmailPCbring .ulList.type02 {padding:15px 0;border-top:1px solid #969696;}
.popmailPCbring .ulList li> div:first-child {width:136px;}
.popmailPCbring .ulList li:first-child {margin:0;border-bottom: 1px solid #969696;padding-bottom:  15px;}
.popmailPCbring {}
.popmailPCbring .bottom {padding-top:15px;}
.popmailPCbring input {height:30px;border:1px solid #d6d6d6;}
.popmailPCbring .noticeTextBox  {padding: 5px 0;font-size:13px;}
.popmailPCbring .dateSel .name{margin-right:5px; width:237px;height:30px;font-size:13px;border:1px solid #d6d6d6;background:#f4f4f4;vertical-align:top;}
.popmailPCbring .ulList .btnTypeDefault {margin-left:0px;vertical-align:top;}
.popmailPCbring .addDataBtn {padding-bottom: 0;}
.mailInputtree .contLnbMenu.mailMenu > li a {}
.mailInputtree .contLnbMenu.mailMenu > li .mailPopChk_wrap {margin:0; vertical-align:top;}
.mailInputtree .contLnbMenu.mailMenu > li .mailPopChk {margin:-3px 5px 0 0; vertical-align:top;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu02 .mailPopChk_wrap {position:absolute; top:6px; left:25px; display:inline-block;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu02 a {padding: 10px 25px 10px 66px; background-position:43px 10px;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu05 .mailPopChk_wrap {position:absolute; top:6px; left:25px; display:inline-block;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu05 a {padding: 10px 25px 10px 66px; background-position:43px -142px;}
.mailInputtree .contLnbMenu.mailMenu > li .mailPopRadio_wrap {margin:0; vertical-align:top;}
.mailInputtree .contLnbMenu.mailMenu > li .mailPopRadio {margin:-3px 5px 0 0; vertical-align:top;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu02 .mailPopRadio_wrap {position:absolute; top:6px; left:25px; display:inline-block;}
.mailInputtree .contLnbMenu.mailMenu > li.mailMenu05 .mailPopRadio_wrap {position:absolute; top:6px; left:25px; display:inline-block;}

/* 대화형 보기 */
.mailViewContLeft .MailListType01 .CoumViewList_wrap .MailListType01_table td .MailList_icon {left:15px;}
.mailViewContLeft .MailListType01 .CoumViewList_wrap .MailListType01_table td .m_list_check .m_checkbox {left:15px;}
.CoumViewList_wrap > table {margin:0 15px; width:calc(100% - 15px);}
.CoumViewList {background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_02.png') no-repeat 10px 15px;}
.CoumViewList.open {background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_03.png') no-repeat 10px 15px;}
.CoumViewList li {padding-left:15px;}
.CoumViewList li.selected {background-color:#dff4f6;}
.CoumViewList_sub {margin-left: -15px;}
.CoumViewList_sub li {padding-left:40px;}
.noPad {padding:0;}
.CoumViewCont_wrap {padding:10px;}
.CoumViewContListTop {clear:both; padding:10px; background-color:#f4f4f4;}
.CoumViewContListBottom {clear:both; padding:10px; background-color:#f4f4f4;}
.mailViewContTop .MailListType01 .CoumViewList_wrap .MailListType01_table tr td {padding:8px 0;}
.CoumViewContList {display:table; margin-top:10px; padding:0; width:100%; height:46px; background-color:#fff; box-sizing:border-box; border-radius:4px;}
.CoumViewContList:first-child {margin-top:0;}
.CoumViewContList:before {content:''; display:table-cell; width:46px; height:46px; background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_02.png') no-repeat 25px 50%; vertical-align:top;}
.CoumViewContList.open:before {content:''; display:table-cell; width:46px; height:46px; background:url('/HtmlSite/smarts4j_n/covicore/resources/images/common/bul_arrow_03.png') no-repeat 25px 50%; vertical-align:top;}
.CoumViewContList .personBox {display:table-cell; padding:8px 0; width:130px;}
.CoumViewContList .personBox .name {white-space:nowrap;}
.CoumViewContList .personBox .name strong {margin-right:0;}
.CoumViewContList .attFileListBox {display:table-cell; vertical-align:top; width:20px;}
.CoumViewContList .attFileListBox a {margin-top:14px;}
.CoumViewContList .Sub {display:table-cell; vertical-align:middle;}
.CoumViewContList .Sub a.fav {margin:-1px 0 0 6px; display:inline-block; width:15px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat 0 -195px; vertical-align:top;}	
.CoumViewContList .Sub a.fav.on {margin:-1px 0 0 6px; display:inline-block; width:15px; height:15px; background:url(/HtmlSite/smarts4j_n/mail/resources/images/mailimg.png) no-repeat -65px -195px; vertical-align:top;}	
.CoumViewContList .mailDateTime {float:none; display:table-cell; width:136px; font-size:12px; vertical-align:middle;}

.MailCont .mCSB_inside > .mCSB_container {margin-right:0;}
.mailViewContRight.noPad.mScrollVH .mCSB_container_wrapper {margin-right:0;}
.mailViewContBottom.noPad.mScrollVH .mCSB_container_wrapper {margin-right:0;}

/* 메일내용미리보기 */
.mailPreview_wrap {position:absolute; top:25px; left:50%; margin-left:-175px; display:none; width:350px; height:120px; background:#fff; border:1px solid #c8c8c8; border-radius:2px; box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2); padding:10px 15px; box-sizing:border-box; z-index:2;}
.subject_wrap:hover .mailPreview_wrap {display:inline-block;}
.mailPreview {white-space:normal; line-height:1.5em;}
													
													
													
													
