@charset "utf-8";

/* left bootstrap용 기본 <ul li/> padding 제거*/
.col-sm-2 {
	padding-left: 0;
	padding-right: 0;
}

.sideNavControl {
	/* position: absolute; */
	right: 1px;
	display: block;
	cursor: pointer;
	bottom: 2px;
}

.sideNavControl span {
	position: relative;
    float: right;
    margin-top: 0;
    left: 0px;
    overflow: hidden;
    display: inline-block;
    width: 14px;
    height: 51px;
    background: url(/groupware/resources/images/btn_lnb_close.gif) no-repeat left 6px;
    background-color: #196fba;
    margin-top: -51px;
}



.leftMenu {
	font-size: 12px;
	font-family: "Arial";
	/* width: 221px; */
	background: #e7e7e7;
	height: 92%;
}

.leftMenu ul,li {
	list-style: none;
	padding: 0;
}

.leftMenu li {
	line-height:200%;
	display: block;
}

.leftMenu a {
	display: block;
	text-decoration: none;
	color: black;
}

.leftMenu a:HOVER {
	display: block;
	text-decoration: none;
	color: #008fd5;
	font-weight: bold;
}

.leftMenu .selected {
	display: block;
	text-decoration: none;
	color: white;
	background: #008fd5;
}

.leftMenu .selected a {
	color: white;
}

.leftMenu .level1>a {
	cursor: pointer;
	display: block;
	padding: 6px 0;
	font-weight: bold;
	font-size: 14px;
}

.leftMenu .extend.level1>span {
	background: url("/groupware/resources/images/left_menu_close.gif");
	cursor: pointer;
	display: block;
	/* border-bottom: 1px solid #c3c2c4;*/
	padding: 6px 0;
	font-weight: bold;
	font-size: 14px;
}

.leftMenu .active.level1>span {
	background: url("/groupware/resources/images/left_menu_open.gif");
	cursor: pointer;
	display: block;
	/* border-bottom: 1px solid #c3c2c4;*/
	padding: 6px 0;
	font-weight: bold;
	font-size: 14px;
}

.leftMenu .extend.level2>span {
	background: url("/groupware/resources/images/left_submenu_close.gif");
	cursor: pointer;
	display: block;
}

.leftMenu .active.level2>span {
	background: url("/groupware/resources/images/left_submenu_open.gif");
	cursor: pointer;
	display: block;
}

.leftMenu .extend.level3>span {
	cursor: pointer;
	display: block;
}

.leftMenu .active.level3>span {
	cursor: pointer;
	display: block;
}

.leftMenu .level1>a,.leftMenu .level1>span {
	text-indent: 20px;
}

.leftMenu .level2>a,.leftMenu .level2>span {
	text-indent: 32px;
}

.leftMenu .level3>a,.leftMenu .level3>span {
	text-indent: 48px;
}

.leftMenu .level4>ul li {
	text-indent: 64px;
}

/* 게시판 메뉴 타이틀 배경과 폰트 */
.leftMenu #menuTitle {
	float:left;
	height:51px;
	width: 100%; 
	background-color:#196fba; 
	line-height:38px; 
	font-family: "Malgun Gothic", Dotum, "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; 
	color:#FFF; 
	padding: 6px 0 0 16px; 
	font-weight:bold; 
	font-size:20px;
}