<table style="width: 100%; table-layout: fixed; border-spacing: 0; border-collapse: collapse; border-top: 1px solid #364d5d;" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<th style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; border-right: 1px solid #969696; border-bottom: 1px solid #d6d6d6; background: #F1F6F9; font-size: 14px;" rowspan="2" width="125">연차&middot;반차</th>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="4" align="left" width="">입사 1년차부터 15일의 연차 휴가가 발생되고 매 2년마다 1일의 연차휴가가 추가되며 15일의 연차 한도내에서 자유로이 사용가능(프로젝트 휴가 포함) <br />연차사용은 1일이 소진되며, 반차의 경우 0.5일이 소진됨</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; color: #777; font-weight: bold; border-left: none; background: #f4f4f4; border-bottom: 1px solid #d6d6d6; font-size: 13px;" align="left">여름휴가</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="3" align="left">경영관리팀의 여름휴가 안내 후 7월 중순 ~ 8월 기간내 휴가신청서 작성. <br />휴가명 선택시 별도로 선택사항으로 나타나있지 않으며, 연차로 선택하여 휴가신청(=연차에서 소진)</td>
</tr>
<tr>
<th style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; border-right: 1px solid #969696; border-bottom: 1px solid #d6d6d6; background: #F1F6F9; font-size: 14px;">선연차&middot;선반차</th>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="4" align="left">연차가 없는 경우(예: 입사 1년 미만자 또는 연차를 다 소진한 경우) 차년도의 연차를 먼저 사용. <br />단, 잔여 연차가 남아있는 경우에는 선연차와 선반차는 사용하지 못함</td>
</tr>
<tr>
<th style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; border-right: 1px solid #969696; border-bottom: 1px solid #d6d6d6; background: #F1F6F9; font-size: 14px;" rowspan="12">경조</th>
<td style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;" colspan="2">구분</td>
<td style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;">휴가일수</td>
<td style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;">첨부서류</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" rowspan="3" align="left"><strong>결혼</strong></td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center"><strong>본인</strong></td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">7일</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" rowspan="3" align="center">청접장</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">자녀</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">2일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">친형제/자매</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">1일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="left"><strong>회갑</strong></td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">본인과 배우자의 부모</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">1일</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">주민등록등본</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="left"><strong>출산</strong></td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">배우자의 출산</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">3일</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">&nbsp;</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" rowspan="5" align="left"><strong>조위</strong></td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">배우자</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">7일</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" rowspan="5" align="center">사망을 확인할 수 있는 증빙 <br />Business Day</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">본인과 배우자의 부모</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">7일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">자녀</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">5일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">본인과 배우자의 형제,자매</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">3일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">본인의 조부모</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" align="center">3일</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="4" align="left">
<ul style="list-style: none; margin: 0; padding: 0;">
<li style="color: #e24248; font-weight: bold; position: relative; padding-left: 10px; line-height: 20px;">- 상기 경조휴가 기간에 공휴일 및 주말이 끼어 있을 경우 전체 경조 휴가 일수에 포함</li>
<li style="position: relative; padding-left: 10px; line-height: 20px;">- 예측이 가능한 결혼, 회갑 등의 경우는 사전에 휴가계를 올리고, 예측할 수 없는 조사나 출산의 경우 사후에 휴가계를 올림 위의 내용을 참고하여 첨부서류와 함께 휴가신청서를 작성하며, 상세 내용은 경조규정을 참고</li>
<li style="position: relative; padding-left: 10px; line-height: 20px;">- easy view -&gt; 규정 -&gt; 인사/노무 관련 규정 -&gt; 경조규정</li>
</ul>
</td>
</tr>
<tr>
<th style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; border-right: 1px solid #969696; border-bottom: 1px solid #d6d6d6; background: #F1F6F9; font-size: 14px;">기타</th>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="4" align="left">민방위 / 예비군 훈련에 참석해야 할 경우 휴가 신청 가능 (연차일수에서 차감되지 않음) 첨부서류 : 훈련 증명서</td>
</tr>
<tr>
<th style="padding: 10px 15px; text-align: center; vertical-align: middle; line-height: 20px; border-right: 1px solid #969696; border-bottom: 1px solid #d6d6d6; background: #F1F6F9; font-size: 14px;" rowspan="3">이 외의 기타 사항</th>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;" align="left">직무교육</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="3" align="left">교육참가를 위한 기안지 작성</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;" align="left">출산휴가 외</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="3" align="left">소속장을 통하여 경영관리팀과 협의</td>
</tr>
<tr>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-bottom: 1px solid #d6d6d6; color: #777; font-weight: bold; border-left: none; background: #f4f4f4;" align="left">병가</td>
<td style="padding: 10px 15px; vertical-align: middle; line-height: 20px; font-size: 13px; border-left: 1px solid #d6d6d6; border-bottom: 1px solid #d6d6d6;" colspan="3" align="left">연차 우선 소진이 원칙이며 이후 사항에 대해서는 별도 협의</td>
</tr>
</tbody>
</table>