
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
<input type="hidden" data-type="rField" name="UserCode">
<input type="hidden" data-type="rField" name="CompanyCode">
    <colgroup>
        <col style="width:12%" />
        <col style="width:38%" />
        <col style="width:12%" />
        <col style="width:38%" />
    </colgroup>
    <tr>
    	<th><spring:message code='Cache.lbl_hrcert_Certificate'/></th>
    	<td colspan="3">
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="certType">
				<input type="radio" name="certType" value="Employment" checked  data-text="<spring:message code='Cache.lbl_cert_emp'/>"/><spring:message code='Cache.lbl_cert_emp'/> &nbsp;&nbsp;
				<input type="radio" name="certType" value="Employment_Eng" data-text="<spring:message code='Cache.lbl_cert_emp'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)"/><spring:message code='Cache.lbl_cert_emp'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)&nbsp;&nbsp;
				<input type="radio" name="certType" value="Career" data-text="<spring:message code='Cache.lbl_cert_car'/>"/><spring:message code='Cache.lbl_cert_car'/>&nbsp;&nbsp;
				<input type="radio" name="certType" value="Career_Eng" data-text="<spring:message code='Cache.lbl_cert_car'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)"/><spring:message code='Cache.lbl_cert_car'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)&nbsp;&nbsp;
				<input type="radio" name="certType" value="Retirement" data-text="<spring:message code='Cache.lbl_cert_ret'/>"/><spring:message code='Cache.lbl_cert_ret'/>&nbsp;&nbsp;
				<input type="radio" name="certType" value="Retirement_Eng" data-text="<spring:message code='Cache.lbl_cert_ret'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)"/><spring:message code='Cache.lbl_cert_ret'/>(<spring:message code='Cache.lbl_hrApp_certEng'/>)&nbsp;&nbsp;
			 </div>
    	</td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrcert_applicant'/></th>
    	<td>
    		<input type="hidden" data-type="mField" id="reqUserCode" value="{{ doc.BodyContext.reqUserCode }}">
    		<input type="text" id="reqUserName" data-type="mField" value="{{ doc.BodyContext.reqUserName }}" style="width:120px;" required title="<spring:message code='Cache.lbl_hrcert_applicant'/>">
    		<span data-mode="writeOnly">
				<a onclick="OpenWinEmployee(this);">
					<img alt="search" style="vertical-align: middle; cursor:pointer;" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif" width="25" height="21">
				</a>
			</span>
    	</td>
    	<th><spring:message code='Cache.lbl_hrcert_printedCnt'/></th>
    	<td>
    		<select data-type="mField" data-element-type="sel_d_t" id="docCnt" value="{{ doc.BodyContext.docCnt}}" style="width:60px">
    			<option value="0">0</option>
    			<option value="1">1</option>
    			<option value="2">2</option>
    			<option value="3">3</option>
    			<option value="4">4</option>
    			<option value="5">5</option>
    		</select>
    	</td>
    </tr>
    <tr>
		<th><spring:message code='Cache.lbl_hrcert_joinDate'/></th>	
    	<td><input type="text" required data-type="mField" id="joinDate" value="{{ doc.BodyContext.joinDate }}" style="width:120px;" data-pattern="date"></td>
    	<th><spring:message code='Cache.lbl_hrcert_retiredDate'/></th> 
    	<td><input type="text" data-type="mField" id="retireDate" value="{{ doc.BodyContext.retireDate }}" style="width:120px;" data-pattern="date"></td>
    </tr>
	<tr>
		<th><spring:message code='Cache.lbl_hr_social_nm'/></th>
    	<td><input type="text" data-type="mField"  onkeyup='onlyNumber(this);' onchange='rrn(this);' id="socialNo" value="{{ doc.BodyContext.socialNo }}" style="width:120px;" maxlength=13></td>
    	<th><spring:message code='Cache.lbl_hrcert_addr'/></th>
    	<td><input type="text" data-type="mField" id="address" value="{{ doc.BodyContext.address }}" style="width:98%" ></td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrcert_general'/></th>
    	<td><input type="text" data-type="mField" id="headOffice" value="{{ doc.BodyContext.headOffice }}" style="width:120px;"></td>
		<th><spring:message code='Cache.lbl_hrcert_team'/></th>
    	<td><input type="text" data-type="mField" id="team" value="{{ doc.BodyContext.team }}" style="width:120px;"></td>
    </tr>
	<tr>
    	<th><spring:message code='Cache.lbl_hrcert_jobTitleName'/></th>
    	<td><input type="text" data-type="mField" id="resNm" value="{{ doc.BodyContext.resNm }}" style="width:120px;" ></td>
		<th><spring:message code='Cache.lbl_hrcert_jobTitleLevel'/></th>
    	<td><input type="text" data-type="mField" id="posNm" value="{{ doc.BodyContext.posNm }}" style="width:120px;" ></td>
    </tr>
	<tr>
    	<th><spring:message code='Cache.lbl_cert_issuingPurpose'/></th>
    	<td colspan=3>
			<select data-type="mField" data-element-type="sel_d_t" id="issuedType" value="{{ doc.BodyContext.issuedType }}" style="width:120px"></select>
			<input type="text" data-type="mField" id="docTypeContents" value="{{ doc.BodyContext.docTypeContents }}" style="width:150px;">
		</td>
    </tr>
   
    <tr>
    	<th><spring:message code='Cache.lbl_Remark'/></th>
    	<td colspan="3"><textarea data-type="mField" id="issType" style="width:99%" rows="3" required>{{ doc.BodyContext.issType }}</textarea></td>
    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->
