
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
<input type="hidden" data-type="rField" name="UserCode">
<input type="hidden" data-type="rField" name="DeptCode">
<input type="hidden" data-type="rField" name="CompanyCode">
    <colgroup>
        <col style="width:14%" />
        <col style="width:*" />
    </colgroup>
    <tr>
    	<th><spring:message code='Cache.lbl_hrApp_eduNm'/></th>
    	<td><input type="text" data-type="mField" id="eduName" value="{{ doc.BodyContext.eduName }}" style="width:98%"></td>
    </tr>
    <tr>
    	 <th style="width: 536px;"><spring:message code='Cache.lbl_hr_education_year'/></th>
         <td>
         	<input title="교육년도" id="eduYear" style="width: 15%;" required="" type="text" value="{{ doc.BodyContext.eduYear }}" data-type="mField" maxlength=4  data-pattern="numeric">
         </td>
    </tr>
    <tr>
    	 <th style="width: 536px;"><spring:message code='Cache.lbl_hrApp_eduTerm'/> </th>
         <td>
         	<input title="시작일" id="SDATE" style="width: 15%;" required="" type="text" readonly="readonly" value="{{ doc.BodyContext.SDATE }}" data-type="mField" data-pattern="date" onchange="calSDATEEDATE(this);">
         	<b> ~ </b>             
         	<input title="종료일" id="EDATE" style="width: 15%;" required="" onchange="calSDATEEDATE(this);" type="text" readonly="readonly" value="{{ doc.BodyContext.EDATE }}" data-type="mField" data-pattern="date">                         
         	(<input id="NIGHTS" style="width: 40px; text-align: right;" type="text" size="5" readonly="readonly" value="{{ doc.BodyContext.NIGHTS }}" data-type="mField" data-pattern="period" data-period-ref="SDATE,EDATE"><b><spring:message code='Cache.lbl_hrApp_eduNight'/></b>              
         	<input id="DAYS" style="width: 40px;text-align: right;" type="text" size="5" readonly="readonly" value="{{ doc.BodyContext.DAYS }}" data-type="mField" data-pattern="period" data-period-ref="SDATE,EDATE,1"><b><spring:message code='Cache.lbl_hrApp_eduDays'/></b>)
			&nbsp;<input maxlength=4 title="<spring:message code='Cache.lbl_hrApp_eduTime'/>" type="text" data-type="rField" required data-pattern="numeric" id="eduTime" value="{{ doc.BodyContext.eduTime }}" style="width:50px"><b><spring:message code='Cache.lbl_hrApp_eduTime'/></b>
         </td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrApp_eduCenter'/></th> 
    	<td><input type="text" data-type="mField" id="eduAgency" value="{{ doc.BodyContext.eduAgency }}" style="width:98%"></td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_edu_teacher'/></th> 
    	<td><input type="text" data-type="mField" id="eduIns" value="{{ doc.BodyContext.eduIns }}" style="width:98%"></td>
    </tr>
    <tr> 
    	<th><spring:message code='Cache.lbl_hrApp_eduType'/>1</th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="EduType" id="EduType" value="{{ doc.BodyContext.EduType }}" ></div>
    	</td>
    </tr>
    <tr> 
    	<th><spring:message code='Cache.lbl_hrApp_eduType'/>2</th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="EduTypeTwo" id="EduTypeTwo" value="{{ doc.BodyContext.EduTypeTwo }}" ></div>
    	</td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrApp_eduAmount'/></th>
    	<td><input type="text" id="eduCost"  data-type="mField" data-pattern="numeric" value="{{ doc.BodyContext.eduCost }}" style="width:15%"></td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrApp_eduRefundTarget'/></th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d"  data-node-name="refund" value="{{ doc.BodyContext.refund }}">
			    <input type="radio" id="refund1" name="refund" value="Obj" checked/> <spring:message code='Cache.lbl_target'/>&nbsp; &nbsp;
			    <input type="radio" id="refund2" name="refund" value="nonObj"/> <spring:message code='Cache.lbl_nonTarget'/> &nbsp; &nbsp;
			</div>
    	</td>
    </tr>
    <tr> 
    	<th><spring:message code='lbl_hr_exp_pay_way'/></th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="EduPayway" id="EduPayway" value="{{ doc.BodyContext.EduPayway }}" ></div>
    	</td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hr_edu_refund_amt'/></th>
    	<td><input type="text" id="refEduExp"  data-type="mField" data-pattern="numeric" value="{{ doc.BodyContext.refEduExp }}" style="width:15%"></td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrAdmin_postTrainningAct'/></th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="AfterEdu" id="AfterEdu" ></div>
    	</td>
    </tr>
    
    <tr>
    	<td colspan="2" style="text-align:center;"><span style="font-size:20px;"><b><spring:message code='Cache.lbl_edu_contents_curriculum'/></b></span></td>
    </tr>
    
    <tr>
    	<th><spring:message code='Cache.lbl_hr_Curriculum name'/></th>
    	<td><input type="text" data-type="mField" id="eduProcess" value="{{ doc.BodyContext.eduProcess }}" style="width:98%"></td>
    </tr>
    <tr>
    	<th><spring:message code='Cache.lbl_hrApp_eduContent'/></th>
    	<td><textarea id="eduContent" data-type="mField" style="width:98%" rows="4">{{ doc.BodyContext.eduContent }}</textarea></td>
    </tr>
    <tr> 
    	<th><spring:message code='Cache.lbl_hr_edu_plan_yn'/></th>
    	<td>
    		<div data-type="mField" data-element-type="rdo_d" data-node-name="EduPlanYn" id="EduPlanYn" value="{{ doc.BodyContext.EduPlanYn }}" ></div>
    	</td>
    </tr>
    
    <tr style="cursor: default;" data-mode="writeOnly">
    	<td colspan="2" style="padding-left:25px;">
    		<u><b><spring:message code='Cache.lbl_hrApp_eduEtc'/></b></u><br>
    		<spring:message code='Cache.lbl_hrApp_eduEtcTxt'/>
    	</td>
    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->
