
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10" >
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr>
    	<th>휴가 시작일</th>
    	<td>
    		<input type="text"  id="StartDate" data-type="mField" value="{{ doc.BodyContext.StartDate }}" style="width: 98%;"/>
    	</td>
    </tr>
    <tr>
    	<th>휴가 종료일</th>
    	<td>
    		<input type="text" id="EndDate" data-type="mField" value="{{ doc.BodyContext.EndDate }}" style="width: 98%;"/>
    	</td>
    </tr>
    <tr>
    	<th>휴가 사유</th>
    	<td>
    		<input type="text" id="Reason" data-type="mField" value="{{ doc.BodyContext.Reason }}" style="width: 98%;"/>
    	</td>
    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->
