<!--실 결재양식 내용 부분 시작 -->

<!--실 결재양식 내용 부분 끝 --><table class="tableStyle linePlus mt10 multi-row-table table_10" id="TB">
                        <colgroup>
                            <col style="width: 5%;">
                            <col style="width: 40%;">
                            <col style="width: 10%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                        </colgroup>
                        <tbody>
                            <tr class="multi-row-control" data-mode="writeOnly">
                                <td colspan="6">
                                    <em class="btn_iws_l" style="float: right">
                                        <span class="btn_iws_r multi-row-add" id="btnAdd">
                                            <strong class="txt_btn_ws">
                                                <img class="ico_btn" alt="" src="/approval/resources/images/xform/ico_plus.gif">추가
                                            </strong>
                                        </span>
                                    </em>
                                    <em class="btn_iws_l" style="float: right">
                                        <span class="btn_iws_r multi-row-del" id="btnDel">
                                            <strong class="txt_btn_ws">
                                                <img class="ico_btn" alt="" src="/approval/resources/images/xform/ico_x.gif">삭제
                                            </strong>
                                        </span>
                                    </em>
                                </td>
                            </tr>
                            <tr>
                                <th data-node-name="XFORM_ELNM_l5wqH"><input type="checkbox" class="multi-row-select-all" name="XFORM_ELNM_l5wqH" data-type="rField"></th>
                                <th>기간</th>
                                <th>일수</th>
                                <th>확인여부</th>
                                <th>사용여부</th>
                                <th>비고</th>
                            </tr>
                            <tr class="multi-row-template">
                                <td data-node-name="XFORM_ELNM_HgImw">
                                    <input type="checkbox" class="multi-row-selector" name="XFORM_ELNM_HgImw" data-type="rField">
                                    <span class="multi-row-seq">1</span>
                                </td>
                                <td>
                                    <input type="text" name="_MULTI_VACATION_SDT" data-pattern="date" data-type="rField" size="15">
                                    ~
                                    <input type="text" name="_MULTI_VACATION_EDT" data-pattern="date" data-type="rField" size="15">
                                </td>
                                <td>
                                    <input type="text" name="_MULTI_DAYS" data-type="rField" style="width: 8px; border: 0px; text-align: right;" value="0">일
                                </td>
                                <td>
                                    <label data-type="rField" data-element-type="rdo_d" data-node-name="XFORM_ELNM_lxJyA">
                                        <input type="radio" data-face-for="yesno" data-element-type="rdo_d" value="Yes" text="Yes" name="XFORM_ELNM_lxJyA" data-type="rField">Yes
                                        <input type="radio" data-face-for="yesno" data-element-type="rdo_d" value="No" text="No" name="XFORM_ELNM_lxJyA" data-type="rField">No
                                        <input type="text" name="yesno" data-face-real="y" data-type="rField" style="display: none;">
                                    </label>
                                </td>

                                <td>
                                    <label data-node-name="XFORM_ELNM_E4VqG" data-type="rField" data-element-type="chk_d">
                                        <input type="checkbox" data-face-for="opt" value="use" text="use" name="XFORM_ELNM_E4VqG" data-type="rField">Use
                                        <input type="checkbox" data-face-for="opt" value="hide" text="hide" name="XFORM_ELNM_E4VqG" data-type="rField">Hide      
                                        <input type="text" name="opt" data-face-real="y" data-type="rField" style="display: none;">
                                    </label>
                                </td>
                                <td>
                                    <select name="select" data-type="rField">
                                        <option value="First">First</option>
                                        <option value="Second">Second</option>
                                        <option value="Third">Third</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>