
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10"><!-- class="table_10" -->
    <colgroup>
        <col style="width:12%" />
        <col style="width:*" />
    </colgroup>
    <tr>
    	<th>Input Box</th>
    	<td>
    		<input type="text"  id="InputBoxTest" data-type="mField" value="{{ doc.BodyContext.InputBoxTest }}" style="width: 98%;"/>
    	</td>
    </tr>
    <tr>
    	<th>SelectBox</th>
    	<td>
    		<select data-type="mField" id="SelectBoxTest" data-element-type="sel_d_v" data-binding="post">
    			<option value="selectTest01">selectTest01</option>
    			<option value="selectTest02">selectTest02</option>
    		</select>
    	</td>
    </tr>
    <tr>
    	<th>TEXTAREA</th>
    	<td>
    		<textarea id="TextareaTest" data-type="mField" style="width: 98%;">{{ doc.BodyContext.TextareaTest }}</textarea>
    	</td>
    </tr>
    <tr>
    	<th>Check Box</th>
    	<td>
    		<span data-type="mField" data-element-type="chk_d" data-node-name="chk_1">
    			<input type="checkbox" id="chk_1" name="chk_1" value="1">&nbsp;체크박스1
    		</span>
    		<span data-type="mField" data-element-type="chk_d" data-node-name="chk_2">
    			<input type="checkbox" id="chk_2" name="chk_2" value="2">&nbsp;체크박스2
    		</span>
    	</td>
    </tr>
    <tr>
    	<th>Radio Box</th>
    	<td>
    		<lable data-element-type="rdo_d" data-node-name="radio_" data-type="mField">
                <input id="radio_1" name="radio_" type="radio" value="예">&nbsp;라디오박스1
                <input id="radio_2" name="radio_" type="radio" value="아니오">&nbsp;라디오박스2
            </lable>
    	</td>
    </tr>
    <tr>
    	<th>TEXTAREA2</th>
    	<td>
    		<textarea id="TextareaTest2" data-type="mField" style="width: 98%;">{{ doc.BodyContext.TextareaTest2 }}</textarea>
    	</td>
    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->
