
<!--실 결재양식 내용 부분 시작 -->
<div class="appforms_wrap">
	<div class="appforms_cont">
		<table class="appforms_table"><!-- class="table_10" -->
		    <colgroup>
		        <col style="width:165px;" />
		        <col style="width:*;" />
		    </colgroup>
		    <tr>
		    	<th class="appforms_table_th">성명(국문)</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_KORNAME" data-type="mField" value="{{ doc.BodyContext.REQ_KORNAME }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">성명(영문)</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_ENGNAME" data-type="mField" value="{{ doc.BodyContext.REQ_ENGNAME }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">팀명/직급(국문)</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_KORPART" data-type="mField" value="{{ doc.BodyContext.REQ_KORPART }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">팀명/직급(영문)</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_ENGPART" data-type="mField" value="{{ doc.BodyContext.REQ_ENGPART }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">회사주소</th>
		    	<td class="appforms_table_td" style="height: 80px;">
					<textarea id="REQ_COMADDRESS" class="appforms_table_textarea" data-type="mField" rows="2" style="width: 100%; height: 80px;">{{ doc.BodyContext.REQ_COMADDRESS }}</textarea>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">직통전화</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_CALL" data-type="mField" value="{{ doc.BodyContext.REQ_CALL }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">FAX</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_FAX" data-type="mField" value="{{ doc.BodyContext.REQ_FAX }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">이메일 주소</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_EMAIL" data-type="mField" value="{{ doc.BodyContext.REQ_EMAIL }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">휴대폰</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_PHONE" data-type="mField" value="{{ doc.BodyContext.REQ_PHONE }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">아이디 및 추가이메일</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="REQ_ADDEMAIL" data-type="mField" value="{{ doc.BodyContext.REQ_ADDEMAIL }}" style="width: 100%;"/>
		    	</td>
		    </tr>
		</table>
	</div>	
</div>
<!--실 결재양식 내용 부분 끝 -->
