<!--실 결재양식 내용 부분 시작 -->
<table class="table_10 tableStyle linePlus">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 34%">
        <col style="width: 12%">
        <col style="width: 42%">
    </colgroup>
    <tbody>
      <!-- <tr>
        <th>타입</th>
        <td class="ui-sortable" colspan="3"><input id="REQ_TYPE" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_TYPE }}" data-type="mField"></td>
    </tr> -->
    <tr>
        <th>성명(국문)</th>
        <td><input id="REQ_KORNAME" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_KORNAME }}" data-type="mField"></td>
        <th>성명(영문)</th>
        <td><input id="REQ_ENGNAME" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_ENGNAME }}" data-type="mField"></td>
    </tr>
    <tr>
        <th>팀명/직급<br>(국문)</th>
        <td><input id="REQ_KORPART" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_KORPART }}" data-type="mField"></td>
        <th>팀명/직급<br>(영문)</th>
        <td><input id="REQ_ENGPART" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_ENGPART }}" data-type="mField"></td>
    </tr>
    <tr>
        <th>회사주소</th>
        <td colspan="3"><input id="REQ_COMADDRESS" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_COMADDRESS }}" data-type="mField"></td>
    </tr>
    <tr>
        <th>직통전화</th>
        <td><input id="REQ_CALL" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_CALL }}" data-type="mField"></td>
        <th>FAX</th>
        <td><input id="REQ_FAX" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_FAX }}" data-type="mField"></td>
    </tr>
    <tr>
        <th>이메일주소</th>
        <td><input id="REQ_EMAIL" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_EMAIL }}" data-type="mField"></td>
        <th>휴대폰</th>
        <td><input id="REQ_PHONE" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_PHONE }}" data-type="mField"></td>
    </tr>
    <tr>
        <th>아이디 및<br>추가 이메일</th>
        <td colspan="3"><input id="REQ_ADDEMAIL" style="width: 99%;" type="text" value="{{ doc.BodyContext.REQ_ADDEMAIL }}" data-type="mField"></td>
    </tr>
</tbody></table>
<!--■ 명함신청은 매주 월/수 09:00 ~ 1:00 까지 신청을 부탁드립니다.<br />
■ 신청시간 이후에 수신받은 내용은 익주 처리됩니다. <br />
■ 참조권 부여 :이중용 차장 ,최경수 대리를 넣어주십시요.-->
<!--실 결재양식 내용 부분 끝 -->