<div>
    <!-- 히든필드 -->
    <input type="hidden" data-type="mField" id="REQUEST_Y" value="{{ doc.BodyContext.REQUEST_Y }}">
    <input type="hidden" data-type="mField" id="REQUEST_M" value="{{ doc.BodyContext.REQUEST_M }}">

    <!--실 결재양식 내용 부분 시작 -->
    <table class="table_10 tableStyle linePlus mt10" id="table_1">
        <colgroup>
            <col style="width: 12%">
            <col style="width: 38%">
            <col style="width: 23%">
            <col style="width: 27%">
        </colgroup>
        <tbody><tr>
            <th>청구년월</th>
            <td>
                <input type="text" id="T_DATE" data-type="mField" style="width: 98%; text-align: center;" data-pattern="date" data-date-format="yy년 mm월" onchange="changeTitle();" class="date-year-month" value="{{ doc.BodyContext.T_DATE }}" readonly="">
                <input type="hidden" id="hd_TDATE">
            </td>
            <th>해당월 근무일수(A)</th>
            <td style="text-align: right;">
                <input type="text" id="MONTH_DATE" name="MONTH_DATE" data-type="mField" data-pattern="numeric" style="width: 98%;" value="{{ doc.BodyContext.MONTH_DATE }}">
            </td>
        </tr>
    </tbody></table>
    <table class="table_10 multi-row-table RowSumTable tableStyle linePlus mt10" id="SubTable1">
        <colgroup>
            <col style="width: 7%">
            <col style="width: 43%">
            <col style="width: 13%">
            <col style="width: 27%;">
            <col style="width: 10%">
        </colgroup>
        <tbody><tr class="multi-row-control">
            <td colspan="5" style="text-align: right">
                <input type="button" value="+추가" class="multi-row-add smButton">
                <input type="button" value="-삭제" class="multi-row-del smButton">
            </td>
        </tr>
        <tr>
            <th class="multi-row-selector-wrap">
                <input type="checkbox" class="multi-row-select-all">
            </th>
            <th data-mode="readOnly" style="border-left:1px solid #c3d7df">순번</th>
            <th>프로젝트명</th>
            <th>이름</th>
            <th>청구기간</th>
            <th>실 근무일수</th>
        </tr>
        <tr class="multi-row-template">
            <td style="text-align: center;" class="multi-row-selector-wrap">
                <input type="checkbox" class="multi-row-selector">
            </td>
            <td data-mode="readOnly" style="text-align: center; border-left:1px solid #c3d7df">
                <span class="multi-row-seq" name="ROW_SEQ" data-type="rField">1</span>
            </td>
            <td>
                <!-- data-multi-row-colspan="1,2" -->
                <!-- <input type="text" data-type="rField" name="hidden_NAME" style="display:none;"/>-->
                <select name="PRO_NAME" id="PRO_NAME" data-type="rField" data-element-type="sel_d_t" onchange="changeTitle();" style="width: 100%;" required="" title="프로젝트명">
               </select>
            </td>
            <td>
                <input type="text" data-type="rField" name="PEOPLE_NAME" style="width: 60%;" required="" title="이름" readonly="readonly">
                <!-- 조직도 -->
                <span data-mode="writeOnly">
                    <a onclick="OpenWinEmployee(this)" name="BUTTON">
                        <img alt="search" style="vertical-align: middle; cursor: pointer;" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif" width="21" height="18">
                    </a>
                </span>
                <input type="hidden" id="NAME_Total" data-type="rField">
                <input type="hidden" name="EMPNO" data-type="rField">

                <!-- 경비구분 -->
                <input type="hidden" data-type="rField" name="EXPENSE_TYPE_PROJECT" value="프로젝트수당">
                <input type="hidden" data-type="rField" name="EXPENSE_PURPOSE_PROJECT" value="프로젝트 수당 청구">
                <input type="hidden" data-type="rField" name="EXPENSE_TYPE_PROJECT_CODE" value="PROJECT">
            </td>
            <td style="text-align: center;">
                <input type="text" data-type="rField" name="S_DATE" data-pattern="date" style="width: 40%; text-align: center;" onchange="calSDATEEDATE(this);" required="" title="시작일">&nbsp;~&nbsp;
            <input type="text" data-type="rField" name="E_DATE" data-pattern="date" style="width: 40%; text-align: center;" onchange="calSDATEEDATE(this);" required="" title="종료일">
            </td>
            <td>
                <input type="text" data-type="rField" name="WORK_CNT" data-pattern="numeric" style="width: 98%;" class="sum-table-cell">
            </td>
        </tr>
        <tr>
            <th colspan="2">
                투입율
            </th>
            <td style="text-align: center;">
                <input type="text" id="PART_RATE" data-type="mField" data-pattern="numeric" style="width: 70%;" value="{{ doc.BodyContext.PART_RATE }}" readonly="" data-sum-ref="ALL_WORK,MONTH_DATE" data-formula="{0}/{1}*100" data-formula-digit="1" data-formula-zero="0">%
            </td>
            <th>
                실 근무일수 합계(B)
            </th>
            <td>
                <input type="text" data-type="mField" data-pattern="numeric" name="ALL_WORK" id="ALL_WORK" style="width: 98%;" class="sum-table-colsum" readonly="" value="{{ doc.BodyContext.ALL_WORK }}">
            </td>
        </tr>
    </tbody></table>
    <table class="table_10 tableStyle linePlus mt10">
        <colgroup>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 13%;">
            <col style="width: 37%;">
        </colgroup>
        <tbody><tr>
            <th>실 근무일수 합계(B)</th>
            <th>해당월 근무일수(A)</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>프로젝트 수당</th>
        </tr>
        <tr class="multi-sum">
            <td colspan="2" style="text-align: center">
                <input class="watch-value" type="text" readonly="true" name="V_ALLW" data-watch="#ALL_WORK" style="width: 10%; text-align: center; border: 0px;" value="{{ doc.BodyContext.ALL_WORK }}">&nbsp;/&nbsp;
            <input class="watch-value" type="text" readonly="true" name="V_MOND" data-watch="#MONTH_DATE" style="width: 10%; text-align: center; border: 0px;" value="{{ doc.BodyContext.MONTH_DATE }}">
            </td>
            <td>
                <div style="text-align: right;">* 100,000 =</div>
            </td>
            <td style="text-align: right;">
                <input type="text" id="COST" data-type="mField" data-pattern="currency" style="width: 98%;" value="{{ doc.BodyContext.COST }}" readonly="" data-sum-ref="V_ALLW,V_MOND" data-formula="{0}/{1}*100000" onchange="maxMoney(this.value);" data-formula-digit="-2" data-formula-zero="0">
            </td>
        </tr>
    </tbody></table>
    <table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
        <colgroup>
            <col style="width: 12%;">
            <col style="width: 88%;">
        </colgroup>
        <tbody><tr>
            <th>비고</th>
            <td style="min-height: 80px; vertical-align: top;">
                <textarea id="Bigo" data-type="mField" style="width: 99%;" cols="3" rows="5" placeholder="주말 근무 및 기타 내용이 있을 시 작성">{{ doc.BodyContext.Bigo }}</textarea>
            </td>
        </tr>
    </tbody></table>
    <!--실 결재양식 내용 부분 끝 -->
</div>


