<!--실 결재양식 내용 부분 시작 -->
<!-- 연동하기 위한 사용자 코드 저장 -->
<input type="hidden" data-type="mField" id="hidUR_Code" value="{{ doc.BodyContext.hidUR_Code }}" />

<table class="tableStyle linePlus mt10 sortable">
	<colgroup>
		<col style="width: 12%;" />
		<col style="width: 88%;" />
	</colgroup>

	<tr>
		<td colspan="2" style="font-weight: bold; border-left: hidden; border-top: hidden; border-right: hidden;">
			신청내역
		</td>
	</tr>
	<tr>
		<th>사용용도</th>
		<td style="min-height: 70px; word-break: break-all;">
			<!-- <input type="text" data-type="mField" id="PURPOSE" value="{{ doc.BodyContext.PURPOSE }}" style="width: 98%;" /> -->
			<textarea data-type="mField" id="PURPOSE" rows="3" style="width: 97%; overflow: hidden;" required title="사용목적">{{ doc.BodyContext.PURPOSE }}</textarea>
		</td>
	</tr>
	<tr>
		<th>사용기간</th>
		<td>
			<input type="text" data-type="mField" id="SDATE" value="{{ doc.BodyContext.SDATE }}" data-pattern="date" style="width: 100px;" onchange="calSDATEEDATE(this);" required title="시작일" />
			~ <input type="text" data-type="mField" id="EDATE" value="{{ doc.BodyContext.EDATE }}" data-pattern="date" style="width: 100px;" onchange="calSDATEEDATE(this);" required title="종료일" />
		</td>
	</tr>
	<tr>
		<th>VDI</th>
		<td>
			<select data-type="mField" data-element-type="sel_d_t"  id="VDI_TYPE" style="width: 100px;">
				<option value="OLD">기존유지</option>
				<option value="NEW">신규생성</option>
				<option value="DEL">불필요</option>
			</select>
		</td>
	</tr>
</table>
<!--실 결재양식 내용 부분 끝 -->