<!--실 결재양식 내용 부분 시작 -->
<div class="appforms_wrap">
	<div class="appforms_cont">
		<table class="appforms_table multi-row-table" id="TBL_CALL_INFO">
		    <colgroup>
		        <col style="width:41px;" />
		        <col style="width:100px;" />
		        <col style="width:*;" />
		    </colgroup>
		     <tr>
				<td colspan="3" class="multi-row-control">
					<div class="appforms_tit" data-mode="writeOnly">
						<span>
							<a href="#" class="multi-row-add btn_add_n ui-link">추가</a>
							<a href="#" class="multi-row-del btn_del_n ui-link">삭제</a>
						</span>
					</div>
				</td>
			</tr>
			<tr>	
		        <th class="appforms_table_th" style="text-align: left;">
		        	<label for="TBL_CALL_INFO_select_all"></label>
		            <input type="checkbox" id="TBL_CALL_INFO_select_all" class="multi-row-select-all" onchange="mobile_approval_multiRowSelectAll(this);">
		        </th>
		        <th data-mode="readOnly" class="appforms_table_th">
		        	순번
		        </th>
				<th colspan="2" class="appforms_table_th">
					소명 내용
				</th>
			</tr>
			<tr class="multi-row-template">
		        <th rowspan="5" class="appforms_table_th" class="multi-row-selector-wrap">
		        	<label for=""></label>
		            <input type="checkbox" id="" class="multi-row-selector">
		        </th>
		        <td rowspan="5" data-mode="readOnly" class="appforms_table_td" style="text-align: center; border-left:1px solid #c3d7df;">
		            <span class="multi-row-seq" data-type="rField">1</span>
		        </td>
				<th class="appforms_table_th">
					근무자
				</th>
				<td class="appforms_table_td">
					<input type="hidden" data-type="rField" name="UserCode">
		    		<input type="hidden" data-type="rField" name="CompanyCode">
		    		<input type="text" class="appforms_table_input" data-type="rField" name="UserName" title="근무자" required="required" readonly="readonly" style="width: 100px;">
		            <span data-mode="writeOnly" style="float: right;">
		            	<a onclick="javascript: OpenWinEmployee(this);" class="btn_add_n ui-link"></a>
		            </span>
				</td>
			</tr>
			<tr class="multi-row-template">
				<th class="appforms_table_th">
					날짜
				</th>
				<td class="appforms_table_td">
					<input type="text" class="appforms_table_input" name="CallDate" data-type="rField" data-pattern="date"  required="required" readonly="readonly" title="날짜" onchange="ChangeSubject(this);" style="width: 130px;">
				</td>
			</tr>
			<tr class="multi-row-template">
				<th class="appforms_table_th">
					구분
				</th>
				<td class="appforms_table_td">
					<select name="Division" data-type="rField" data-element-type="sel_d_v" style="width:98%;" title="구분" required="required" onchange="ChangeDivi(this);">
		    			<option value="">선택</option>
		    			<option value="출근시간">출근시간</option>
		    			<option value="퇴근시간">퇴근시간</option>
		    		</select>
				</td>
			</tr>
			<tr class="multi-row-template">
				<th class="appforms_table_th">
					변경 전 시간
				</th>
				<td class="appforms_table_td">
					<input type="text" name="BeforeTime" data-type="rField" style="width:98%" readonly="readonly">
				</td>
			</tr>
			<tr class="multi-row-template">
				<th class="appforms_table_th">
					변경 시간
				</th>
				<td class="appforms_table_td">
				    <input type="text" class="appforms_table_input" name="changeDate" data-type="rField" data-pattern="date" required="required" readonly="readonly" style="width: 130px;"  title="변경일">
					<br/>
					<input type="text" class="appforms_table_input" name="hour" data-type="rField" data-pattern="time" data-time-step="60" value="00" data-time-format="H" style="width: 40px;" title="시">
					<span style="top: 12px;position: relative;">&nbsp;:</span>
					<input type="text" class="appforms_table_input" name="min" data-type="rField" data-pattern="numeric" maxlength="2" value="00" style="width: 40px;" title="분" onchange="ChangeMin(this);">
				</td>
			</tr>
			<tr class="multi-row-template">
				<th class="appforms_table_th">
					내용
				</th>
				<td class="appforms_table_td" colspan="2">
		    		<textarea name="Etc" class="appforms_table_textarea" data-type="rField" style="width: 98%;" title="소명 내용" required="required"></textarea>
				</td>
			</tr>
		</table>
	</div>
</div>

<!--실 결재양식 내용 부분 끝 -->
