<input type="hidden" data-type="mField" id="hangeul" value="{{ doc.BodyContext.hangeul }}">
<input type="hidden" data-type="mField" id="initiated" data-binding="post" value="{{ doc.BodyContext.initiated }}">

<!--실 결재양식 내용 부분 시작 -->
    <table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 30%">
        <col style="width: 30%">
        <col style="width: 12%">
        <col style="width: 16%">
    </colgroup>
    <!--<tr>
        <th>프로젝트명</th>
        <td colspan="3">
            <input type="text" data-type="mField" id="projectName" value="{{ doc.BodyContext.projectName }}" data-binding="pre" style="width:99%;height:20px;" />
        </td>
    </tr>-->
    <tbody><tr>
	    <th id="select_project_name_th" rowspan="2">프로젝트명</th>
	    <td id="select_project_name" colspan="2">
            <select data-type="mField" id="PROJECT_NAME" data-element-type="sel_d_t" style="width: 99%;" required="" title="프로젝트명" onchange="PROJECTNAME()">
          	</select>
            <input type="hidden" data-type="mField" id="projectName" value="{{ doc.BodyContext.projectName }}" data-binding="pre" style="width: 99%; height: 20px;">
	    </td>
        <th id="select_project_code_th">프로젝트 코드</th>
        <td id="select_project_code">
            <input type="text" data-type="mField" id="PROJECT_CODE" value="{{ doc.BodyContext.PROJECT_CODE }}" style="width: 97%;" title="프로젝트 코드" disabled="disabled" readonly="readonly">
		</td>
	</tr>
    <tr>
        <td id="input_self" colspan="4" style="display: none;height:35px">
            <input type="text" data-type="mField" id="PROJECT_NAME_INPUT" value="{{ doc.BodyContext.PROJECT_NAME_INPUT }}" style="width: 99%;" onchange="PROJECTNAME_INPUT()">
        </td>
    </tr>
	<tr>
		<th>계약기간</th>
		<td colspan="4">
			<input type="text" data-type="mField" id="CONTRACT_SDT" value="{{ doc.BodyContext.CONTRACT_SDT }}" readonly="" size="10" data-pattern="date" title="시작일" style="width: 20%;" required="">
			~ <input type="text" data-type="mField" id="CONTRACT_EDT" value="{{ doc.BodyContext.CONTRACT_EDT }}" readonly="" size="10" data-pattern="date" title="종료일" style="width: 20%;" required="" onchange="validateVacDate();">
		</td>
	</tr>
    <tr>
        <th>업체명</th>
        <td colspan="4">
            <input type="text" data-type="mField" id="businessName" value="{{ doc.BodyContext.businessName }}" data-binding="pre" style="width:99%;">
        </td>

    </tr>
    <tr>
        <th rowspan="3">담당자</th>
        <th>이름</th>
        <th>연락처</th>
        <th colspan="2" style="width: 27%;">E-mail</th>
    </tr>
    <tr>
        <td>
            <input type="text" data-type="mField" id="name_1" value="{{ doc.BodyContext.name_1 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td>
            <input type="text" data-type="mField" id="number_1" value="{{ doc.BodyContext.number_1 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td colspan="2">
            <input type="text" data-type="mField" id="email_1" value="{{ doc.BodyContext.email_1 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" data-type="mField" id="name_2" value="{{ doc.BodyContext.name_2 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td>
            <input type="text" data-type="mField" id="number_2" value="{{ doc.BodyContext.number_2 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td colspan="2">
            <input type="text" data-type="mField" id="email_2" value="{{ doc.BodyContext.email_2 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
    </tr>
</tbody></table>
<table class="table_10 tableStyle linePlus mt10 RowSumTable" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 40%">
        <col style="width: 15%">
        <col style="width: 15%">
        <col style="width: 18%">
    </colgroup>
    <tbody><tr>
        <th>구분</th>
        <th>품목</th>
        <th>단가</th>
        <th>수량/공수</th>
        <th>금액</th>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_1" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_1" value="{{ doc.BodyContext.item_1 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_1" value="{{ doc.BodyContext.unitCost_1 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_1" value="{{ doc.BodyContext.amount_1 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_1" value="{{ doc.BodyContext.sum_1 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
</tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_2" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_2" value="{{ doc.BodyContext.item_2 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="unitCost_2" value="{{ doc.BodyContext.unitCost_2 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="amount_2" value="{{ doc.BodyContext.amount_2 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="sum_2" value="{{ doc.BodyContext.sum_2 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
        </td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_3" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_3" value="{{ doc.BodyContext.item_3 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="unitCost_3" value="{{ doc.BodyContext.unitCost_3 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_3" value="{{ doc.BodyContext.amount_3 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_3" value="{{ doc.BodyContext.sum_3 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_4" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_4" value="{{ doc.BodyContext.item_4 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_4" value="{{ doc.BodyContext.unitCost_4 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_4" value="{{ doc.BodyContext.amount_4 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_4" value="{{ doc.BodyContext.sum_4 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_5" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_5" value="{{ doc.BodyContext.item_5 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_5" value="{{ doc.BodyContext.unitCost_5 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_5" value="{{ doc.BodyContext.amount_5 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_5" value="{{ doc.BodyContext.sum_5 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_6" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_6" value="{{ doc.BodyContext.item_6 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_6" value="{{ doc.BodyContext.unitCost_6 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_6" value="{{ doc.BodyContext.amount_6 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_6" value="{{ doc.BodyContext.sum_6 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_7" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_7" value="{{ doc.BodyContext.item_7 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_7" value="{{ doc.BodyContext.unitCost_7 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_7" value="{{ doc.BodyContext.amount_7 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_7" value="{{ doc.BodyContext.sum_7 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_8" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_8" value="{{ doc.BodyContext.item_8 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_8" value="{{ doc.BodyContext.unitCost_8 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_8" value="{{ doc.BodyContext.amount_8 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_8" value="{{ doc.BodyContext.sum_8 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_9" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_9" value="{{ doc.BodyContext.item_9 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
		<td align="right">
			<input type="text" data-type="mField" id="unitCost_9" value="{{ doc.BodyContext.unitCost_9 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="amount_9" value="{{ doc.BodyContext.amount_9 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
		</td>
		<td align="right">
			<input type="text" data-type="mField" id="sum_9" value="{{ doc.BodyContext.sum_9 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
		</td>
    </tr>
    <tr>
        <td>
            <select style="width: 100%;" data-type="mField" data-element-type="sel_d_t" data-node-name="division_10" data-binding="post">
                <option value="0" selected="selected">구분</option>
                <option value="1">인력용역</option>
                <option value="2">H/W</option>
                <option value="3">S/W</option>
                <option value="4">MS라이선스</option>
            </select>

        </td>
        <td>
            <input type="text" data-type="mField" id="item_10" value="{{ doc.BodyContext.item_10 }}" data-binding="pre" style="width:99%;height:20px;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="unitCost_10" value="{{ doc.BodyContext.unitCost_10 }}" data-binding="pre" data-pattern="currency" class="sum-table-cell" style="width:99%;height:20px; text-align:right;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="amount_10" value="{{ doc.BodyContext.amount_10 }}" data-binding="pre" data-pattern="numeral" data-numeral-format="0,0[.]00" class="sum-table-cell" style="width:99%;height:20px;text-align:right;">
        </td>
        <td align="right">
            <input type="text" data-type="mField" id="sum_10" value="{{ doc.BodyContext.sum_10 }}" data-binding="pre" data-pattern="currency" class="sum-table-rowsum" data-formula="*" style="width:99%;height:20px;text-align:right;" readonly="readonly">
        </td>
    </tr>

    <tr>
        <td colspan="4" style="text-align:center;"><strong>합&nbsp;계&nbsp;금&nbsp;액</strong></td>
        <td align="right"><input type="text" data-type="mField" id="total" value="{{ doc.BodyContext.total }}" data-binding="pre" readonly="readonly" data-pattern="numeral" data-numeral-format="$0,0[.]00" class="sum-table-total watch-value" style="width:99%; text-align:right;"></td>
    </tr>
    <tr>
        <td colspan="4" style="text-align:center"><strong>최&nbsp;종&nbsp;발&nbsp;주&nbsp;금&nbsp;액 (VAT 별도)</strong></td>
             <td align="right"><input type="text" data-type="mField" id="orderTotal" value="{{ doc.BodyContext.orderTotal }}" data-binding="pre" class="watch-value" data-watch="#total" data-pattern="numeral" data-numeral-format="$0,0[.]00" style="width:97%; text-align:right;" title="발주금액" required=""> </td>
    </tr>
    <!--data-pattern="currency" data-digit="0"
    data-pattern="numeral" data-numeral-format="$0,0"-->
</tbody></table>
<table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 88%">
    </colgroup>
    <tbody><tr>
        <th>지불조건</th>
        <td>
            <!--<div data-element-type="rdo_d" id="RDO_condition">
               <input type="radio" name="RDO_condition" value="최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)" checked="checked" />최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)<br />
                <input type="radio" name="RDO_condition" value="선금(50%) - 원청수금 후 돌아오는 당사 정기 지급일 (15일/말일)
                  잔금(50%) - 최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)" />선금(50%) - 원청수금 후 돌아오는 당사 정기 지급일 (15일/말일)<br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;잔금(50%) - 최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)<br />
                <input type="radio" name="RDO_condition" value="" />기타 :
                <input type="text" data-type="mField" id="etc" value="{{ doc.BodyContext.etc }}" style="width:50%;height:20px;" />
            </div>-->


            <span data-type="mField" data-element-type="rdo_v" data-node-name="RDO_condition">
                <input type="radio" name="RDO_condition" value="0" data-text="최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)" checked="checked">최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)
                <br>
                <input type="radio" name="RDO_condition" value="1" data-text="선금(50%) - 원청수금 후 돌아오는 당사 정기 지급일 (15일/말일) / 잔금(50%) - 최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)">
                선금(50%) - 원청수금 후 돌아오는 당사 정기 지급일 (15일/말일)
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;잔금(50%) - 최종 검수 및 원청수금 후 당사 정기 지급일(15일/말일)
                <br>
                <input type="radio" name="RDO_condition" value="3" data-text="반기별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)" placeholder="">반기별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)
				<br>
				<input type="radio" name="RDO_condition" value="4" data-text="분기별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)" placeholder="">분기별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)
				<br>
				<input type="radio" name="RDO_condition" value="5" data-text="월별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)" placeholder="">월별 세금계산서 발행 / 검수 및 원청수금 후 당사 정기지급일(15일/말일)
                <br>
				<input type="radio" name="RDO_condition" value="2" data-text="기타 :" placeholder="">기타 :
            </span>
            <input type="text" data-type="mField" id="etc" value="{{ doc.BodyContext.etc }}" style="width:50%;height:20px;">


        </td>
    </tr>
</tbody></table>
<table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 88%">
    </colgroup>
    <tbody><tr>
        <th>비고</th>
        <td><textarea data-type="mField" id="bigo" rows="6" cols="4" style="width:98%;">{{ doc.BodyContext.bigo }}</textarea></td>
    </tr>
</tbody></table>
<!--실 결재양식 내용 부분 끝 -->