<!--실 결재양식 내용 부분 시작 -->
	<select class="hidden" id="SENDERMASTER" style="width:150px;" title="인장" onchange="setSenderMasterAndSealSignAndChief();">
  		<option value="">선택</option>
	</select>
   <!-- 에디터 시작 -->
   <div id="divWebEditorContainer" data-element-type="editor"></div>
   <!-- 에디터 끝 -->
   
	<table class="table_10" style="display: none">
		<input type="hidden" data-type="mField" id="BODY_CONTEXT_HWP" value="{{ doc.BodyContext.BODY_CONTEXT_HWP }}" data-binding="pre" style=" border:0px;" readonly="readonly" />
		<input type="hidden" data-type="mField" id="BODY_CONTEXT_SENDERMASTER" value="{{ doc.BodyContext.BODY_CONTEXT_SENDERMASTER }}" data-binding="pre" style=" border:0px;" readonly="readonly" />
		<input type="hidden" data-type="mField" id="BODY_CONTEXT_SEALSIGN" value="{{ doc.BodyContext.BODY_CONTEXT_SEALSIGN }}" data-binding="pre" style=" border:0px;" readonly="readonly" />
		<input type="hidden" data-type="mField" id="BODY_CONTEXT_CHIEF" value="{{ doc.BodyContext.BODY_CONTEXT_CHIEF }}" data-binding="pre" style=" border:0px;" readonly="readonly" />
	</table>
<!--실 결재양식 내용 부분 끝 -->