<!-- HIDDEN FIELD -->
<input type="hidden" data-type="mField" id="HID_HOLIDAY_WORK_FIID" />
<!-- HIDDEN PROCESSID -->
<input type="hidden" data-type="mField" id="HID_PROCESSID" />
<input type="hidden" data-type="mField" id="RESULT_COMMENT" />

<table class="tableStyle linePlus mt10 multi-row-table RowSumTable" id="TBL_WORK_INFO"><!-- class="table_10" -->
    <colgroup>
        <col style="width:15%" />
        <col style="width:15%" />
        <col style="width:20%" />
        <col style="width:10%" />
        <col style="width:10%" />
        <col style="width:20%" />
        <col style="width:10%" />
    </colgroup>
    
     <tr class="multi-row-control" align="right" data-mode="writeOnly">
		<td colspan="7" style="border:none;">
			<input type="button" value="+<spring:message code='Cache.lbl_Add'/>" class="multi-row-add usa"> <!-- 추가 -->
			<input type="button" value="-<spring:message code='Cache.lbl_apv_delete'/>" class="multi-row-del-auto usa"> <!-- 삭제 -->
		</td>
	</tr>
	
    <tr>
    	<th><spring:message code='Cache.lbl_apv_Worker'/></th> <!-- 근무자 -->
    	<th><spring:message code='Cache.lbl_date'/></th> <!-- 날짜 -->
    	<th><spring:message code='Cache.lbl_att_workTime'/></th>	<!-- 근무시간 -->
    	<th><spring:message code='Cache.lbl_apv_Idle'/></th>	<!-- 유휴(분) -->
    	<th><spring:message code='Cache.lbl_n_att_applicationTime'/></th>	<!-- 신청시간 -->
    	<th><spring:message code='Cache.lbl_apv_WorkContent'/></th>	<!-- 업무내용 -->
    	<th><spring:message code='Cache.lbl_apv_AvailableTime'/></th>	<!-- 가능시간 -->
    </tr>
    <tr class="multi-row-template">
    	<td align="center">
    		<input type="hidden" name="UserCode" data-type="rField" style="width:99%;">
    		<input type="hidden" name="CompanyCode" data-type="rField" style="width:99%;">
    		<input type="text" name="UserName" data-type="rField" style="width:70%;" readonly="readonly" required title="근무자">
    		<span data-mode="writeOnly">
				<a onclick="OpenWinEmployee(this);">
					<img alt="search" style="vertical-align: middle; cursor:pointer;" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif" width="25" height="21">
				</a>
			</span>
    	</td>
    	<td align="center">
    		<input type="text" name="JobDate" data-type="rField" data-pattern="date" style="width:99%;" onchange="checkHolidayOne(this);" required title="날짜">
    	</td>
    	<td align="center" class="multi-period">
    		<input type="text" name="StartTime" data-type="rField" data-pattern="time" data-time-format="H:i" style="width:40%;" onchange="calWorkTime(this);" required title="시작시간">
    		~
    		<input type="text" name="EndTime" data-type="rField" data-pattern="time" data-time-format="H:i" style="width:40%;" onchange="calWorkTime(this);" required title="종료시간">
    	</td>
    	<td align="center">
    		<input type="text" name="IdleTime" data-type="rField" data-pattern="numeric" style="width:99%;" onchange="calWorkTime(this);" title="유휴(분)">
    	</td>
    	<td align="center">
    		<input type="text" name="WorkTime" data-type="rField" style="width:99%;" onchange="calTotalTime();" required readonly="readonly" title="신청시간">
    	</td>
    	<td>
    		<input type="text" name="Etc" data-type="rField" style="width:99%;">
    	</td>
    	<td>
    		<input type="text" name="AvailableTime" data-type="rField" style="width:98%;" readonly="readonly">
    	</td>
    </tr>  
    <tr class="totalTr">
    	<th colspan="4"><spring:message code='Cache.lbl_sum'/></th> <!-- 합계 -->
    	<td align="center">
    		<input type="text" id="TotalTime" data-type="mField" data-pattern="time" data-time-format="H:i" value="{{ doc.BodyContext.TotalTime }}" style="width:99%;" readonly="readonly">
    	</td>
    	<th colspan="2"></th>
    </tr>
</table>

<table class="tableStyle linePlus mt10 multi-row-table RowSumTable" id="TBL_REAL_WORK_INFO" style="display: none"><!-- class="table_10" -->
	<colgroup>
		<col style="width:25px"/>
		<col style="width:25%" />
		<col style="width:30%" />
		<col style="width:20%" />
	</colgroup>
	<tr id="TBL_REAL_WORK_INFO_TR">
		<th><spring:message code='Cache.lbl_apv_Worker'/></th>	<!-- 근무자 -->
		<th><spring:message code='Cache.lbl_date'/></th>		<!-- 날짜 -->
		<th><spring:message code='Cache.lbl_att_workTime'/></th>	<!-- 근무시간 -->
		<th><spring:message code='Cache.lbl_apv_TimeAcknowledge'/></th>	<!-- 인정시간 -->
	</tr>
</table>