<div id="bodytable_content">
        <!-- header end -->
        <!-- bodycontext start -->		
        <!--실 결재양식 내용 부분 시작 -->
        <table id="tblAdd" class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
            <colgroup>
                <col style="width: 12%" />
                <col style="width: 88%" />
            </colgroup>
            <tr>
                <th>계약명</th>
                <td>
                    <span id="contractName" style="width:99%;">{{ doc.BodyContext.contractName }} <span/>
                </td>
            </tr>
            <tr>
                <th>계약기간</th>
                <td>
                    <span id="SDATE">{{ doc.BodyContext.SDATE }}</span><b>&nbsp;~&nbsp;</b><span id="EDATE">{{ doc.BodyContext.EDATE }}</span>
                </td>
            </tr>
            <tr>
                <th>계약자구분</th>
                <td>
                <span data-type="mField">
                	{{ doc.BodyContext.contractGubun_value }}
           		</span>
                </td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <span id="adress">{{ doc.BodyContext.adress }}</span>
                </td>
            </tr>
        </table>
        <table id="tblAddLine" class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
             <colgroup>
                <col style="width: 12%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
                <col style="width: 23%" />
                <col style="width: 25%" />
            </colgroup>
            <tr>
                <th>구분</th>
                <th>성명</th>
                <th>단가</th>
                <th>투입공수</th>
                <th>금액</th>
            </tr>
            <tr>
                <td colspan="4" style="text-align:center"><strong>계&nbsp;약&nbsp;금&nbsp;액</strong></td>
                <td style="text-align:right">￦<span id="totalAmount" style="width:99%; text-align:right">{{ doc.BodyContext.totalAmount }}</span></td>
            </tr>
        </table>
        <table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:12%;">지불조건</th>
                <td>
                    <span id="moneySelect"></span>
                    <span id="etc">{{ doc.BodyContext.etc }}</span>
                </td>
            </tr>
        </table>
        <table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
            <tr>
                <th style="width:12%;">비고</th>
                <td  style="padding: 8px">
                    <span id="bigo">{{ doc.BodyContext.bigo }}</span>
                </td>
            </tr>
        </table>
</div>	
<!-- 양식전체본문 -->
