<!--2012.11.26 연동 추가-->
<!--계약번호 시작-->
<input type="hidden" data-type="mField" id="nYear">
<input type="hidden" data-type="mField" id="nfiid">
<!--계약번호 끝-->
<!--고객명 시작-->
<input type="hidden" data-type="mField" id="salesNm">
<!--고객명 끝-->
<!--연동 끝-->

<!--실 결재양식 내용 부분 시작 -->
<table class="table_10 tableStyle linePlus mt10" id="tbl_summary" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%;">
        <col style="width: 88%;">
    </colgroup>
    <tbody>
        <tr>
            <th><spring:message code="Cache.lbl_contractName"></spring:message></th>
            <td style="text-align:left;">
                <input type="text" data-type="mField" id="Con_Name" value="{{ doc.BodyContext.Con_Name }}" onkeyup="changeTitle(Con_Name, MainClient);" style="width: 99%" title="계약명" required="required">
            </td>
        </tr>
        <tr>
            <th>고 객 명</th>
            <td colspan="1" style="text-align: left;" class="Approval_labelTD">
                <input type="hidden" id="name_id" data-type="mField">
                <input type="text" data-type="mField" id="Client_NAME" value="{{ doc.BodyContext.Client_NAME }}" style="height: 20px; width: 30%;">&nbsp;&nbsp;
                <span data-mode="writeOnly">
                    <a href="#" class="Btn02" onclick="OpenCusName();"><span>선택</span></a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<table class="table_10 tableStyle linePlus mt10" id="tbl_detail" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%;">
        <col style="width: 88%;">
    </colgroup>
    <tbody>
        <tr>
            <th>주계약자</th>
            <td class="Approval_labelTD" colspan="1" style="text-align: left;">
                <input type="text" data-type="mField" id="MainClient" value="{{ doc.BodyContext.MainClient }}" onkeyup="changeTitle(Con_Name, MainClient);" style="width: 30%; height: 20px;" title="주계약자" required="required">
            </td>
        </tr>
        <tr>
            <th>담 당 자</th> <!-- margin: 0 auto; padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px;-->
            <td colspan="1" style="text-align: left; ">
                <input type="text" data-type="mField" id="CHARGE" value="{{ doc.BodyContext.CHARGE }}" style="width: 30%; height: 20px;">
            </td>
        </tr>
        <tr>
            <th>계약기간</th>
            <td class="Approval_labelTD" style="text-align: left;" colspan="1">
                <input type="text" data-type="mField" id="SDATE" value="{{ doc.BodyContext.SDATE }}" data-pattern="date" title="시작일" required="">
                <b>&nbsp;~&nbsp;</b>
                <input type="text" data-type="mField" id="EDATE" value="{{ doc.BodyContext.EDATE }}" data-pattern="date" title="종료일" required="" onchange="validateVacDate();">
                &nbsp;
                <input type="hidden" data-type="mField" id="NIGHTS">
                <input type="hidden" data-type="mField" id="DAYS">
            </td>
        </tr>
        <tr>
            <th>
                계약금액
            </th>
            <td style="text-align: left;"> <!-- data-pattern="numeral" data-numeral-format="$0,0" -->
                <input type="text" data-type="mField" id="Total_Count" value="{{ doc.BodyContext.Total_Count }}" data-pattern="currency" style="width: 30%; height: 20px; text-align: right; " onfocus="select();" onkeypress="num_chk();" onkeyup="auto_comma(this);"  value="0" >
                원&nbsp;&nbsp;(VAT별도)
            </td>
        </tr>
        <tr>
            <th>대금지급조건</th>
            <td colspan="4" class="Approval_labelTD" style="padding-top: 2px; padding-bottom: 2px; text-align: left;">
                <textarea data-type="mField" id="Pay" style="width: 98%; " rows="3">{{ doc.BodyContext.Pay }}</textarea>
            </td>
        </tr>
        <tr>
            <th>기타</th>
            <td colspan="1" class="Approval_labelTD" style="padding-top: 2px; padding-bottom: 2px; text-align: left; ">
                <p style="color: #FF0000; font-weight: bold;"> &nbsp;※ 영업관련지출비용(수수료,커미션등) 반드시 기재  - 대표이사승인사항 -</p>
                <textarea data-type="mField" id="etc" style="width: 98%; " rows="5">{{ doc.BodyContext.etc }}</textarea>
            </td>
        </tr>
    </tbody>
</table>