<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10 multi-row-table table_10" id="SubTable1">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 22%">
        <col style="width: 22%">
        <col style="width: 22%">
        <col style="width: 22%">
    </colgroup>
    <tbody><tr>
        <th style="font-family:맑은고딕;">고객사</th>
        <td colspan="4">
            <input type="text" id="Customer_Name" data-type="mField" value="{{ doc.BodyContext.Customer_Name }}" style="width: 99%;" name="Customer_Name">
        </td>
    </tr>
    <tr>
        <th style="font-family:맑은고딕;">계약명</th>
        <td colspan="4">
            <input type="text" id="Contract_Name" data-type="mField" value="{{ doc.BodyContext.Contract_Name }}" style="width: 99%;">
        </td>
    </tr>
    <tr>
        <th style="font-family:맑은고딕;">구분</th>
        <td colspan="4">
            <div data-type="mField" data-element-type="rdo_d" data-node-name="Contract_Type" title="구분">
                <input type="radio" name="Contract_Type" value="MP" checked="checked">MP&nbsp;&nbsp;&nbsp;
                <input type="radio" name="Contract_Type" value="CP">CP&nbsp;&nbsp;&nbsp;
                (
	                <span data-type="mField" data-element-type="chk_d" data-node-name="Contract_Type_Sub" title="구분">
	                	<input type="checkbox" name="Contract_Type_Sub" value="EUM">이음톡
	                </span>
                )
            </div>
        </td>
    </tr>
  	<!-- 2023.01.04 모듈별라이센스 추가 -->
  	<tr style="display:none;">
	  	<th>모듈별<br/>라이선스</th>
	  	<td colspan="5">
		  	<span data-type="mField" data-element-type="chk_d" id="LicenseModules" data-node-name="LicenseModules" title="라이센스모듈">
        	</span>
	  	</td>
  	</tr>
    <tr>
        <th style="font-family:맑은고딕;">인증번호</th>
        <td colspan="4">
            <input type="text" id="SerialNumber" data-type="mField" value="{{ doc.BodyContext.SerialNumber }}" style="width: 99%; border: 0px;" readonly="readonly">
        </td>
    </tr>
    <tr class="multi-row-control">
        <th rowspan="2" class="multi-row-autospan">내용<br><br>
        <em class="btn_iws_l" data-mode="writeOnly"><span class="btn_iws_r multi-row-add" id="btnAdd">
          <input type="button" value="추가" class="usa"></span></em>
            <em class="btn_iws_l" data-mode="writeOnly"><span class="btn_iws_r multi-row-del-auto" id="Span1"><input type="button" value="삭제" class="usa"></span></em></th>
    </tr>
    <tr>
        <th style="font-family:맑은고딕;">제품명</th>
        <th style="font-family:맑은고딕;">수량</th>
        <th style="font-family:맑은고딕;">단위</th>
        <th style="font-family:맑은고딕;">기타</th>
    </tr>
    <tr class="multi-row-template">
        <td><input type="text" data-type="rField" name="Product_Name" style="width: 99%;" id="Product_Name"></td>
        <td><input type="text" data-type="rField" name="Amount" style="width: 99%;" data-pattern="currency" id="Amount"></td>
        <td><input type="text" data-type="rField" name="Unit" style="width: 99%;" id="Unit"></td>
        <td><input type="text" data-type="rField" name="Note" style="width: 99%;" id="Note"></td>
    </tr>
    <tr>
        <th style="font-family:맑은고딕;">발행일</th>
        <td colspan="4"><input type="text" data-pattern="date" data-date-format="yy년 mm월 dd일" data-type="mField" id="Sdate" value="{{ doc.BodyContext.Sdate }}" style="width: 120px;"></td>
    </tr>
</tbody></table>

<table class="tableStyle linePlus mt10 table_10">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 88%">
    </colgroup>
    <tbody><tr>
        <th>비고</th>
        <td>
            <textarea data-type="mField" id="TEXTAREA_NOTE" rows="5" style="width: 98%; overflow: auto;">{{ doc.BodyContext.TEXTAREA_NOTE }}</textarea>
        </td>
    </tr>
</tbody></table>
<!--실 결재양식 내용 부분 끝 -->