
<!--실 결재양식 내용 부분 시작 -->
<table class="tableStyle linePlus mt10 multi-row-table" id="TBL_CALL_INFO"><!-- class="table_10" -->
    <colgroup>
        <col style="width:15%" />
        <col style="width:18%" />
        <col style="width:13%" />
        <col style="width:10%" />
        <col style="width:26%" />
        <col style="width:18%" />        
    </colgroup>
    
     <tr class="multi-row-control" align="right" data-mode="writeOnly">
		<td colspan="6" style="border:none;">
			<input type="button" value="+<spring:message code='Cache.lbl_Add'/>" class="multi-row-add usa">  <!-- 추가 -->
			<input type="button" value="-<spring:message code='Cache.lbl_apv_delete'/>" class="multi-row-del-auto usa">  <!-- 삭제 -->
		</td>
	</tr>
	
	<tr>
		<th><spring:message code='Cache.lbl_apv_Worker'/></th> <!-- 근무자 -->
		<th><spring:message code='Cache.lbl_apv_TimeBefore'/></th> <!-- 변경 전 시간 --> 
		<th><spring:message code='Cache.lbl_date'/></th>	<!-- 날짜 --> 
		<th><spring:message code='Cache.lbl_Gubun'/></th>	<!-- 구분 --> 
		<th><spring:message code='Cache.lbl_ChangeTime'/></th>	<!-- 변경 시간 --> 
		<th><spring:message code='Cache.lbl_apv_Explanation'/></th>	<!-- 소명 내용 --> 
	</tr>
	
    <tr class="multi-row-template">
    	<td>
    		<input type="hidden" data-type="rField" name="UserCode">
    		<input type="hidden" data-type="rField" name="CompanyCode">
    		<input type="text" name="UserName" data-type="rField" style="width:65%;" required readonly="readonly" title="근무자">
    		<span data-mode="writeOnly">
				<a onclick="OpenWinEmployee(this);">
					<img alt="search" style="vertical-align: middle; cursor:pointer;" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif" width="25" height="21">
				</a>
			</span>
    	</td>
    	<td><input type="text" name="BeforeTime" data-type="rField" style="width:98%" readonly="readonly"></td>
    	<td><input type="text" name="CallDate" data-type="rField" data-pattern="date" style="width:98%;" title="날짜" required  onchange="ChangeSubject(this);"></td>
    	<td>
    		<select name="Division" data-type="rField" data-element-type="sel_d_v" style="width:98%;" title="구분" required  onchange="BeforeCommuteTime(this);">
    			<option value=""><spring:message code='Cache.lbl_selection'/></option> <!-- 선택 -->
    			<option value="출근시간"><spring:message code='Cache.lbl_apv_GoingHour'/></option>	<!-- 출근시간 -->
    			<option value="퇴근시간"><spring:message code='Cache.lbl_apv_QuittingTime'/></option>	<!-- 퇴근시간 -->
    		</select>    		
    	</td>
    	<td>
    		<input type="text" name="changeDate" data-type="rField" data-pattern="date" style="width:45%" required  title="변경일">
    		<input type="text" name="hour" data-type="rField" data-pattern="time" data-time-step="60" value="00" data-time-format="H" style="width:40px;" title="시">&nbsp;:
    		<input type="text" name="min" data-type="rField" data-pattern="numeric" maxlength="2" value="00" style="width:35px;" title="분" onchange="ChangeMin(this);">    		
    	</td>
    	<td><textarea name="Etc" data-type="rField" style="width:98%;" title="소명 내용"></textarea></td>

    </tr>
</table>
<!--실 결재양식 내용 부분 끝 -->