
<!--실 결재양식 내용 부분 시작 -->
<div class="appforms_wrap">
	<div class="appforms_cont">
		<table class="appforms_table"><!-- class="table_10" -->
		    <colgroup>
		        <col style="width:55px;" />
		        <col style="width:*;" />
		    </colgroup>
		    <tr>
		    	<th class="appforms_table_th">내용</th>
		    	<td class="appforms_table_td" style="height: 350px;">
		    		<textarea id="Context" class="appforms_table_textarea" class="appforms_table_textarea" style="width: 100%;" data-element-type="editor"></textarea>
		    	</td>
		    </tr>
		</table>
	</div>	
</div>
<!--실 결재양식 내용 부분 끝 -->
