<table class="table_10 tableStyle linePlus mt10">
    <colgroup>
        <col style="width: 12%;">
        <col style="width: 88%;">
    </colgroup>

    <tbody>
        <tr>
            <!--<th>프로젝트명</th>
            <td>
                <!--주석<input id="pStrJobcode" type="hidden" data-type="mField" ext-data-type1="writelink_w_text" ext-data-type2="OLv4JSl3aPMSE8eTcHtXXxEbcbvfGfen5kwvddOWpn1LUd30TIJ1Y3nuY1016zD0rfltDrGIJ4Pxw71EF6t7RYjdPzS6DLbs" ext-data-type3="BusinessJobInsert" ext-data-type4="pStrJobcode">-->
                <!--<input id="pStrJobcode" type="hidden" data-type="mField">
            </td>-->
            <!--운영 연결문자열 : 운영서버의 프로젝트 코드신청서에서 f12 눌러서 운영에서 사용하는 연결문자열을 받아와 ext-data-type2에 넣어줘야한다-->
            <th>프로젝트명</th>
		    <td>
                <!-- 기간연동으로 변경 <input name="PROJECT_CODE" id="PROJECT_CODE" style="width: 99%;" required="" onchange="PROJECTNAME()" type="text" value="{{ doc.BodyContext.PROJECT_CODE }}" data-type="mField" ext-data-type4="PROJECT_CODE" ext-data-type3="BusinessJobInsert" ext-data-type2="OLv4JSl3aPMSE8eTcHtXXxEbcbvfGfen5kwvddOWpn1LUd30TIJ1Y3nuY1016zD0rfltDrGIJ4Pxw71EF6t7RYjdPzS6DLbs" ext-data-type1="writelink_w_text"> -->
                <input name="PROJECT_CODE" id="PROJECT_CODE" style="width: 99%;" required="" onchange="PROJECTNAME()" type="text" value="{{ doc.BodyContext.PROJECT_CODE }}" data-type="mField" title="프로젝트명">
                <input id="pStrJobcode" type="hidden" data-type="mField">
		    </td>
        </tr>
        <tr>
            <th>예상<br>
                프로젝트 기간</th>
            <td>
                <input id="DAY_START" style="width: 20%;" required="" onchange="calSDATEEDATE(this)" type="text" value="{{ doc.BodyContext.DAY_START }}" data-type="mField" data-pattern="date" title="시작일">
                ~
                <input id="DAY_FINISH" style="width: 20%;" required="" onchange="calSDATEEDATE(this)" type="text" value="{{ doc.BodyContext.DAY_FINISH }}" data-type="mField" data-pattern="date" title="종료일">
            </td>
        </tr>
        <tr>
            <th>업무타입</th>
            <td>
                <select id="SUBJECT_TYPE" required="" onchange="setJobType()" data-element-type="sel_d_v" data-type="mField">
                    <option value="P">P(프로젝트)</option>
                    <option value="G">G(회사일반)</option>
                    <option value="R">R(R&amp;D)</option>
                    <option value="S">S(Sales)</option>
                    <option value="C">C(유지보수)</option>
                   <!--  <option value="M">M(SE 제품관리)</option> -->
                </select>
                <!-- 기간 연동으로 변경 <input id="pStrJobtype" type="hidden" value="{{ doc.BodyContext.pStrJobtype }}" data-type="mField" ext-data-type4="pStrJobtype" ext-data-type3="BusinessJobInsert" ext-data-type2="OLv4JSl3aPMSE8eTcHtXXxEbcbvfGfen5kwvddOWpn1LUd30TIJ1Y3nuY1016zD0rfltDrGIJ4Pxw71EF6t7RYjdPzS6DLbs" ext-data-type1="writelink_w_text"> --> 
                <input id="pStrJobtype" type="hidden" value="{{ doc.BodyContext.pStrJobtype }}" data-type="mField" >
                <span id="SubjectTypeDesc" ></span>
            </td>
        </tr>
        <tr>
            <th>PM</th>
            <td>
                <input id="PM" style="width: 30%;" required="" type="text" readonly="readonly" placeholder="( *현재 기준으로 기입 )" value="{{ doc.BodyContext.PM }}" data-type="mField" title="PM">
                <span data-mode="writeOnly">
                    <a onclick="OpenWinEmployee('PM')">
                        <img width="21" height="18" style="vertical-align: middle; cursor: pointer;" alt="search" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif">
                    </a>
                </span>
                <input id="PM_Total_Master" type="hidden" value="{{ doc.BodyContext.PM_Total_Master }}" data-type="mField">
				<!-- 기간연동으로 변경 <input id="PM_Code" type="hidden" value="{{ doc.BodyContext.PM_Code }}" data-type="mField" ext-data-type4="PM_Code" ext-data-type3="BusinessJobInsert" ext-data-type2="OLv4JSl3aPMSE8eTcHtXXxEbcbvfGfen5kwvddOWpn1LUd30TIJ1Y3nuY1016zD0rfltDrGIJ4Pxw71EF6t7RYjdPzS6DLbs" ext-data-type1="writelink_w_text"> -->
				<input id="PM_Code" type="hidden" value="{{ doc.BodyContext.PM_Code }}" data-type="mField">
            </td>
        </tr>
        <tr>
            <th>영업대표</th>
            <td>
                <input id="CEO" style="width: 30%;" type="text" readonly="readonly" placeholder="( *현재 기준으로 기입 )" value="{{ doc.BodyContext.CEO }}" data-type="mField" title="영업대표">
                <span data-mode="writeOnly">
                    <a onclick="OpenWinEmployee('CEO')">
                        <img width="21" height="18" style="vertical-align: middle; cursor: pointer;" alt="search" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif">
                    </a>
                </span>
                <input id="CEO_Total_Master" type="hidden" value="{{ doc.BodyContext.CEO_Total_Master }}" data-type="mField">
            </td>
        </tr>
        <tr>
            <th>예상투입인력</th>
            <td class="multi-row-autospan" style="padding: 0px;">
                <table class="table_10 multi-row-table" id="TB" style="width: 100%; border: hidden currentColor; border-image: none; margin-top: 0px;" name="TB">
                    <colgroup>
                        <col style="width: 4%;" data-mode="writeOnly" >
                        <col style="width: 32%;">
                        <col style="width: 32%;">
                        <col style="width: 32%;">
                    </colgroup>

                    <tbody>
                        <tr class="multi-row-control" data-mode="writeOnly">
                            <td style="text-align: right; border-top-color: currentColor; border-right-color: currentColor; border-left-color: currentColor; border-top-width: medium; border-right-width: medium; border-left-width: medium; border-top-style: hidden; border-right-style: hidden; border-left-style: hidden;" colspan="4">
                                <div style="text-align: left;">
                                    <span>추가버튼을 눌러서 멀티로 선택가능합니다. (생략가능)</span>
                                    <!--삭제-->
                                    <em class="btn_iws_l usa" style="float: right; font-style:normal;">
                                        <span class="btn_iws_r multi-row-del" id="Span1"><strong class="txt_btn_ws">
                                            <img class="ico_btn" alt="" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/ico_x.gif">삭제</strong>
                                        </span>
                                    </em>
                                    <!--추가-->
                                    <em class="btn_iws_l usa" style="float: right; font-style:normal;" onclick="ORG()">
                                        <span class="btn_iws_r" id="ADD">
                                            <strong class="txt_btn_ws">
                                                <img class="ico_btn" alt="" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/ico_plus.gif">추가
                                            </strong>
                                        </span>
                                    </em>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="multi-row-selector-wrap" style="text-align: center;" data-mode="writeOnly">
                                <input class="multi-row-select-all" type="checkbox"  data-mode="writeOnly">
                            </th>
                            <th style="width: 31%;">부서</th>
                            <th style="width: 31%;">직급</th>
                            <th style="width: 32%;">성명</th>
                        </tr>
                        <tr class="multi-row-template">
                            <td class="multi-row-selector-wrap" style="text-align: center;" data-mode="writeOnly">
                                <input class="multi-row-selector" style="text-align: center;" type="checkbox" data-mode="writeOnly">
                            </td>
                            <td><span name="PRO_DEPT" data-type="rField"></span></td>
                            <td><span name="PRO_POSITION" data-type="rField"></span></td>
                            <td>
                                <input name="PRO_ID" style="width: 99%;" type="hidden" data-type="rField">
                                <span name="PRO_NAME" data-type="rField"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th style="min-height: 70px;">비고</th>
            <td style="padding: 5px; -ms-word-break: break-all;" colspan="3">
                <textarea id="MAINACTION" style="width: 99%; overflow: auto;" rows="3" data-type="mField">{{ doc.BodyContext.MAINACTION }}</textarea>
            </td>
        </tr>
    </tbody>
</table>