<!--실 결재양식 내용 부분 시작 -->
<table class="table_10 tableStyle linePlus mt10" style="opacity: 1;"><colgroup>
				<col style="width: 15%;">
				<col style="width: 35%;">
				<col style="width: 15%;">
				<col style="width: 35%;"></colgroup>
                        
                    <tbody>
				<tr style="cursor: default;">
					<th name="" value="" style="">본부/부서</th>
					<td>
                      	<input type="text" readonly="readonly" data-type="smField" id="Dept" value="{{ doc.BodyData.MainTable.Dept }}" name="Dept" style="width:200px; border:0;" title="">
                 	</td>
					<th name="" value="" style="">직급/직책</th>
					<td>
                      	<input type="text" readonly="readonly" data-type="smField" id="Title" value="{{ doc.BodyData.MainTable.Title }}" name="Title" style="width:100px; border:0;" title="">
                 	</td>
                </tr>
				<tr style="cursor: default;">
					<th name="" value="" style="">입사일</th>
					<td>
                      	<input type="text" readonly="readonly" data-type="smField" id="EnterDate" value="{{ doc.BodyData.MainTable.EnterDate }}" name="EnterDate" style="width:100px; border:0;" title="">
                 	</td>
					<th name="" value="" style="">퇴직일</th>
					<td>
                      	<input type="text" required="required" data-type="smField" id="RetireDate" data-model="" value="{{ doc.BodyData.MainTable.RetireDate }}" data-pattern="date" style="width:90px;" name="RetireDate" title="퇴직일" class="input-required">
                 	</td>
                </tr>
				<tr style="cursor: default;">
					<th style="">퇴직사유</th>
					<td style="" colspan="3" rowspan="1"><textarea data-type="smField" id="Reason" required="required" class="input-required" rows="5" style="width: 100%;" name="Reason" value="" title="퇴직사유">{{ doc.BodyData.MainTable.Reason }}</textarea></td>
				</tr>
</tbody></table>
<table class="table_10 tableStyle linePlus mt10" style="opacity: 1;">
<thead>
	</thead><colgroup>
				<col style="width: 15%;">
				<col style="width: 85%;">
 	</colgroup>

<tbody>
  	<tr style="cursor: default;">
    	<td style="text-align:center;height:30px;" colspan="2" rowspan="1">
			본인은 아래와 같이 서약하고, 사직서를 제출하오니 검토 후 재가하여 주시기 바랍니다.
      	</td>
  	</tr>
  	<tr style="cursor: default;">
    	<td style="text-align:center;height:30px;" colspan="2" rowspan="1">
			본인은 사직서 제출에 있어 아래 ①+②+③+④ 내용을 확인하였으며, 이에 동의합니다.
      	</td>
  	</tr>
  	<tr style="cursor: default;">
		<th style="">전업금지<br>및<br>비밀유지<br>서약서<br>①</th>
    	<td style="padding:10px;" colspan="3" rowspan="1">
1. 본인은 ㈜코비젼 재직 중 수행한 직무와 관련하여 수행한 프로그램소스 등의 유무형 산출물 및 기타 프로젝트 수행에 유용한 기술상 또는 경영상의 정보 및 구두나 문서상으로 해당 직무에 대해 논의하면서 알게 된 모든 정보 (시스템 구성, 시스템 아키텍쳐, 제품, 소스, 기술, 부품 공급, 제품 생산방식, 노하우, 사업계획, 마케팅 계획, 기타 협력사와의 관계, 고객정보 이하 위에 표현되지 않은 모든 정보 등 - 부정경쟁방지 및 영업비밀보호에 관한 법률에 의하여 보호되지 않는 것도 포함. 이하 “영업비밀”이라 함)를 재직 중 또는 퇴직 후에도 제3자에게 공개하거나 누설하지 않을 것이며, 본인 스스로 혹은 제 3자를 통하여서도 이를 유용하지 아니한다. 
<br style=""><br style="">
2. 본인은 ㈜코비젼에 내,외부(파견,컨설팅) 업무와 관련하여 단독으로 혹은 다른 임직원, 협력업체 등과 협력하여 창출한 영업비밀에 대한 모든 권리가 ㈜코비젼에 귀속됨을 인정하고 이에 대한 개인적 권리 주장과 분쟁을 일으키지 아니한다.
본인은 ㈜코비젼에 재직 중 수행한 업무와 관련한 유형적 자료 (서류, 사진, 도면, 문서파일, 회의록, 소스파일, 노트 외 일체의 자료) 중 어떠한 원본 또는 사본도 외부로 반출하지 아니한다.
<br style=""><br style="">
3. 본인은 퇴사 후 1년간 경쟁사에 취업하지 않기로 하며 재직 시 지득(知得)한 영업비밀을 이용하여 창업하거나 영업비밀을 사용, 누설, 공개하지 아니한다. (경쟁사라 함은 당사와 같은 협업 솔루션을 개발/공급하는 업체를 뜻하며 구체적으로 그룹웨어, 포탈, 전자결재, 메일, 메신저 등의 협업 솔루션 혹은 유지보수 및 IDC 서비스를 고객사에 개발/공급하는 업체를 뜻한다.) 아울러 본인의 퇴사가 경쟁사에 취업하기 위한 것이 아님을 확인한다. 
<br style=""><br style="">
4. 본인은 기타 회사의 영업비밀을 준수하기 위하여 성실한 노력을 다하며, 상기 사항을 위반하는 경우 민법, 부정경쟁방지 및 영업비밀보호에 관한 법률 등 관련 법률에 따라 영업비밀 침해 행위의 중지, 손해배상 및 신용회복 조치 등 민사상의 제재 또는 형사적 처벌을 받을 수 있음을 명백히 인지하고, 본 서약서를 제출하는 바, 본 서약의 위반으로 인해 발생하는 법적 쟁송의 관할은 ㈜코비젼 소재지 관할 법원으로 함에 동의합니다. 
<br style=""><br style="">
5. 본인은 코비젼에 근무하면서 연구, 개발한 정보 자산의 지적 재산권 일체는 회사에 귀속되며, 이에 관련된 모든 특허 받을 권리를 코비젼 대표이사에게 양도하며, 퇴사 이후 특허등록권등에 관련된 일체의 권리를 주장하지 않을 것입니다. 
<br style=""><br style="">
6. 본인 재직 중에 발생했던 업무와 관련하여 귀사의 요청이 있을 경우에는 이에 대하여 내사 또는 문서로 성의껏 해명하겠습니다.
<br style=""><br style="">
7. 본인이 고의 또는 중대한 과실로 상기 내용에 대한 서약을 지키지 않음으로 인해 귀사 및 귀사의 거래처에 직접적 또는 잠재적으로 유.무형의 손해를 끼쳤을 경우에는 귀사가 본인에게 민.형사상 어떠한 조치를 취해도 본인은 아무런 이의를 제기하지 않겠습니다. 
본인은 본인의 자유 의사에 따라 퇴직하며, 본인은 입사시 작성한 서약서를 사직서에 참조문서로 첨부(입사시 작성했던 보안서약서, 개인정보 이용 및 수집 동의, 근로동의서, 정품 소프트웨어 사용정책)에 따라 서약서사항을 준수하고 서약서 사항을 위반하였을 경우에 본인은 법령이 정한 바에 따라 민, 형사상의 모든 책임을 부담하겠으며, 이로 인하여 회사에 발생한 모든 손해를 배상하겠습니다.     
<br style=""><br style="">
8.  본인은 정보주체(고객사)의 개인정보를 보호하고 법적 요구사항을 준수해야 할 책임과 의무가 있습니다. 퇴직 후에도 본인은 업무수행을 위해 부득이하게 수집한 개인정보를 침해, 유출 또는 훼손/누설 하지 않으며 업무수행 이외의 다른 목적이나 기타 부정한 목적으로 사용하지 않을 것을 서약합니다. 본인은 본 서약을 위반하였을 경우 개인정보보호법, 정보통신망이용촉진에 관한 법률 및 기타 관련 법령에 따라 귀하에 대하여 손해배상 책임을 포함한 민/형사상의 모든 책임을 질 것을 서약합니다.   
      	</td>
  	</tr>
  	<tr style="cursor: default;">
    	<th style="">고객사<br>이직금지<br>②</th>
    	<td style="padding:10px;" colspan="3" rowspan="1">
			본인은 코비젼에 퇴직 후에도 퇴직일로부터 1년간 코비젼의 고객사에 취업하지 않기로 확약합니다. (본 서약서에서 고객사라 함은 당사의 협업 솔루션을 도입하여 사용하고 있는 회사를 뜻하며 구체적으로 그룹웨어, 포탈, 전자결재, 메일, 메신저 등의 협업 솔루션 혹은 유지보수 및 IDC 서비스를 개발/공급받는 업체를 뜻한다.) 아울러 본인의 퇴직이 고객사에 취업하기 위한 것이 아님을 확인합니다. 나아가 본인은 퇴직일로부터 1년간 고객사에 대한 관계에서 코비젼의 이익을 침해할 수 있는 행위(예컨대, 본인이 코비젼 근무 기간 동안 수행한 업무와 유사한 업무를 고객사에 제공하거나 본인 또는 제3자를 위한 영업행위를 고객사를 상대로 하는 경우 포함)를 하지 않기로 합니다. 본인이 이를 위반하는 경우 그로 인하여 회사에 발생한 손해 (본인의 취업으로 인하여 회사와 고객사 사이의 프로젝트 수행 및 유지보수 계약이 중단되는 경우 그러한 계약중단으로 인한 프로젝트 수행 및 유지보수료 감액분 포함하며 이에 한정되지 않음)를 배상하는 등 모든 민형사상 책임을 지기로 합니다. 
      	</td>
  	</tr>
  	<tr style="cursor: default;">
    	<th style="">연봉<br>비밀유지<br>③</th>
    	<td style="padding:10px;" colspan="3" rowspan="1">
			본인은 직원들의 연봉과 근무조건에 관한 사항이 회사의 기밀사항임을 알고 있으며, 퇴사 이후에도 본인 및 동료의 연봉과 근무조건에 관한 사항에 대한 비밀을 유지하고 이를 제3자에게 공개하거나 누설하지 않기로 서약합니다. 이러한 비밀유지의무 위반시 민형사상 책임을 지며 어떠한 이의도 제기하지 않기로 합니다.
      	</td>
  	</tr>
  	<tr style="cursor: default;">
    	<th style="">퇴직금<br>④</th>
    	<td style="padding:10px;" colspan="3" rowspan="1">
			지급사유가 발생한 날부터 14일 이내 지급을 원칙으로 하되, 회사 자금집행 계획에 따라 최대 30일 이내에 지급될 수 있음을 동의합니다.
      	</td>
  	</tr>
</tbody></table>
<!--실 결재양식 내용 부분 끝 -->