
<!--실 결재양식 내용 부분 시작 -->
<div class="appforms_wrap">
	<div class="appforms_cont">
		<table class="appforms_table"><!-- class="table_10" -->
		    <colgroup>
		        <col style="width:36px;" />
		        <col style="width:40%;" />
		        <col style="width:60%;" />
		    </colgroup>
		    <tr>
		    	<th class="appforms_table_th" colspan="3">
		    		출장자
		    	</th>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="4">
		    		1
		    	</th>
		    	<th class="appforms_table_th">
		    		부서명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="user_dept_1" data-type="mField" value="{{ doc.BodyContext.user_dept_1 }}" style="width: 100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_name_1" value="{{ doc.BodyContext.user_name_1 }}" style="width: calc(100% - 90px);" readonly="readonly" />
		    		<span data-mode="writeOnly" style="float: right;">
						<a onclick="javascript: OpenWinEmployee('1');" class="btn_add_n ui-link"></a>
		            </span>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		직위
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_pstn_1" value="{{ doc.BodyContext.user_pstn_1 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		비고
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_etc_1" value="{{ doc.BodyContext.user_etc_1 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="4">
		    		2
		    	</th>
		    	<th class="appforms_table_th">
		    		부서명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="user_dept_2" data-type="mField" value="{{ doc.BodyContext.user_dept_2 }}" style="width: 100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_name_2" value="{{ doc.BodyContext.user_name_2 }}" style="width: calc(100% - 90px);" readonly="readonly" />
		    		<span data-mode="writeOnly" style="float: right;">
						<a onclick="javascript: OpenWinEmployee('2');" class="btn_add_n ui-link"></a>
		            </span>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		직위
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_pstn_2" value="{{ doc.BodyContext.user_pstn_2 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		비고
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_etc_2" value="{{ doc.BodyContext.user_etc_2 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="4">
		    		3
		    	</th>
		    	<th class="appforms_table_th">
		    		부서명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="user_dept_3" data-type="mField" value="{{ doc.BodyContext.user_dept_3 }}" style="width: 100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_name_3" value="{{ doc.BodyContext.user_name_3 }}" style="width: calc(100% - 90px);" readonly="readonly" />
		    		<span data-mode="writeOnly" style="float: right;">
						<a onclick="javascript: OpenWinEmployee('3');" class="btn_add_n ui-link"></a>
		            </span>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		직위
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_pstn_3" value="{{ doc.BodyContext.user_pstn_3 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		비고
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="user_etc_3" value="{{ doc.BodyContext.user_etc_3 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="2">
		    		출장지역
		    	</th>
		    	<td class="appforms_table_td">	
					<input type="text" class="appforms_table_input" data-type="mField" id="t_area" value="{{ doc.BodyContext.t_area }}" style="width:100%;" />    		
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="2">
		    		출장목적
		    	</th>
		    	<td class="appforms_table_td" style="height: 150px;">	
					<textarea id="t_purpose" class="appforms_table_textarea" data-type="mField" rows="3" style="height: 150px; width: 100%;">{{ doc.BodyContext.t_purpose }}</textarea>    		
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="3">
		    		출장기간
		    	</th>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="2">
		    	 	시작일
		    	</th>
		    	<td class="appforms_table_td" style="text-align: center;">
		    	 	<input type="text" class="appforms_table_input input_date" data-type="mField" id="SDATE" value="{{ doc.BodyContext.SDATE }}" title="시작일" required="required" style="width:130px;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="2">
		    	 	종료일
		    	</th>
		    	<td class="appforms_table_td" style="text-align: center;">
		    	 	<input type="text" class="appforms_table_input input_date" data-type="mField" id="EDATE" value="{{ doc.BodyContext.EDATE }}" title="종료일" required="required" style="width:130px;" readonly="readonly" onchange="validateVacDate()" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="2">
		    	 	기간
		    	</th>
		    	<td class="appforms_table_td" style="text-align: center;">
		    	 	(<input type="text" class="appforms_table_input" data-type="mField" id="NIGHTS" value="{{ doc.BodyContext.NIGHTS }}" data-pattern="period" data-period-ref="SDATE,EDATE" size="5" readonly="readonly" style="width:45px; text-align:right"><b>박</b>  
		    		&nbsp;&nbsp;
		            <input type="text" class="appforms_table_input" data-type="mField" id="DAYS" value="{{ doc.BodyContext.DAYS }}" data-pattern="period" data-period-ref="SDATE,EDATE,1" size="5" readonly="readonly" style="width: 45px; text-align:right"><b>일</b>)
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="3">
		    		출장내용
		    	</th>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="3">
		    		1
		    	</th>
		    	<th class="appforms_table_th">
		    	 	일정
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_date_1" value="{{ doc.BodyContext.t_date_1 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	지역
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_area_1" value="{{ doc.BodyContext.t_area_1 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	주요활동계획
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_content_1" value="{{ doc.BodyContext.t_content_1 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="3">
		    		2
		    	</th>
		    	<th class="appforms_table_th">
		    	 	일정
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_date_2" value="{{ doc.BodyContext.t_date_2 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	지역
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_area_2" value="{{ doc.BodyContext.t_area_2 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	주요활동계획
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_content_2" value="{{ doc.BodyContext.t_content_2 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="3">
		    		3
		    	</th>
		    	<th class="appforms_table_th">
		    	 	일정
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_date_3" value="{{ doc.BodyContext.t_date_3 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	지역
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_area_3" value="{{ doc.BodyContext.t_area_3 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    	 	주요활동계획
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="t_content_3" value="{{ doc.BodyContext.t_content_3 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" colspan="3">
		    		예상경비
		    	</th>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="6">
		    		1
		    	</th>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_user_name_1" value="{{ doc.BodyContext.a_user_name_1 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		교통비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_11" data-pattern="currency" value="{{ doc.BodyContext.a_cost_11 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		숙박비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_12" data-pattern="currency" value="{{ doc.BodyContext.a_cost_12 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		일비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_14" data-pattern="currency" value="{{ doc.BodyContext.a_cost_14 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		기타
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_15" data-pattern="currency" value="{{ doc.BodyContext.a_cost_15 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		합계
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_16" data-pattern="currency" value="{{ doc.BodyContext.a_cost_16 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="6">
		    		2
		    	</th>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_user_name_2" value="{{ doc.BodyContext.a_user_name_2 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		교통비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_21" data-pattern="currency" value="{{ doc.BodyContext.a_cost_21 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		숙박비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_22" data-pattern="currency" value="{{ doc.BodyContext.a_cost_22 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		일비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_24" data-pattern="currency" value="{{ doc.BodyContext.a_cost_24 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		기타
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_25" data-pattern="currency" value="{{ doc.BodyContext.a_cost_25 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		합계
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_26" data-pattern="currency" value="{{ doc.BodyContext.a_cost_26 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="6">
		    		3
		    	</th>
		    	<th class="appforms_table_th">
		    		성명
		    	</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_user_name_3" value="{{ doc.BodyContext.a_user_name_3 }}" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		교통비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_31" data-pattern="currency" value="{{ doc.BodyContext.a_cost_31 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		숙박비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_32" data-pattern="currency" value="{{ doc.BodyContext.a_cost_32 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		일비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_34" data-pattern="currency" value="{{ doc.BodyContext.a_cost_34 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		기타
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_35" data-pattern="currency" value="{{ doc.BodyContext.a_cost_35 }}" onkeyup="calcExpense(this);" style="width:100%;" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		합계
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_cost_36" data-pattern="currency" value="{{ doc.BodyContext.a_cost_36 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th" rowspan="5">
		    		합<br/>계
		    	</th>
		    	<th class="appforms_table_th">
		    		교통비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_sum_1" data-pattern="currency" value="{{ doc.BodyContext.a_sum_1 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		숙박비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_sum_2" data-pattern="currency" value="{{ doc.BodyContext.a_sum_2 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		일비
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_sum_4" data-pattern="currency" value="{{ doc.BodyContext.a_sum_4 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		기타
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_sum_5" data-pattern="currency" value="{{ doc.BodyContext.a_sum_5 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">
		    		합계
		    	</th>
		    	<td class="appforms_table_td" style="text-align: right;">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="a_sum_6" data-pattern="currency" value="{{ doc.BodyContext.a_sum_6 }}" style="width:100%;" readonly="readonly" />
		    	</td>
		    </tr>
		</table>
	</div>	
</div>
<!--실 결재양식 내용 부분 끝 -->
