
<!-- HIDDEN FIELD -->
<input type="hidden" data-type="mField" id="HID_CANCLE_FIID" />

<!--실 결재양식 내용 부분 시작 -->
<table class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width:12%;">
        <col style="width:38%;">
        <col style="width:12%;">
        <col style="width:38%;">
    </colgroup>
    <tbody>
        <tr data-mode="writeOnly">
            <th><spring:message code="Cache.lbl_Vaction_Name"></spring:message></th>
            <td colspan="3">
                <span data-mode="writeOnly"><spring:message code="Cache.lbl_Vacation_SelMessage"></spring:message></span>
            </td>
        </tr>
        <tr>
            <th><spring:message code="Cache.lbl_TotalVacation"></spring:message></th>
            <td style="border-top: 1px solid #c3d7df;">
                <select data-type="mField" id="Sel_Year" data-element-type="sel_d_v" style="width:25%;" onchange="getData()"><!-- onchange="initVacInfoTable();"-->
                    <option id="selNowYear" value="{% print(new Date().getFullYear()); %}" selected="">{% print(new Date().getFullYear()); %}</option>
                    <option id="selNowYearPlus1" value="{% print(new Date().getFullYear() + 1); %}">{% print(new Date().getFullYear() + 1); %}</option>
                </select>
                
                <span id="spanSelYear"></span>
                <input type="text" data-type="mField" id="VAC_DAYS" value="{{ doc.BodyContext.VAC_DAYS }}" data-binding="pre" style="width:60%;text-align:right;border:0;" readonly="readonly">
            </td>
            <th>잔여 연차</th>
            <td style="border-top: 1px solid #c3d7df;"><input type="text" data-type="mField" id="USE_DAYS" value="{{ doc.BodyContext.USE_DAYS }}" data-binding="pre" style="width:98%;border:0;" readonly="readonly"></td>
        </tr>
        <!-- multi row table이 들어 올 곳-->
        <tr>
            <th>기간</th>
            <td colspan="3">
                
                <table class="table_10 multi-row-table RowSumTable tableStyle" id="tblVacInfo">
                    <tbody><tr class="multi-row-control" align="right">
                        <td>
                            <input type="button" value="+추가" class="usa multi-row-add">
                            <input type="button" value="-삭제" class="usa multi-row-del">
                            &nbsp;&nbsp;&nbsp;&nbsp;<b>( 총 <input type="text" data-type="mField" id="_MULTI_TOTAL_DAYS" class="watch-value" data-watch="[name=TOT_MULTI_TOTAL_DAYS]" value="{{ doc.BodyContext._MULTI_TOTAL_DAYS }}" readonly="readonly" style="width:35px; border:0px;text-align:right; font-weight:bold;"> 일)</b>
                        </td>
                    </tr>
                    <tr class="multi-row-template multi-period">
                        <td>
                            <input type="checkbox" class="multi-row-selector">
                          <!--  <span class="multi-row-seq" style="display:none;">1</span>-->
                            <!-- onchange="initVacInfoTable();"-->
                          <select data-type="rField" name="VACATION_TYPE" data-element-type="sel_d_t" style="width:10%;" onchange="initVacInfoTable(this);">
                            </select>
                            <input type="text" name="_MULTI_VACATION_SDT" data-type="rField" readonly="" data-pattern="date" title="시작일" onchange="calSDATEEDATE(this);" required="">
                            &nbsp;~&nbsp;
                            <input type="text" name="_MULTI_VACATION_EDT" data-type="rField" readonly="" data-pattern="date" title="종료일" onchange="calSDATEEDATE(this);" required="">&nbsp;
                            <b>(</b><input type="text" name="_MULTI_DAYS" data-type="rField" class="sum-table-cell" data-pattern="period" data-period-ref="_MULTI_VACATION_SDT,_MULTI_VACATION_EDT,1" style="border:0px solid;width:27px;font-weight:bold;" readonly="readonly"><b>일)</b>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td>
                            <input type="text" name="TOT_MULTI_TOTAL_DAYS" data-type="rField" class="sum-table-colsum keep-zero-format">
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
        <tr>
            <th>사유</th>
            <td colspan="3">
                <textarea data-type="mField" id="VAC_REASON" data-binding="pre" rows="5" title="사유" required="" style="border:1px solid #C0C0C0;width:97.5%;margin-top:5px; margin-bottom:5px; overflow:auto;">{{ doc.BodyContext.VAC_REASON }}</textarea>
            </td>
        </tr>
        <tr>
            <th>비상연락</th>
            <td colspan="3"><input type="text" data-type="mField" id="NUMBER" value="{{ doc.BodyContext.NUMBER }}" data-binding="pre" style="width:20%;" required="" ></td>
        </tr>
        <tr>
            <th>직무대행자</th>
            <td style="border-right:0px;">
                <input type="text" data-type="mField" id="DEPUTY_NAME" value="{{ doc.BodyContext.DEPUTY_NAME }}" data-binding="pre" title="직무대행자" required="" readonly="readonly" style="width:98%;border:0px solid;">
                <input type="hidden" data-type="mField" id="DEPUTY_CODE" value="{{ doc.BodyContext.DEPUTY_CODE }}" style="width: 98%;">
            </td>
            <td colspan="2" style="text-align:left; padding-left: 10px;">
                <span data-mode="writeOnly">
                    <a onclick="OpenWinEmployee('DEPUTY_NAME')">
                        <img alt="search" style="vertical-align: middle; cursor:pointer;" src="/HtmlSite/smarts4j_n/covicore/resources/images/covision/btn_org.gif" width="25" height="21">
                    </a>
                </span>
            </td>
        </tr>
    </tbody>
</table>
<!--실 결재양식 내용 부분 끝 -->