<!--실 결재양식 내용 부분 시작 -->
<table id="tblAdd" class="table_10 tableStyle linePlus mt10" cellpadding="0" cellspacing="0">
    <colgroup>
        <col style="width: 12%">
        <col style="width: 88%">
    </colgroup>
    <tbody><tr>
        <th>목적</th>
        <td>
            <textarea data-type="mField" id="purpose" rows="6" cols="4" style="width:98%;">{{ doc.BodyContext.purpose }}</textarea>
        </td>        
    </tr>
    <tr>
        <th>사용처<br>(제출처)</th>
        <td>
            <textarea data-type="mField" id="usedPlace" rows="6" cols="4" style="width:98%;">{{ doc.BodyContext.usedPlace }}</textarea>
        </td>
    </tr>
    <tr>
        <th>비고</th>
        <td>
            <textarea data-type="mField" id="m_note" rows="6" cols="4" style="width:98%;">{{ doc.BodyContext.m_note }}</textarea>
        </td>
    </tr>
</tbody></table>

<table class="table_10 tableStyle linePlus mt10" data-mode="writeOnly">
    <colgroup>
        <col style="width:12%">
        <col style="width:12%">
        <col style="width:76%">
    </colgroup>
    <tbody><tr>
        <th rowspan="7">참고사항</th>
        <th>입력항목</th>
        <th>설명</th>
    </tr>
	<tr>
        <th>문서분류</th>
        <td>정보보안</td>
    </tr>
	<tr>
        <th>보안등급</th>
        <td>일반문서</td>
    </tr>
	<tr>
        <th>보존년한</th>
        <td>영구</td>
    </tr>
    <tr>
        <th>목적</th>
        <td>문서의 보안해제 목적을 기입하여 주십시오.<br>예) 현대자동차그룹 제안서 제출</td>
    </tr>
     <tr>
        <th>사용처<br>(제출처)</th>
        <td>문서의 사용처를 기재하여 주십시오.<br>예) 현대자동차그룹, 한국마이크로소프트</td>
    </tr>
</tbody></table>


<!--실 결재양식 내용 부분 끝 -->