<style>
#vacationForm .hidden {
	display:none !important;
}

#vacationForm table:first-child ~ table td:not(.vacationTypeWrapper) {
	padding:0px !important;
}
</style>

<input type="hidden" data-type="mField" id="VACATION_DAY"/>
<!--실 결재양식 내용 부분 시작 -->
<div class="appforms_wrap" id="vacationForm">
	<div class="appforms_cont">
		<table class="appforms_table">
		    <colgroup>
		        <col style="width:109px;" />
				<col style="width:65px;" />
				<col />
				<col />
		    </colgroup>
		    <tr>
		    	<th class="appforms_table_th">총연차</th>
		    	<td class="appforms_table_td" colspan="3">
	                <input type="text" data-type="mField" id="Sel_Year"  name="Sel_Year"  value="{{ doc.BodyContext.Sel_Year }}" style="width:30px;" readonly="readonly" />
		    		<span id="VAC_DAYS" data-type="mField">{{ doc.BodyContext.VAC_DAYS }}</span>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">잔여 연차</th>
		    	<td class="appforms_table_td" id="process_days_row_td">
		    		<span id="USE_DAYS" data-type="mField">{{ doc.BodyContext.USE_DAYS }}</span>
		    	</td>
				<th style="display:none;border-left: 1px solid #ddd;padding-left: 10px !important; " class="process_days_row appforms_table_th">승인대기</th>
				<td style="display:none;" class="process_days_row appforms_table_td">
					<span id="PRC_DAYS" data-type="mField">{{ doc.BodyContext.PRC_DAYS }}</span>
				</td>
		    </tr>
		</table>
		<!-- 휴가유형별 상세 정보 2022.08.10 Nkpark -->
		<table class="appforms_table multi-row-table RowSumTable" id="tblVacKind" style="margin-top: -1px; padding: 10px 10px 10px 10px;">
			<colgroup>
				<col style="width:95px;" />
				<col style="width:65px;" />
				<col style="width:65px;" />
				<col />
			</colgroup>
			<thead>
				<th class="appforms_table_th">휴가구분</th>
				<th class="appforms_table_th">휴가수</th>
				<th class="appforms_table_th">잔여수</th>
				<th class="appforms_table_th">기한</th>
			</thead>
			<tbody>
			</tbody>
		</table>

		<table class="appforms_table multi-row-table RowSumTable" id="tblVacInfo" style="margin-top: -1px;">
			<colgroup>
		        <col style="width:41px;" />
		        <col style="width:68px;" />
		        <col />
			</colgroup>
		    <tr class="multi-row-control" data-mode="writeOnly">
		        <td colspan="3">
					<div class="appforms_tit" data-mode="writeOnly">
						<p class="appforms_tit_tx">
							( 총  <span id="_MULTI_TOTAL_DAYS" class="appforms_tit_tx_b" data-type="mField" style="font-weight: bold; width: 30px; text-align: center;">{{ doc.BodyContext._MULTI_TOTAL_DAYS }}</span>일 )
						</p>
						<a href="#" class="multi-row-add btn_add_n ui-link">추가</a>
						<a href="#" class="multi-row-del btn_del_n ui-link">삭제</a>
					</div>
		        </td>
			</tr>
			<tr>	
		        <th scope="col" class="appforms_table_th">
		        	<label for="tblVacInfo_select_all"></label>
		            <input type="checkbox" id="tblVacInfo_select_all" class="multi-row-select-all" onchange="mobile_approval_multiRowSelectAll(this);">
		        </th>
		        <th scope="col" class="appforms_table_th" data-mode="readOnly">
		        	순번
		        </th>
				<th scope="col" class="appforms_table_th" colspan="2">
					기간
				</th>
			</tr>
			<tr class="multi-row-template">
		        <th scope="row" class="appforms_table_th" rowspan="3" class="multi-row-selector-wrap">
		        	<label for=""></label>
		            <input type="checkbox" id="" class="multi-row-selector">
		        </th>
		        <td class="appforms_table_td" rowspan="3" data-mode="readOnly" style="text-align: center; border-left:1px solid #c3d7df;">
		            <span class="multi-row-seq">1</span>
		        </td>
				<th scope="row" class="appforms_table_th">
					구분
				</th>
				<td class="appforms_table_td vacationTypeWrapper">
					<select data-type="rField" name="VACATION_TYPE" data-element-type="sel_d_t" title="구분" style="width:fit-content" onchange="initRowforVacationTypeChanged(this);" required="required"></select>
					
					<select data-type="rField" name="VACATION_OFF_TYPE" data-element-type="sel_d_t" style="width:50px;" required title="반차유형" class="hidden">
                       	<option value="0" selected>선택</option>
                       	<option value="AM">오전</option>
						<option value="PM">오후</option>
					</select>
				</td>
			</tr>
			<tr class="multi-row-template starttimeWrapper">
				<th scope="row" class="appforms_table_th">
					시작일
				</th>
				<td class="appforms_table_td">
					<input type="text" class="appforms_table_input" name="_MULTI_VACATION_SDT" data-type="rField" data-pattern="date" readonly="readonly" title="시작일" onchange="calSDATEEDATE(this);" required="required" style="width:90px;">
		            
				</td>
			</tr>
			<tr class="multi-row-template endtimeWrapper">
				<th scope="row" class="appforms_table_th">
					종료일
				</th>
				<td class="appforms_table_td">
		            <input type="text" class="appforms_table_input" name="_MULTI_VACATION_EDT" data-type="rField" data-pattern="date" readonly="readonly" title="종료일" onchange="calSDATEEDATE(this);" required="required" style="width:90px;">
                    <strong>(</strong><input type="text" name="_MULTI_DAYS" data-type="rField" style="width:30px;"  readonly="readonly"><strong><spring:message code='Cache.lbl_apv_day'/>)</strong>
		            /잔여:<span name="_MULTI_TOTAL_DAYS" title=""  data-type="rField" class="sum-table-cell">0</span><spring:message code='Cache.lbl_apv_day'/>
                    <span name="_MULTI_VAC_INDEX" title="" style="display:none;"></span>
				</td>
			</tr>
			<tr class="multi-row-template timeWrapper hidden">
				<th scope="row" class="appforms_table_th">
					시작시간
				</th>
				<td class="appforms_table_td">
		            <input type="text" name="_MULTI_VACATION_STIME" data-type="rField" readonly="" data-pattern="time" data-time-format="H:i" data-time-step="60" title="시작시간" onchange="calculateEndTimeAndSetOffType(this);" style="width:100%;" class="appforms_table_input">
				</td>
			</tr>
			<tr class="multi-row-template timeWrapper hidden">
				<th scope="row" class="appforms_table_th">
					종료시간
				</th>
				<td class="appforms_table_td">
		            <input type="text" name="_MULTI_VACATION_ETIME" data-type="rField" readonly="" data-pattern="time" data-time-format="H:i" data-time-step="60" title="종료시간" style="width:100%;" class="appforms_table_input" disabled>
				</td>
			</tr>
		</table>
		<table class="appforms_table" style="margin-top: -1px;">
		    <colgroup>
		        <col style="width:109px;" />
		        <col />
		    </colgroup>
		    <tr>
		    	<th class="appforms_table_th">비고</th>
		    	<td class="appforms_table_td" style="height: 150px;">
		    		<textarea id="VAC_REASON" class="appforms_table_textarea" data-type="mField" style="width: 100%;" rows="3" title="비고">{{ doc.BodyContext.VAC_REASON }}</textarea>
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">비상연락</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" id="NUMBER" data-type="mField" value="{{ doc.BodyContext.NUMBER }}" title="비상연락" style="width: 100%;" required="required" />
		    	</td>
		    </tr>
		    <tr>
		    	<th class="appforms_table_th">직무대행자</th>
		    	<td class="appforms_table_td">
		    		<input type="text" class="appforms_table_input" data-type="mField" id="DEPUTY_NAME" value="{{ doc.BodyContext.DEPUTY_NAME }}" title="직무대행자" required="required" readonly="readonly" style="width: 100px;">
		            <input type="hidden" data-type="mField" id="DEPUTY_CODE" value="{{ doc.BodyContext.DEPUTY_CODE }}">
		            <span data-mode="writeOnly" style="float: right;">
		            	<a onclick="javascript: OpenWinEmployee();" class="btn_add_n ui-link"></a>
		            </span>
		    	</td>
		    </tr>
		</table>
	</div>
</div>
<!--실 결재양식 내용 부분 끝 -->
