<!--실 결재양식 내용 부분 시작 -->
<input type="hidden" data-type="mField" id="FILEATTACH" value="{{ doc.BodyContext.FILEATTACH }}" />
<input type="hidden" data-type="mField" id="SummaryContent" value="{{ doc.BodyContext.SummaryContent }}" />
<br/>
<div class="buttonLine" id="buttonOut" style="height:40px; margin-bottom:-45px; display: none;" data-mode="writeOnly">
	<div style="float:right;">
		<input class="AXButton" id="btItemAdd" onclick="addTabClass();" type="button" value="[안]추가">
		<input class="AXButton" id="btItemDel" onclick="delTabClass();" type="button" value="[안]삭제">
	</div>
</div>
<div class="tabLine" style="display: none;">
	<ul class="writeTab" id="writeTab">
		<li class="on" idx="1" style="width:70px;" doctype="normal"><a onclick="javascript:changeTab(1);" style="line-height:35px;">1안</a></li>
	</ul>
</div>
<!-- <div class="buttonLine" id="buttonDist" style="height: 40px; display: none;">
	<div style="float: right;">
		<input class="AXButton" id="btDocInfoDist" onclick="OpenDocInfoPopup_Dist();" type="button" value="<spring:message code='Cache.lbl_apv_doc_infomation'/>">
	</div>
</div> -->
<div class="buttonLine" id="buttonIn" style="height:40px; display: none;">
	<div style="float:left; font-size:12px;">
		<select id="RecieveSelect" style="font-size:12px;" onChange="RecieveTypeChange()">
			<option value="In">대내문서</option>
			<!-- <option value="Out">은행수신처</option> -->
		</select>
		&nbsp;&nbsp;
		<span>발신명의 : </span>
		<select id="SenderSelect" style="font-size:12px;" onChange="SetSender(this)">
			<option value="">선택</option>
		</select>
	</div>
	<div style="float:right;">
		<input class="AXButton" id="btDocInfo" onclick="OpenDocInfoPopup();" type="button" value="<spring:message code='Cache.lbl_apv_doc_infomation'/>">
		<input class="AXButton" id="btInputHWPContent" onclick="InputHWPContentMulti();" type="button" value="<spring:message code='Cache.btn_inputHWPContent'/>">
		<input class="AXButton" id="btAttachAdd" onclick="AddFileMulti();" type="button" value="<spring:message code='Cache.btn_addfile'/>">
		<input class="AXButton" id="btDocLinkMulti" onclick="DocLink();" type="button" value="<spring:message code='Cache.btn_apv_doclink'/>">
		<!-- <input class="AXButton" id="btItemAttach" onclick="AddAttachPopup(this);" type="button" value="첨부 추가/삭제" style="display:none;"> -->
		<input class="AXButton" id="btRecieveIn" onclick="setReciever(this);" type="button" value="수신처" style="display:;">
		<input class="AXButton" id="btRecieveOut" onclick="setReciever(this);" type="button" value="은행수신처" style="display:none;">
		<input class="AXButton" id="btRecieveEtc" onclick="setReciever(this);" type="button" value="기타수신처" style="display:none;">
		<span id="spanEtcReceiver" style="display:none; margin-left:20px; font-size:13px;">
			기타 수신처 :
			<input type="text" id="etcReceiver" onkeypress="if (event.keyCode==13){ SetEtcReceiver(this); return false;}"/>
			<input class="AXButton" id="btEtcReceiver" onclick="SetEtcReceiver(document.getElementById('etcReceiver'));" type="button" value="적용">
		</span>
	</div>
</div>
	<input type="button" class="AXButton" id="btStrPreView" name="cbBTN" disabled="true" value="<spring:message code='Cache.btn_apv_preview'/>" data-mode="readOnly" style="display:none;">
	<select id="selReadType" data-mode="readOnly" onchange="changeReadType();">
		<option selected="selected" value=""><spring:message code='Cache.btn_apv_preview'/></option><!-- 미리보기 -->
		<option value="HWP"><spring:message code='Cache.btn_apv_original_view'/></option><!-- 원문보기 -->
	</select>	
<div id="ContentsLine" style="margin-top:4px; padding:4px 6px 4px 6px;vertical-align:text-top;border:1px solid #888888;">
    <!-- 에디터 시작 -->
    <div id="divWebEditorContainer1" data-element-type="editor"></div>
    <!-- 에디터 종료 -->
    <!-- 사이냅뷰어 시작 -->
    <div style="display: none;" id="hwpPreview">
		<iframe id="IframePreviewHwp" name="IframePreviewHwp" frameborder="0" width="100%" height="700px" scrolling="no"></iframe>
	</div>
    <!-- 사이냅뷰어 종료 -->
</div>
<br />
<!-- <p data-mode="writeOnly"><font color="red">※ TABLE 안에 TABLE를 넣지 마세요.</font></p> -->
<div id="formTable" style="display:none;">
	<table id="MainTable" class="table_3 tableStyle linePlus mt10" cellpadding="0" cellspacing="0" style="display: ;">
	    <tbody>
			<tr>
	        	<th style="width: 16%">기안자 사번</th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_ID" data-model="DRAFTER_ID" value="{{ doc.BodyData.MainTable.DRAFTER_ID }}" title="신청자 사번" maxlength="50" data-max-char="20" style="width: 98%;" data-binding="pre">
	        	</td>
	        	<th style="width: 16%">기안자 성명</th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_NAME" data-model="DRAFTER_NAME" value="{{ doc.BodyData.MainTable.DRAFTER_NAME }}" title="신청자 성명" maxlength="50" data-max-char="20" style="width: 98%;" data-binding="pre">
	        	</td>
	    	</tr>
	   	 	<tr>
	        	<th style="width: 16%">기안자 부서코드</th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_DEPT" data-model="DRAFTER_DEPT" value="{{ doc.BodyData.MainTable.DRAFTER_DEPT }}" title="기안자 부서코드" maxlength="50" data-max-char="50" style="width: 98%;" data-binding="pre">
	        	</td>
	        	<th style="width: 16%">기안자 부서명</th>
	        	<td>
	            	<input type="text" data-type="smField" id="DRAFTER_DEPTNM" data-model="DRAFTER_DEPTNM" value="{{ doc.BodyData.MainTable.DRAFTER_DEPTNM }}" title="기안자 부서명" maxlength="50" data-max-char="50" style="width: 98%;" data-binding="pre">
	        	</td>
	    	</tr>
		</tbody>
	</table>
	
	<table id="SubTable1" class="table_3 multi-row-table tableStyle linePlus mt10" cellspacing="0" cellpadding="0" style="display:;">
	    <tr class="multi-row-control" style="display:none;">
	    	<td colspan="5">
	    		<input type="button" id="btn_new_add" class="multi-row-add" />
	    		<input type="button" id="btn_new_del" class="multi-row-del-auto" />
	    	</td>
	    </tr>
	    <tr>
	        <th>No</th>
	        <th>문서유형</th>
	        <th>한글본문</th>
	        <th>본문HTML</th>
	        <th>수신타입</th>
	        <th>수신자</th>
	        <th>수신자</th>
	        <th>제목</th>
	        <th>첨부</th>
	        
	        <th>연결문서</th>
	        <th>문서번호</th>
	        <th>주소</th>
	        
	        <th>기록물철명</th>
	        <th>분류번호</th>
	        <th>등록구분</th>
	        <th>보존기간</th>
	        <th>보안등급</th>
	        <th>공개여부</th>
	        <th>공개제한부분표시</th>
	        <th>특수기록물</th>
	    </tr>
	    <tr class="multi-row-template">
	    	<td><span  data-type="stField" class="multi-row-seq" name="ROWSEQ">1</span></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_DOC_TYPE" value="normal" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_BODY_CONTEXT_HWP" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_BODY_CONTEXT_HTML" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVER_TYPE" value="In" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVENAMES" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIPTLIST" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_TITLE" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ATTACH_FILE" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_LINK_DOC" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ADDRESS" /></td>
	    	
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_SUBJECT" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_CLASS_NUM" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_REGIST_CHECK" value="2" /></td> <!-- 등록구분 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_KEEP_PERIOD" value="40" /></td> <!-- 보존기간 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SECURE_LEVEL" value="3" /></td> <!-- 열람범위 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_CHECK" value="1" /></td> <!-- 공개여부 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_RESTRICTION" value="" /></td> <!-- 공개제한 부분표시 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SPECIAL_RECORD" value="3" /></td> <!-- 특수기록물 -->
	    	
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_MANUAL_APV" value="N" /></td><!-- 수기결재 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ORIGINATION_CHECK" value="62" /></td><!-- 발신명의 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_originationH_Data" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_APV_VIA" /></td><!-- 경유 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVE_CHECK" value="else"  /></td><!-- 수신자 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RecText" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ReceiveNames" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ReceiveNamesR" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_Receivepaper" /></td><!-- 외부종이 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVEGOV_INFO" /></td><!-- 외부전자hidden -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVEGOV_INFO_Data" /></td><!-- 외부전자 -->
	    	
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_CHECK_rec" /></td> <!-- 공개여부5 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RELEASE_RESTRICTION_rec" /></td> <!-- 공개제한 부분표시6 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECEIVE_CHECK_rec" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_SUBJECT_rec" /></td>
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_RECORD_CLASS_NUM_rec" /></td> <!-- 기록물철코드8 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_REGIST_CHECK_rec""/></td> <!-- 등록구분9 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_KEEP_PERIOD_rec"" /></td> <!-- 보존기간3 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SECURE_LEVEL_rec"" /></td> <!-- 열람범위4 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_SPECIAL_RECORD_rec"" /></td> <!-- 특수기록물7 -->
	    	<td><input type="text" data-type="stField" style="width: 95%; height: 20px;" name="MULTI_ORIGINATION_CHECK_rec" /></td>
	    </tr>
	</table>
</div>

<table class="table_10" style="display:none">
    <tr>
        <td>
            <input type="text" data-type="mField" id="BODY_CONTEXT_HWP" value="{{ doc.BodyContext.BODY_CONTEXT_HWP }}" data-binding="pre" style=" border:0px;" readonly="readonly" />
            <input type="hidden" data-type="mField" id="GOV_BODY_CONTEXT" value="{{ doc.BodyContext.GOV_BODY_CONTEXT }}" />
            <input type="hidden" data-type="mField" id="SIGNIMAGE" value="{{ doc.BodyContext.SIGNIMAGE }}" />
            <input type="hidden" data-type="mField" id="RECEIVER_NAME" value="{{ doc.BodyContext.RECEIVER_NAME }}" />
            <input type="hidden" data-type="mField" id="RECEIVER" value="{{ doc.BodyContext.RECEIVER }}" />
            <input type="hidden" data-type="mField" id="BODY_HTML" value="{{ doc.BodyContext.BODY_HTML }}" />
            <input type="hidden" data-type="mField" id="SEND_NAME" value="{{ doc.BodyContext.SEND_NAME }}" />
            <input type="hidden" data-type="mField" id="DOCCODE" value="{{ doc.BodyContext.DOCCODE }}" />
        </td>
    </tr>
</table>
<input type="hidden" data-type="mField" id="RECEIVEGOV_NAMES" value="{{ doc.BodyContext.RECEIVEGOV_NAMES }}" onchange="setReceiveGovInfo()" />
<!--실 결재양식 내용 부분 끝 -->


