<!--실 결재양식 내용 부분 시작 -->
<input type="hidden" data-type="mField" id="FILEATTACH" value="{{ doc.BodyContext.FILEATTACH }}" />
<font style="font-size:11px;color:red; display:none;">
    ※ 전자문서로 보낼경우 반드시 대외수신처창을 클릭하여 해당창에서 수신처를 선택 하여야만 전자문서로 정상 발송됩니다.<br/>
    ※ 대외수신처창에 검색이 되지 않을경우(수신처가 전자문서를 사용하지 않을경우 검색안됨)
    전자공문으로 보내지 않을경우는 대외수신처를 직접 입력하십시요.(대외수신처창에서 검색되는 수신처만이 전자문서발송이 가능)
</font>
<table class="tableStyle linePlus mt10" data-mode="writeOnly">
    <colgroup>
        <col style="width:12%;" />
        <col style="width:15%;" />
        <col style="width:73%;" />
    </colgroup>
    <tr>
        <th rowspan="3">대외수신처</th>
        <th><!-- 대외수신처 --><span id="btGovRecDept" name="cbBTN" onclick="doButtonAction(this);"><a href="#"><em class="btn_ws_l"><span class="btn_ws_r"><strong class="txt_btn_ws">{{ doc.oLang.btn_apv_govrecdept }} 선택</strong></span></em></a></span></th>
        <td style="height:50px;">
            <span id="RECEIVEGOV_INFO" />
        </td>
    </tr>
    <tr>
        <th>직접 입력</th>
        <td>
            <input type="text" data-type="mField" id="RECEIVEGOV_TEXT" value="{{ doc.BodyContext.RECEIVEGOV_TEXT }}" style="width:99%; border:1px solid; float:left" />
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <font style="font-size:11px;color:red;">
            	※ 대외수신처 선택 버튼으로 선택한 수신처만 전자문서로 발송됩니다. (직접 입력시에는 전자문서로 발송되지 않습니다.)
            </font>
        </td>
    </tr>
    <tr>
        <th>경유</th>
        <td colspan="2"><input type="text" data-type="mField" id="via" value="{{ doc.BodyContext.via }}" style="width:98%;" /></td>
    </tr>
    <tr style="display: none;">
        <th>공개구분</th>
        <td colspan="2">
            <select title="2안 공개구분" name="PUBLICATION_1" data-type="mField" data-element-type="sel_d_v" onchange="setPubType(this.value);">
                <option value='공개'>공개</option>
                <option value='부분공개'>부분공개</option>
                <option value='비공개'>비공개</option>
            </select>
            <select title="2안 구분번호" name="PUBLICATION_2" data-type="mField" data-element-type="sel_d_v" style="display:none;">
                <option value='1등급'>1등급</option>
                <option value='2등급'>2등급</option>
                <option value='3등급'>3등급</option>
                <option value='4등급'>4등급</option>
                <option value='5등급'>5등급</option>
                <option value='6등급'>6등급</option>
                <option value='7등급'>7등급</option>
                <option value='8등급'>8등급</option>
                <option value='9등급'>9등급</option>
            </select>
        </td>
    </tr>
</table>

<table class="tableStyle linePlus mt10" data-mode="writeOnly">
    <colgroup>
        <col style="width:12%;" />
        <col style="width:38%;" />
        <col style="width:12%;" />
        <col style="width:38%;" />
    </colgroup>
    <tr>
        <th>발송처</th>
        <td>
            <select title="발송처" name="SEND_DEPT" data-type="mField" data-element-type="sel_d_t">
                <option value='106'>코비대학교</option>
                <option value='107'>학교법인코비학원</option>
                <option value='108'>코비대학교 산학협력단</option>
            </select>
            <input type="text" data-type="mField" id="INITIATOR_DEPT" value="{{ doc.BodyContext.INITIATOR_DEPT }}" style="width:99%; border:1px solid; display:none;" />
            <div data-type="mField" data-element-type="chk_d" data-node-name="CHK_OTHER_SEND_DEPT">
                <input type="checkbox" id="SEND_NAME_BOT" name="CHK_OTHER_SEND_DEPT" value="OTHER_DEPT" onclick="displayInputSend(this)"/>직접 입력
            </div>
        </td>
        <th>E-mail</th>
        <td>
            <input type="text" data-type="mField" id="INITIATOR_EMAIL" value="{{ doc.BodyContext.INITIATOR_EMAIL }}" style="width:99%; border:1px solid; float:left" />
        </td>
    </tr>
    <tr>
        <th>전화번호</th>
        <td>
            <input type="text" data-type="mField" id="INITIATOR_TEL" value="{{ doc.BodyContext.INITIATOR_TEL }}" style="width:99%; border:1px solid; float:left" />
        </td>
        <th>팩스번호</th>
        <td>
            <input type="text" data-type="mField" id="INITIATOR_FAX" value="{{ doc.BodyContext.INITIATOR_FAX }}" style="width:99%; border:1px solid; float:left" />
        </td>
    </tr>
    <tr>
        <th>우편번호</th>
        <td>
            <input type="text" data-type="mField" id="INITIATOR_ZIPCODE" value="{{ doc.BodyContext.INITIATOR_ZIPCODE }}" style="width:99%; border:1px solid; float:left" />
        </td>
        <th>주소</th>
        <td>
            <input type="text" data-type="mField" id="INITIATOR_ADDR" value="{{ doc.BodyContext.INITIATOR_ADDR }}" style="width:99%; border:1px solid; float:left" />
        </td>
    </tr>
</table>

<div style="margin-top:4px; padding:4px 6px 4px 6px;vertical-align:text-top;border:1px solid #888888;">

    <!-- 에디터 시작 -->
    <div id="divWebEditorContainer" data-element-type="editor"></div>
    <!-- 에디터 종료 -->

</div>

<p data-mode="writeOnly"><font color="red">※ TABLE 안에 TABLE를 넣지 마세요.</font></p>
<table class="tableStyle linePlus mt10" style="display:none">
    <tr>
        <td>
            <!-- <input type="text" data-type="dField" id="BodyContext_HWP" value="{{ doc.oFormData.BodyContext_HWP }}" data-model="BodyContext_HWP" data-binding="pre" style=" border:0px;" readonly="readonly" /> -->
            <input type="hidden" data-type="smField" id="GOV_BODY_CONTEXT" value="{{ doc.BodyData.MainTable.GOV_BODY_CONTEXT }}" />
            <input type="hidden" data-type="smField" id="SIGNIMAGE" value="{{ doc.BodyData.MainTable.SIGNIMAGE }}" />
            <input type="hidden" data-type="smField" id="RECEIVER_NAME" value="{{ doc.BodyData.MainTable.RECEIVER_NAME }}" />
            <input type="hidden" data-type="smField" id="RECEIVER" value="{{ doc.BodyData.MainTable.RECEIVER }}" />
            <input type="hidden" data-type="smField" id="BODY_HTML" value="{{ doc.BodyData.MainTable.BODY_HTML }}" />
            
        </td>
    </tr>
</table>
<input type="hidden" data-type="mField" id="RECEIVEGOV_NAMES" value="{{ doc.BodyContext.RECEIVEGOV_NAMES }}" onchange="setReceiveGovInfo()" />
<!--실 결재양식 내용 부분 끝 -->


