
<div id="ContentsLine" style="margin-top: 4px; padding: 4px 6px 4px 6px; vertical-align: text-top; border: 1px solid #c3d7df;">
  	<!-- 에디터 시작 -->
    <div id="divWebEditorContainer" data-element-type="editor" idx="1"></div>
  	<!-- 에디터 끝 -->
</div>

<div id="ContentsLineMobile" style="margin-top: 4px; padding: 4px 6px 4px 6px; vertical-align: text-top; border: 1px solid #c3d7df;display:none">
	<table style="width:100%;">
		<colgroup>
			<col style="width:75px;">
			<col style="width:*;">
			<col style="width:75px;">
		</colgroup>
		<tr>
			<td id="headcampaign" colspan="3" style="text-align : center; height : 21px;"></td>
		</tr>
		<tr>
			<td id="logo" style="width : 70px; height : 70px;"></td>
			<td id="organ" style="text-align : center; height : 81px; font-weight : bold; font-size : 26pt;"></td>
			<td id="symbol" style="width : 70px; height : 70px;"></td>
		</tr>
		<tr>
			<td>수신자</td>
			<td id="recipient" colspan="2" style="height : 24px;"></td>
		</tr>
		<tr>
			<td>(경유)</td>
			<td id="route" colspan="2" style="height : 24px;"></td>
		</tr>
		<tr>
			<td>제  목</td>
			<td id="doctitle" colspan="2" style="height : 24px;"></td>
		</tr>
		<tr>
			<td colspan="3" style="background-color : #808080; height : 6px;"></td>
		</tr>
		<tr>
			<td id="body" colspan="3" style="height : 500px; vertical-align : top;"></td>
		</tr>
		<tr>
			<td id="sealsign" colspan="3" style="height : 69px; background-size : 100px 60px; background-repeat : no-repeat; background-position : 80%;">
				<div id="chief" style="width:80%; text-align: center; margin: auto; font-weight : bold; font-size : 18pt; letter-spacing : 10px;"></div>
			</td>
		</tr>
		<tr>
			<td id="hrecipients"></td>
			<td id="recipients" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td colspan="3" style="background-color : #808080; height : 12px;"></td>
		</tr>
	</table>
	<table style="width:100%;">
		<colgroup>
			<col style="width:31px;">
			<col style="width:55px;">
			<col style="width:73px;">
			<col style="width:28px;">
			<col style="width:55px;">
			<col style="width:73px;">
			<col style="width:28px;">
			<col style="width:55px;">
			<col style="width:73px;">
			<col style="width:28px;">
			<col style="width:55px;">
			<col style="width:73px;">
			<col style="width:28px;">
		</colgroup>
		<tr>
			<td rowspan="4">발신</td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign" style="height : 24px;"></td>
		</tr>
		<tr>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2"></td>
			<td name="approve-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="approve-date" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign"></td>
			<td name="approve-name"></td>
			<td name="approve-sign" style="height : 24px;"></td>
		</tr>
		<tr>
			<td rowspan="4">협조</td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign" style="height : 24px;"></td>
		</tr>
		<tr>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2"></td>
			<td name="assist-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="assist-date" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign"></td>
			<td name="assist-name"></td>
			<td name="assist-sign" style="height : 24px;"></td>
		</tr>
		<tr>
			<td rowspan="4">수신</td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2" style="height : 17px;"></td>
		</tr>
		<tr>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign" style="height : 24px;"></td>
		</tr>
		<tr>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
			<td name="receive-jikwe" rowspan="2" style="text-align : center;"></td>
			<td name="receive-date" colspan="2"></td>
		</tr>
		<tr>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign"></td>
			<td name="receive-name"></td>
			<td name="receive-sign" style="height : 24px;"></td>
		</tr>
	</table>
	<table style="width:100%;">
		<colgroup>
			<col style="width:31px;">
			<col style="width:181px;">
			<col style="width:9px;">
			<col style="width:96px;">
			<col style="width:9px;">
			<col style="width:33px;">
			<col style="width:186px;">
			<col style="width:8px;">
			<col style="width:93px;">
			<col style="width:8px;">
		</colgroup>
		<tr>
			<td>시행</td>
			<td id="docnumber" style="text-align : center;"></td>
			<td>(</td>
			<td id="enforcedate" style="text-align : center;"></td>
			<td>)</td>
			<td>접수</td>
			<td id="receiptnumber" style="text-align : center;"></td>
			<td>(</td>
			<td id="receiptdate" style="text-align : center;"></td>
			<td style="height : 18px;">)</td>
		</tr>
	</table>
	<table style="width:100%;">
		<colgroup>
			<col style="width:20px;">
			<col style="width:62px;">
			<col style="width:435px;">
			<col style="width:10px;">
			<col style="width:127px;">
		</colgroup>
		<tr>
			<td>우</td>
			<td id="zipcode"></td>
			<td id="address"></td>
			<td>/</td>
			<td id="homepage" style="height : 18px;"></td>
		</tr>
	</table>
	<table style="width:100%;">
		<colgroup>
			<col style="width:31px;">
			<col style="width:132px;">
			<col style="width:33px;">
			<col style="width:130px;">
			<col style="width:18px;">
			<col style="width:224px;">
			<col style="width:10px;">
			<col style="width:82px;">
		</colgroup>
		<tr>
			<td>전화</td>
			<td id="telephone"></td>
			<td>전송</td>
			<td id="fax"></td>
			<td>/</td>
			<td id="email"></td>
			<td>/</td>
			<td id="publication" style="height : 18px;"></td>
		</tr>
		<tr>
			<td id="footcampaign" colspan="8" style="height : 18px; text-align : center;"></td>
		</tr>
	</table>
</div>

<input type="hidden" data-type="mField" id="BODY_CONTEXT_HWP" value="{{ doc.BodyContext.BODY_CONTEXT_HWP }}" data-binding="pre" readonly="readonly" />