
<div id="bodytable_content"><table class="table_3 tableStyle linePlus mt10" cellpadding="0" cellspacing="0" >
       <colgroup>
         <col style="width: 12%">
       </colgroup>
       <tbody><tr>
            <th>부서</th>
            <td style="height: 25px;">
              <div id="spanAPPLICANT_UNIT_NAME" style="font-weight: bold;"></div>
			<input type="text" data-type="mField" id="APPLICANT_UNIT_NAME" value="{{ doc.BodyContext.APPLICANT_UNIT_NAME }}" style="width: 100%; height: 20px;">
        		<input type="hidden" data-type="mField"  id="APPLICANT_UNIT_CODE" value="{{ doc.BodyContext.APPLICANT_UNIT_CODE }}" style="width: 100%; height: 20px;">
    		</td>
       </tr>
       <tr>
           <th>직위</th>
           <td style="height: 25px;">
            <div id="spanAPPLICANT_POSITION_NAME" style="font-weight: bold;"></div>
			<input type="text" data-type="mField" id="APPLICANT_POSITION_NAME" value="{{ doc.BodyContext.APPLICANT_POSITION_NAME }}" style="width: 100%; height: 20px;">
            <input type="hidden" data-type="mField"  id="APPLICANT_POSITION_CODE" value="{{ doc.BodyContext.APPLICANT_POSITION_CODE }}" style="width: 100%; height: 20px;">
        </td>
       </tr>
       <tr>
           <th>성명</th>
           <td style="height: 25px;">
               <div id="spanAPPLICANT_PERSON_NAME" style="font-weight: bold;"></div>
			<input type="text" data-type="mField"  id="APPLICANT_PERSON_NAME" value="{{ doc.BodyContext.APPLICANT_PERSON_NAME }}" style="width: 100%; height: 20px;">
            <input type="hidden" data-type="mField"  id="APPLICANT_PERSON_CODE" value="{{ doc.BodyContext.APPLICANT_PERSON_CODE }}" style="width: 100%; height: 20px;">
           </td>
       </tr> 
       <tr>
           <th>휴가종류</th>
           <td style="height: 25px; font-weight: bold;">
            <!-- web service 호출 구현 필요 -->
            <select data-type="mField" data-element-type="sel_d_t" id="SEL_VACATION_CODE">
                <option value="" selected="">선택하세요</option>
                <option value="00">연차</option>
                <option value="01">경조</option>
                <option value="02">반차</option>
                <option value="03">기타</option>
            </select>
        </td>
       </tr>
       <tr>
           <th>휴가기간</th>
           <td style="height: 25px;">
               <input type="text" data-type="mField"  id="SDATE" value="{{ doc.BodyContext.SDATE }}" required="True" style="width: 15%; vertical-align: middle; cursor: pointer; text-align: center;" readonly="readonly"> 
               ~ 
               <input type="text" id="mField" name="EDATE" value="{{ doc.BodyContext.EDATE }}" required="True" style="width: 15%; vertical-align: middle; cursor: pointer; text-align: center;" readonly="readonly">&nbsp;
               <input type="hidden" data-type="mField" id="NIGHTS" value="{{ doc.BodyContext.NIGHTS }}">
               <input type="text" data-type="mField"  id="DAYS" value="{{ doc.BodyContext.DAYS }}" style="width: 4%; height: 20px; text-align: center;"><b>일</b>
        </td>
    	</tr>
    	<tr>
           <th>사유</th>
           <td style="height: 25px;">
            <input type="text" data-type="mField"  id="VACATION_TEXT" value="{{ doc.BodyContext.VACATION_TEXT }}" style="width: 100%; height: 20px;">
       	   </td>
   		</tr>
   		<tr>
           <th>비고</th>
           <td valign="top" style="height: 60px;">
            <textarea data-type="mField"  id="bigo" style="width: 98%; height: 95%; font-weight: bold; overflow-y: auto; overflow-x: hidden;">{{ doc.BodyContext.bigo }}</textarea>
       		</td>
    	</tr>
   </tbody></table></div>
	