@charset "utf-8";
/* CSS Document */
.AXTabsTray {height:37px; border-bottom:1px solid #222;}
.AXTabsLarge .AXTabsTray .AXTab.on {border-top: 3px solid #419de8; color:#222; border-left:1px solid #222 !important;}
.AXTabsLarge .AXTabsTray .on span {color:#ff5448; margin-left:3px;}
.AXTab {background:#fff !important; padding-left:15px !important; padding-right:15px !important;}
.AXTab:hover {background:#fff !important; color:#222 !important;}
/* 텝디자인 */
.tabDesign {
	border-bottom:1px solid #e2e4ea;
	height:40px;
}
.tabDesign li {
	float:left;
	list-style:none;
}
.tabDesign li a {
	display:block;
	border-bottom:1px solid #e2e4ea;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:14px;
	color:#a3a3a3;
	padding:0 12px;
}
.tabDesign li.tabOn a {
	border-bottom:3px solid #44bdf8;
	height:38px;
	line-height:38px;
	color:#222;
	font-weight:bold;
	background:#fff;
}
.tabDesign li a:hover {
	color:#222;
}
/* 결재선지정 */
.appProList {/*padding:10px 0;*/}
.appProList li {
	padding:16px 10px 8px 10px; 
	float:left; 
	text-align:center; 
	font-size:12px;
	color:#555555;
	background:url(//192.168.11.126:8080/covicore/resources/images/theme/arrow_process.png) no-repeat 0px 82px;}
.lineApp {background:url(//192.168.11.126:8080/covicore/resources/images/theme/arrow_process02.png) no-repeat left 82px !important; padding-left:13px !important;}
.lineApp02 {background:url(//192.168.11.126:8080/covicore/resources/images/theme/arrow_process03.png) no-repeat -3px 82px !important;}
.appProList li:first-child {background:none;}
.appProList li dl dd {margin-left:0; padding-top:6px; width:80px; text-align:center;}
.appProList dl {margin-bottom:6px;}
.proBorder {position:relative; border:1px solid #ddd; display:inline-block; padding:0 14px; margin-left:10px;}
.cirNum {position:absolute; border-radius:50%; width:21px; height:18px; padding-top:3px; top:-7px; left:-10px; text-align:center; display:inline-block; background:#43a8fa; color:#fff;}
.proBorder dl {float:left;}
.proBorder dl:last-child {padding-right:0 !important;}
.proBorder dt:last-child {background:none !important;}
.nextArr {background:url(//192.168.11.126:8080/covicore/resources/images/theme/arrow_process.png) no-repeat 7px 23px; padding-left:20px;}
.proDate {font-size:11px; color:#999; clear:both; margin-top:-4px;}
.titRoun{
	display:block;
	outline:0;
	height:20px; 
	color:#fff;
	background:#5a667a;
	padding:1px 7px 1px 7px; 
	border-radius:3px;
	line-height:21px;
	text-align:center;
	vertical-align:middle;
	box-sizing:content-box;
	margin-bottom:10px;}
.proTitGry {background:url(//192.168.11.126:8080/covicore/resources/images/theme/point_gry.png) 50% 21px no-repeat !important; display:inline-block; margin:10px 0 6px 0;}
.titBRoun{
	display:block;
	outline:0;
	height:20px; 
	color:#fff;
	background:#419de8;
	padding:1px 7px 1px 7px; 
	border-radius:3px;
	line-height:20px;
	text-align:center;
	vertical-align:middle;
	box-sizing:content-box;
	margin-bottom:10px;}
.proTitBlue {background:url(//192.168.11.126:8080/covicore/resources/images/theme/point_blue.png) 50% 21px no-repeat !important; margin:10px 0 6px 0;}
.icnOk {position:relative;}
.icnNon {position:relative;}
.cirOk {position:absolute; text-indent:-20000px; display:inline-block; width:24px; height:24px; background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -3px -601px !important; margin:0 0 0 -14px}
.cirOkFull {position:absolute; text-indent:-20000px; display:inline-block; width:24px; height:24px; background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -250px -601px !important; margin:0 0 0 -14px}
.cirNon {position:absolute; text-indent:-20000px; display:inline-block; width:24px; height:24px; background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -3px -532px !important; margin:0 0 0 -14px}
.cirNonFull {position:absolute; text-indent:-20000px; display:inline-block; width:24px; height:24px; background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -124px -601px !important; margin:0 0 0 -14px}
.proDD {margin-left:-20px !important;}
.proDD dt { background:none !important;}
.icnOk dd {margin-left:20px !important;}
.AXButton {text-indent:0; background:#fff !important; border:1px solid #c6c6c6; color:#444; min-width:54px; height:26px; padding:0px 4px 2px 4px; border-radius:3px;}
.AXButton:hover{border:1px solid #777; color:#222 !important; background:#fff !important;}
.smButton {
	display:inline-block;
	position:relative;
	background:#fff !important; 
	outline:0;
	border:1px solid #c6c6c6; 
	color:#444; 
	min-width:30px; 
	height:26px; 
	padding:1px 5px 0px 5px; 
	border-radius:3px;
	font-size:13px;
	line-height:26px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	box-sizing:content-box;}
.smButton:hover{
	border:1px solid #777; 
	color:#222 !important; 
	background:#fff !important;}
.blBtn {
	display:inline-block;
	position:relative;	
	height:26px; 
	margin:0;
	padding:0px 4px 2px 4px;
	background:#419de8; 
	border:1px solid #419de8; 
	color:#fff; 
	border-radius:3px;
	outline:0;
	font-size:13px;
	line-height:26px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	box-sizing:content-box;
	min-width:54px; }
.blBtn:hover{border:1px solid #419de8; color:#fff !important; background:#2488d9 !important;}
.ooBtn {
	display:inline-block;
	position:relative;	
	height:26px; 
	margin:0;
	padding:3px 6px 4px 6px;
	background:#419de8; 
	border:1px solid #419de8; 
	color:#fff; 
	border-radius:3px;
	outline:0;
	font-size:13px;
	line-height:26px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	box-sizing:content-box;
	min-width:54px; }
.ooBtn:hover{border:1px solid #419de8; color:#fff !important; background:#2488d9 !important;}
.gryBtn {
	display:inline-block;
	position:relative;	
	height:26px; 
	margin:0;
	padding:3px 6px 4px 6px;
	background:#949fa8; 
	border:1px solid #949fa8; 
	color:#fff; 
	border-radius:3px;
	outline:0;
	font-size:13px;
	line-height:26px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	box-sizing:content-box;
	min-width:54px; }
.gryBtn:hover{border:1px solid #848e96; color:#fff !important; background:#848e96 !important;}
.emerBtn {
	display:inline-block;
	position:relative;	
	height:17px; 
	margin:0 6px 0 0;
	padding:3px 8px 0px 8px;
	background:#f55f55; 
	color:#fff; 
	border-radius:2px;
	outline:0;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
	box-sizing:content-box;}
.usaBtn {
	display:inline-block;
	position:relative;	
	height:17px; 
	margin:0;
	padding:3px 6px 0px 6px;
	background:#fff; 
	border:1px solid #cbd4d9;
	color:#888888; 
	border-radius:2px;
	outline:0;
	font-size:11px;
	text-align:center;
	vertical-align:middle;
	box-sizing:content-box;}
.opBtn_02 {
	display:inline-block; 
	position:relative; 
	height:24px; 
	margin:0; 
	padding:1px 20px 3px 8px; 
	border:1px solid #c6c6c6; 
	border-radius:3px; 
	outline:0; 
	color:#444444; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +27px -118px !important;}
.opBtn_02:hover {
	border:1px solid #777; 
	color:#222 !important; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +27px -118px !important;}
.opBtn_02.on {
	border:1px solid #566472; 
	color:#fff !important; 
	background:#566472 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +27px -96px !important;}
.opBtn_02.on:hover {
	color:#fff !important;
	background:#404b55 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +27px -96px !important;}
.opBtn_03 {
	text-indent:0;
	display:inline-block; 
	position:relative; 
	height:24px; margin:0; 
	padding:0px 20px 4px 8px; 
	border:1px solid #c6c6c6; 
	border-radius:3px; 
	outline:0; 
	color:#444444; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +40px -118px !important;}
.opBtn_03:hover {
	border:1px solid #777; 
	color:#222 !important; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +40px -118px !important;}
.opBtn_03.on {
	border:1px solid #566472; 
	color:#fff !important; 
	background:#566472 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +40px -96px !important;}
.opBtn_03.on:hover {
	color:#fff !important;
	background:#404b55 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +40px -96px !important;}
.opBtn_04 {
	display:inline-block; 
	position:relative; 
	height:24px; margin:0; 
	padding:1px 20px 3px 8px; 
	border:1px solid #c6c6c6; 
	border-radius:3px; 
	outline:0; 
	color:#444444; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +51px -118px !important;}
.opBtn_04:hover {
	border:1px solid #777; 
	color:#222 !important; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +51px -118px !important;}
.opBtn_04.on {
	border:1px solid #566472; 
	color:#fff !important; 
	background:#566472 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +51px -96px !important;}
.opBtn_04.on:hover {
	color:#fff !important;
	background:#404b55 url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +51px -96px !important;}
.searchArea {
	position:absolute;
	width:20px;
	height:20px;}
.searchBArea {
	position:absolute;
	width:20px;
	height:20px;}
.searchImgGry {
	display:inline-block;
	background: url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -10px -168px !important; 
	line-height:18px;
	margin: 0 0 0 -24px;
	text-indent:-20000px;
	width:24px;
	height:20px;}
.searchImgBlue {
	display:inline-block;
	background: url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -10px -208px !important; 
	line-height:18px;
	margin: 0 0 0 -24px;
	text-indent:-20000px;
	width:24px;
	height:20px;}
.searchGry {
	display:block;
	overflow:hidden;	
	position:absolute;
	background: url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -10px -169px !important; 
	width:20px;
	height:20px;
	text-indent:-2000px;}
.searchBlue {
	display:block;
	overflow:hidden;	
	position:absolute;
	background: url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -10px -210px !important; 
	width:20px;
	height:20px;
	text-indent:-2000px;}

.searchBgBlue {	
	width:254px;
	height:20px !important;}
.searchOuto {
	position:absolute;
	width:262px;
	left:295px; 
	border:1px solid #c6c6c6;	
	background:#fff;
	margin-top:-1px;
	z-index:20;}
.searchOuto a {
	display:block; 
	font-size:13px;
	color:#555;
	height:24px; 
	line-height:24px; 
	padding:3px 14px;}
.searchOuto a:hover {background:#f8f8f8;}
.searchOuto a span {color:#419de8;}
.searchBB {
	display:inline-block; 
	position:relative; 
	width:60px;
	height:44px;
	margin:0; 
	padding:16px 0px 0px 16px; 
	border:1px solid #4396da; 
	border-radius:3px; 
	outline:0; 
	color:#4397dd; 
	font-size:15px; 
	font-weight:bold;
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat 37px -189px !important;}
.searchBB:hover {
	border:1px solid #0057a0; box-shadow:1px 1px 1px #ddd;}
.btnOk {
	display:inline-block; 
	position:relative; 
	height:24px; margin:0; 
	padding:1px 15px 3px 33px; 
	border:1px solid #4497dc; 
	border-radius:3px; 
	outline:0; 
	color:#2885d3; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -446px -281px !important;}
.btnOk:hover {
	border:1px solid #003f74; color:#003f74; box-shadow:1px 1px 1px #ddd;}
.btnReturn {
	display:inline-block; 
	position:relative; 
	height:24px; margin:0; 
	padding:1px 15px 3px 33px; 
	border:1px solid #8c99a7; 
	border-radius:3px; 
	outline:0; 
	color:#5e6771; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -446px -242px !important;}
.btnReturn:hover {
	border:1px solid #333; color:#222; box-shadow:1px 1px 1px #ddd;}
.checkBox {margin-left:-40px;}
.checkBox li {line-height:24px; list-style:none;}
.checkBox li a {padding-right:6px;}
.checkBox li a img {margin-bottom:-3px;}
.btn_send {
	display:inline-block; 
	position:relative; 
	height:24px;
	width:49px;
	padding:1px 27px 3px 7px; 
	border:1px solid #c6c6c6; 
	border-radius:3px; 
	outline:0; 
	color:#444444; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	margin-bottom:3px;
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -397px -156px !important;}
.btn_send:hover {
	border:1px solid #777; 
	color:#222 !important;}
/*
.appBtnSend a:last-child {margin-left:-3px !important;}
*/
.btnSelect {
	display:inline-block; 
	position:relative; 
	height:24px;
	margin-right:-1px;
	padding:1px 14px 3px 8px; 
	border:1px solid #c6c6c6; 
	border-radius:3px 0 0 3px; 
	outline:0; 
	color:#444444; 
	font-size:13px; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:#fff url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat +50px -238px !important;}
.btnSelect:hover {
	border:1px solid #777; 
	color:#222 !important;}
.sendArrow {
	text-indent:-20000px !important;
	display:inline-block; 
	position:relative; 
	width:21px;
	height:28px; margin:0; 
	border-top:1px solid #c6c6c6; 
	border-right:1px solid #c6c6c6; 
	border-bottom:1px solid #c6c6c6; 
	border-radius:0 3px 3px 0; 
	outline:0; 
	line-height:26px; 
	vertical-align:middle; 
	cursor:pointer; 
	box-sizing:content-box; 
	background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -460px -156px;}
.sendArrow:hover {
	border-top:1px solid #777;
	border-right:1px solid #777;
	border-bottom:1px solid #777; 
	color:#222 !important;}
.select_list {	 
	position:absolute;	
	width:91px;
	border:1px solid #c6c6c6;
	background:#fff;
	left:8px;
	z-index:110;
	margin-top:-1px;}
.select_list li {
	padding:2px 10px;
	margin-left:0px;
	display:block;
	text-align:left;
	line-height:24px;}
.select_list li:hover {
	background:#6f7888;
	color:#fff;}
.menu_more li {
	padding:2px 10px;
	display:block;
	line-height:24px;}
.menu_more li.first{margin-top:-28px !important;}
.menu_more li:hover {
	background:#419de8;
	color:#fff;}
.menu_more span {background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -160px -200px; position:relative; left:35px; top:-19px; text-indent:-20000px; display:block;}
.layer_divpop .divpop_header {background:#3a4450 !important;}
.layer_divpop .divpop_header_ico {background:url(//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png) no-repeat -460px -206px !important;}
.divpop_window {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -17px -10px !important;}
.divpop_window:hover {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -153px -10px !important;}
.divpop_full {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -51px -10px;}
.divpop_full:hover {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -187px -10px;}
.divpop_mini {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -85px -10px;}
.divpop_mini:hover {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -221px -10px;}
.divpop_close {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -119px -10px;}
.divpop_close:hover {background:url(//192.168.11.126:8080/covicore/resources/images/theme/ico_pop.png) no-repeat -255px -10px;}
/* 페이징 */
.pageing {	
	text-align:center;
	overflow:hidden;
	margin:20px 0;
}
.pageing a {
	display:inline-block;
	width:26px;
	line-height:26px;	
	text-align:center;		
	border:1px solid #fff;
	font-size:12px;
	margin-left:-2px;
	color:#646464;
}

.pageing a:hover {
	background:#f9f9f9;
	border: 1px solid #ddd;
}
.pageing a.selected { 
	background:#fff;
	border:1px solid #419de8;
	color:#419de8;
	font-weight:bold;
}
.pageing a.selected:hover {border:1px solid #005fad; background:#f9f9f9;}
.leftMove { 
	background:url("//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png") no-repeat -89px -81px !important; 
	margin-right:8px !important;
	border:1px solid #cdcdcd !important;
}
.leftEnd { 
	background:url("//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png") no-repeat -61px -81px !important;
	border:1px solid #cdcdcd !important;
}
.rightMove { 
	background:url("//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png") no-repeat -118px -81px !important; 
	border:1px solid #cdcdcd !important;
	margin-left:8px !important;
}
.rightEnd { 
	background:url("//192.168.11.126:8080/covicore/resources/images/theme/icn_png.png") no-repeat -150px -81px !important; 
	border:1px solid #cdcdcd !important;
}
.leftMove:hover {border:1px solid #a8a8a8 !important;}
.leftEnd:hover {border:1px solid #a8a8a8 !important;}
.rightMove:hover {border:1px solid #a8a8a8 !important;}
.rightEnd:hover {border:1px solid #a8a8a8 !important;}

/* 1227 추가 */
/*수정*/.menu_more {position:absolute; border:1px solid #c6c6c6; border-radius:3px;	box-shadow:1px 1px 5px #ddd; font-size:12px; color:#666; width:100px; right:0px; background:#fff; text-align:left;}


