.mce-item-table.covi_layout ,
.mce-item-table.covi_layout td,
.mce-item-table.covi_layout th,
.mce-item-table.covi_layout caption {
  border: 1px dotted #bbb;
}

*::-ms-backdrop,
.mce-content-body td[data-mce-selected],
.mce-content-body th[data-mce-selected] {
  overflow: hidden;
}

*::-ms-backdrop,
.mce-content-body td[data-mce-selected]::after,
.mce-content-body th[data-mce-selected]::after {
  height: 999em;
}

.mce-content-body img::-moz-selection {
  background: #b3d4fc;
}
.mce-content-body img::selection {
  background: #b3d4fc;
}