.adminLeftTitle {list-style:none;margin:0px; padding:0px;float:left;width:100%;background:#3e4558;
				display:block;_display:inline-block;
                 color:#fff;text-decoration:none;
                 height:40px;line-height:40px;font-family:'맑은 고딕';
				}

     .adminLeftMenu ul{list-style:none;margin:0px; padding:0px;}
     .adminLeftMenu ul li{list-style:none;margin:0px; padding:0px;float:left;width:100%}

         .adminLeftMenu .leftmenu_normal{color:#fff;position:relative;font-size:14px}
             .adminLeftMenu .leftmenu_normal a{
                 display:block;_display:inline-block;
                 color:#fff;text-decoration:none;
                 height:30px;line-height:30px;font-family:'맑은 고딕';
                 padding:0px 10px;background:#9197a4;
             }
             .adminLeftMenu .leftmenu_normal a:hover{background:#3e4558;}
             .adminLeftMenu .leftmenu_normal a:focus{background:#3e4558;}
             .adminLeftMenu .leftmenu_normal a.on{background:#3e4558;}
             
         .adminLeftMenu .leftmenu_child{color:#fff;position:relative;font-size:13px}
             .adminLeftMenu .leftmenu_child a{
                 display:block;_display:inline-block;
                 color:#fff;text-decoration:none;
                 height:25px;line-height:25px;font-family:'맑은 고딕';
                 padding:0px 10px;background:#a8a8ff;
                 
                 padding-left:25px;
             }
             .adminLeftMenu .leftmenu_child a:hover{background:#3e4558;}
             .adminLeftMenu .leftmenu_child a:focus{background:#3e4558;}
             .adminLeftMenu .leftmenu_child a.on{background:#3e4558;}

         .AXMenuBox .childMenu{position:absolute;line-height:25px;font-size:12px;display:none;}
             .AXMenuBox .childMenu ul{
                 background:#ebebeb;border:1px solid #ccc;border-radius:5px;
                 padding:3px; margin:0px;display:block;position:relative;
                 box-shadow:0px 0px 3px #ccc;
                 }
                 .AXMenuBox .childMenu ul li{float:none;padding:0px; margin:0px;border-bottom:1px solid #ebebeb;}
                     .AXMenuBox .childMenu ul li a{
                         display:block;_width:100%;
                         padding:0px 10px;
                         height:30px;line-height:30px;
                         background:#424a5c;
                         border-radius:3px;
                         color:#fff; text-decoration: none;white-space:nowrap;
                         }
                     .AXMenuBox .childMenu ul li a:hover{background:#9197a4;}

                     .AXMenuBox .childMenu ul li a.on{background:#9197a4;}
                     .AXMenuBox .childMenu ul li a.expand{background-image:url(images/rightArrows.png);background-repeat:no-repeat;background-position:100% 0px;padding-right:30px;}
                     .AXMenuBox .childMenu ul li a.expand:hover{background-image:url(images/rightArrows.png);background-repeat:no-repeat;background-position:100% -30px;padding-right:30px;}

         .AXMenuBox .childsMenu{position:absolute;line-height:20px;font-size:12px;}
             .AXMenuBox .childsMenu ul{background:#ebebeb;border:1px solid #ccc;padding:3px; margin:0px;}
                 .AXMenuBox .childsMenu ul li{float:none;padding:0px; margin:0px;border-bottom:1px solid #ebebeb;}
                     .AXMenuBox .childsMenu ul li a{}

     .clear{clear:both;}