.varrow1 	{position:absolute;background: transparent url('images/allow_menu1.gif') no-repeat;width:19px;height:10px;z-index:2;_margin-top:4px;}
     .varrow2 	{position:absolute;background: transparent url('images/allow_menu2.gif') no-repeat;width:19px;height:10px;z-index:2;_margin-top:4px;}
     .harrow 	{position:absolute;background: transparent url('images/allow_menu3.gif') no-repeat;width:9px;height:13px;z-index:2;}

     .AXMenuBox{position:relative;background: #3e4558;height:50px;line-height:50px;padding:0px 20px;min-width:700px;}
     .AXMenuBox a{
         transition-delay:0s;
         transition-timing-function:ease;
         transition-duration:0.3s;
         transition-property:all;
     }
     .AXMenuBox ul{list-style:none;margin:0px; padding:0px;}
     .AXMenuBox ul li{list-style:none;margin:0px; padding:0px;float:left;padding-left:10px}

         .AXMenuBox .parentMenu{color:#fff;position:relative;font-size:16px}
             .AXMenuBox .parentMenu a{
                 display:block;_display:inline-block;
                 color:#fff;text-decoration:none;
                 height:50px;line-height:50px;font-family:'맑은 고딕';
                 padding:0px 10px;
             }
             .AXMenuBox .parentMenu a:hover{background:#9197a4;}
             .AXMenuBox .parentMenu a:focus{background:#9197a4;}
             .AXMenuBox .parentMenu a.on{background:#9197a4;}

         .AXMenuBox .childMenu{position:absolute;line-height:25px;font-size:12px;display:none;z-index:10000;}
             .AXMenuBox .childMenu ul{
                 background:#ebebeb;border:1px solid #ccc;border-radius:5px;
                 padding:3px; margin:0px;display:block;position:relative;
                 box-shadow:0px 0px 3px #ccc;
                 }
                 .AXMenuBox .childMenu ul li{float:none;padding:0px; margin:0px;border-bottom:1px solid #ebebeb;}
                     .AXMenuBox .childMenu ul li a{
                         display:block;_width:100%;
                         padding:0px 10px;
                         height:30px;line-height:30px;
                         background:#424a5c;
                         border-radius:3px;
                         color:#fff; text-decoration: none;white-space:nowrap;
                         }
                     .AXMenuBox .childMenu ul li a:hover{background:#9197a4;}

                     .AXMenuBox .childMenu ul li a.on{background:#9197a4;}
                     .AXMenuBox .childMenu ul li a.expand{background-image:url(images/rightArrows.png);background-repeat:no-repeat;background-position:100% 0px;padding-right:30px;}
                     .AXMenuBox .childMenu ul li a.expand:hover{background-image:url(images/rightArrows.png);background-repeat:no-repeat;background-position:100% -30px;padding-right:30px;}

         .AXMenuBox .childsMenu{position:absolute;line-height:20px;font-size:12px;}
             .AXMenuBox .childsMenu ul{background:#ebebeb;border:1px solid #ccc;padding:3px; margin:0px;}
                 .AXMenuBox .childsMenu ul li{float:none;padding:0px; margin:0px;border-bottom:1px solid #ebebeb;}
                     .AXMenuBox .childsMenu ul li a{}

     .clear{clear:both;}