@charset "utf-8";
/********************************************************************
Covision UXD team
  - Name : 장대근
  - Deta : 2012.04.03
 ********************************************************************/
 
/* 정해진 사이즈에서 멈춤 */
* html #fix_wrap, 
* html #fix_conts {height:1px; }
.fix_wrap {height:100%; min-width:710px; margin:0 auto; _margin-left:710px;/*ie6*/ }
.fix_conts {height:100%;  _margin-left:-710px;/*ie6*/ }

/* 공통 제어 시작 */
html,body{margin:0;padding:0;color:#746C67;font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; background-color:#ffffff; vertical-align:middle;}
html,body,div,ul,li,dl,dt,dd,ol,p,h1,h2,h3,h4,h5,h6,form {margin:0;padding:0;font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif;color:#222222; vertical-align:middle;}
/*body {background:url(/smarts4j/resources/images/covision/logon/logon_bg.gif) repeat-x left 6px;}*/
form{ width:100%; height:100%;}
ul,ol,dl {list-style:none}
img {border:0; vertical-align:middle;}
/*html, body {width:100%; height:100%; min-height:690px;}*/
a {font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif;color:#222222;text-decoration:none;}
a:hover {font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; color:#000000; text-decoration:none;}
.png24 {tmp:expression(CFN_SetPNGTransform(this));}

/*.frame h1{ position:absolute; top:0; left:0; padding:0px; margin-top:-55px;}*/
/*.frame {background:url(/smarts4j/resources/images/covision/logon/bg_login.jpg) no-repeat; text-align:center; width:846px; height:574px; position:absolute; top:100px; left:50%; margin-left:-420px;}*/
.box{width:292px;height:92px; margin:244px 0 0 390px; padding:13px 11px 7px 12px;}
.txt_copyright{font-size:11px; color:#757383; line-height:40px;}
.copyright{position:absolute; bottom:5px; left:341px; width:315px; margin-bottom:-10px;}
.txt_company{font-size:11px; color:#9c9ba4; line-height:40px; font-weight:bold;}

.login_input{font:normal 14px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; font-size:14px; font-weight:bold; width:303px; height:30px; line-height:30px; color:#222222; background-color:#f7f7f7; border:0; margin:0 0 7px 0; padding:0 0 0 5px;}
.login_input_hidden{ display:none;}
.box_login{float:left;}

/* 로그인 버튼 */
/*.box_login em.btn_bs_l{float:left; display:block; width:77px; height:67px; margin-top:0; background:url(/smarts4j/resources/images/covision/logon/btn_login.gif) no-repeat left top; font-style:normal; cursor:pointer;  }*/
.box_login span.btn_bs_r{}
.box_login .txt_btn_bs {display:none; font-size:12px; color:#fff; line-height:23px; font-weight:bold;}
.l01{position:absolute; bottom:105px; right:136px;}
.l02{position:absolute; bottom:78px; right:393px;}
.l03{position:absolute; bottom:112px; right:53px; width:77px;}
.checkbox{display:block; float:left; height:20px; line-height:20px;}
.txt_id {display:block; float:left; height:20px; line-height:20px; color:#ffffff;}
.txt_id input[type=checkbox] {margin:0 !important;}

/* Select > 공통 */
.select {position:absolute; bottom:79px; right:53px; font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; font-size:12px; color:#222222; width:77px; float:left; line-height:normal; display:inline-block; vertical-align:middle; background:#fff; *zoom:1;}
.select select {width:77px !important;}
.select *{font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; font-size:12px; color:#222222; margin:0; padding:0; cursor:pointer;}
.select .myValue{ position:relative; z-index:1; left:0; top:0; border:1px solid #d4d4d4; color:#666; line-height:19px; _line-height:normal; text-align:left; overflow:visible; background:transparent;}
.select button.myValue{font:normal 12px dotum,'돋움',Apple-Gothic,맑은 고딕, Malgun Gothic,sans-serif; color:#222222; height:22px; width:100%; text-indent:5px; *text-indent:0;/*ie7*/ *padding-left:5px;/*ie7*/ padding-top:3px;}
.select .ctrl{position:absolute; top:0; right:0; width:18px; height:20px; border:1px solid #bababa; border-left:1px solid #eaeaea; background:#fff;}
.select .arrow{position:absolute; width:0; height:0; top:9px; right:6px; line-height:0; font-size:0; border-top:3px solid #999; border-left:3px solid #fff; border-right:3px solid #fff;}
/*.line{background:url(/smarts4j/resources/images/covision/logon/line_login.gif) repeat-x;height:1px; margin-top:91px; *margin-top:78px;/*ie7*/ _margin-top:-19px;/*ie6*/ display:block;}*/

.aList2 {background-color:#FFF; text-align:left; width:83px; border:solid 1px #bfbfbf;  position:absolute; *position:relative;/*ie7*/ _position:absolute;/*ie6*/  margin:26px 0 0 207px; *margin:-1px 0 0 207px;/*ie7*/ _margin:11px 0 0 104px;/*ie6*/}
.aList2 li a{font-size:12px;background-color:#FFFFFF; display:block; line-height:14px; vertical-align:middle; _height:1%;/*ie6*/ padding:5px; }
.aList2 li a:hover{font-size:12px; background-color:#f2f2f2; display:block; line-height:14px;  vertical-align:middle;  padding:5px;}

.layer_alert .img_align {margin:0 !important;}
.layer_alert em.btn_bs_l{white-space:nowrap; float:left; height:27px !important; text-align:center; background:url(/smarts4j/resources/images/covision/common/Btn/btn_bs.gif) no-repeat 0 0; font-style:normal; cursor:pointer; margin:0 2px 0 2px; padding:0 0 0 5px;}
.layer_alert em.btn_ws_l{white-space:nowrap; float:left; height:27px !important; text-align:center; background:url(/smarts4j/resources/images/covision/common/Btn/btn_ws.gif) no-repeat 0 0; font-style:normal; cursor:pointer; margin:0 2px 0 2px; padding:0 0 0 5px;}
.layer_alert span.btn_bs_r{white-space:nowrap; float:left; height:27px !important; line-height:27px !important; margin-left:1px; background:url(/smarts4j/resources/images/covision/common/Btn/btn_bs.gif) no-repeat right; cursor:pointer; padding-right:1px; padding:0 5px 0 0;}
.layer_alert span.btn_ws_r{white-space:nowrap; float:left; height:27px !important; line-height:27px !important; margin-left:1px; background:url(/smarts4j/resources/images/covision/common/Btn/btn_ws.gif) no-repeat right; cursor:pointer; padding-right:1px; padding:0 5px 0 0;}

.layer_alert .alert_header {padding-left:8px !important; background:#222222 !important; color:#ffffff !important; height:40px !important; line-height:38px !important;}
.layer_alert .alert_header .txt_gn11 {color:#cccccc !important;}
.layer_alert .alert_content {border:3px solid #222222 !important;}
.layer_alert .alert_header_ico {background:url(/smarts4j/resources/images/covision/Controls/Popup/ico_pop.gif) no-repeat 0 1px !important;  line-height:38px !important;  padding-left:16px !important; font-weight:bold !important;}


/*이미지 백그라운드 통합 2015.12.30*/
.frame h1{ position:absolute; top:0; left:0; padding:0px; margin-top:-55px; background:url(/smarts4j/resources/images/covision/logon/join_logon.png) no-repeat 0px -764px; width:160px; height:45px;}
.frame h1 img {display:none;}
.frame {background:url(/smarts4j/resources/images/covision/logon/join_logon.png) no-repeat 0px -971px; text-align:center; width:846px; height:574px; position:absolute; top:100px; left:50%; margin-left:-420px;}
.box_login em.btn_bs_l{float:left; display:block; width:77px; height:67px; margin-top:0; background:url(/smarts4j/resources/images/covision/logon/join_logon.png) no-repeat left -845px; font-style:normal; cursor:pointer;  }
body {background:url(/smarts4j/resources/images/covision/logon/join_logon.png) repeat-x left 0px;}
html, body {width:100%; min-height:690px;}

.join_warning {background:url(/smarts4j/resources/images/covision/Controls/Popup/join_popup.gif) no-repeat -5px -337px; width:26px; height:24px;display:inline-block;}


.layer_divpop .divpop_header {padding-left:8px !important; background:#444444 !important; color:#ffffff !important; height:40px !important; line-height:38px !important;}
.layer_divpop .divpop_header .txt_gn11 {color:#cccccc !important;}
.layer_divpop .divpop_contents {border:3px solid #444444 !important;}
.layer_divpop .divpop_header_ico {background:url(/smarts4j/resources/images/covision/Controls/Popup/ico_pop.gif) no-repeat 0 1px !important;  line-height:38px !important;  padding-left:16px !important; font-weight:bold !important; font-size:14px !important;}
.layer_tree .tree_scroll {height:460px !important;}
.layer_check input[type=checkbox] {margin-top:2px !important;}
.layer_searchlist_tab .menubar_gray {float:left;}

.btn_orange {background-color:#196fba !important;}
.pass_table th {font-weight:bold  !important; width:60px;}
.pass_table .input_td {font-size:11px; color:#888; height:30px;}
.btn_orange {margin-top:-5px !important;}
.btn_gray {margin-top:-5px !important;}
#password_setting {padding:30px 40px 30px 40px  !important;}
.pw_icon a {color:#fff;}
.pw_icon { background:url(/smarts4j/resources/images/covision/logon/join_logon.png) no-repeat left -1573px; height:17px; line-height:17px; text-align: left; right: 150px; bottom: 81px; color: white; padding-left: 35px; position: absolute;}