<!-- 리스트보기 -->
<div id="divWebpartBoardList" class="board_wrap portal">
	<div class="tab_wrap">
		<ul id="ulWebpartBoardListTab" class="g_tab sm_tab"></ul>
		<div class="tab_cont_wrap">
			<div class="tab_cont on">
				<div class="board_list" id="divBoardList">
					<table>
						<caption>
							<spring:message code="Cache.lbl_notice" />
						</caption>
						<colgroup>
							<col>
							<col style="width: 80px">
						</colgroup>
						<tbody id="tbBoardList"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>